.footer-page 
{  
    .title-footer
    {
       
        text-align: center;
        font-weight: bold;
        padding-top: 10vh;
        padding-bottom: 10vh;

        background-color:orange;
        color: #fff;
        text-transform: uppercase;
      
    }
    .content-footer

    {
       
       
        padding-top:10vh;
        text-align: justify;
        padding-bottom: 20vh;
        p {
            line-height: 2rem !important;
            
        }
    }
    
    .title-paragrap{
    
        margin: 0 0 25px;
        font-size: 30px;
        color: #3d5067;
        line-height: 1.3;
        font-weight: bold;
        list-style: none;
        text-align: left;
    } 
    ul ,li {
        line-height: 2rem !important;
    }
}


@media screen and (max-width: 992px) {

    .content-footer
    {
       
        padding-bottom: 5vh !important;
       


    }

    .title-footer
    {
        margin-top: 20px;
        padding-top: 5vh !important;
        padding-bottom: 5vh !important;

      
      
    }
    ul {
        list-style: none;
    }

    li {
         margin-left: -1rem;
        list-style:disc;
    }

   
}
.hozi-row
{
    display: flex;
 
    width: 100%;
}

.tikitech-2
{
  
    width: 50%;
    padding: 10px;

}