html {
    width: 100%;
    min-height: 100%;
    overflow-x: hidden;

    
}
body {
    min-height: 100%;
   
  
}
//list data
.list-product
{
 
    
    padding-top: 5vh;
    padding-bottom: 10vh;

    color: rgba(78, 89, 93, 0.7);
    a {
        text-decoration: none;
        color: rgba(78, 89, 93, 0.7);
    }
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  .card-product {
    //  padding: 10px;
      width: 33%;
 
     // box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
      position: relative;

      margin-bottom: 10px;
      margin-top: 10px;
   
    .card-product-item{
    box-shadow: rgb(9 30 66 / 25%) 0px 1px 1px, rgb(9 30 66 / 13%) 0px 0px 1px 1px;
    width: 96%;
    // margin: auto;
    padding: 10px;
    border: 5px;
    }
    .voucher
    {
        position:absolute;
        right: 0;
       
        width: 46px;
        height: 43px;
        display:block;
        background-color: red;
        color: #ffff;
        font-size: 0.8756rem;
        margin-right: 20px;
        margin-top: 10px;
        text-align: center;
        border-radius: 5px;
        

    }
      img {
           width: 100%;
           max-height: 400px;
        //    padding: 10px 0px;
      }
      h4.brand {
         
            margin-bottom: 4px;
            line-height: 1.125rem;
            font-size: 0.75rem;
            -webkit-letter-spacing: 0;
            -moz-letter-spacing: 0;
            -ms-letter-spacing: 0;
            letter-spacing: 0;
            font-weight: 400;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-align-items: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
       
      }
      .product-title {
        color: #4E595D;
        font-size: .875rem;
        margin-bottom: 2px;
        -webkit-letter-spacing: 0;
        -moz-letter-spacing: 0;
        -ms-letter-spacing: 0;
        letter-spacing: 0;
      
        overflow: hidden;
        text-overflow: ellipsis;

        line-height: 1.3em;
        height: 3em;       /* height is 2x line-height, so two lines will display */
        
    }
    .productInfo  {
        .price {
            
            display: flex;
             justify-content: space-between;
            .retail{
                text-decoration: line-through;
                font-size: 1rem;
                line-height: 1.63rem;
                margin-right: .5rem;
                color: rgba(78,89,93,0.7);
            }
            .sale{
                color: #16ACCF;
                font-weight: 700;
                font-size: 1.125rem;
                line-height: 1.33rem;
            }

        }
    }
   
  }
 
}
.row-bread-crumbs
{
     ul.bread-crumbs {
        padding: 10px 0px;
        list-style: none;
        margin-bottom: 0;
      
        li {
            display: inline;
            font-size: 15px;
          }


        li+li:before {
        padding: 8px;
        color: black;
        content: "/\00a0";
        }
        a {
            color: rgba(78, 89, 93, 0.7);
            text-decoration: none;
         }
         a:hover {
            color: #16accf;
         }
        
     }
     border-bottom: 1px solid rgba(78, 89, 93, 0.06);
     
}
.header-menu{
    height: 56px;
    display: flex;
    -webkit-box-align: stretch;
    align-items: stretch;
    box-shadow: rgb(39 39 39 / 8%) 0px 1px 0px 0px;
    .container
    {
        display: flex;
        .nav-sub-menu-header
        {  
             margin-left: auto;
           
             display: flex;
            height: 100%;
            .nav-menu-header-item
            {
                height: 100%;
                display:inline-flex;
                position: relative;

                a:hover {
                        color: #16ACCF;
                        border-bottom: 3px solid;
                        border-radius: 0px;
                    

                }
                

                .dropdown-menu {
                    display: none;
                    position: absolute;
                    background-color: #f9f9f9;
                    min-width: 160px;
                    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
               
                    z-index: 1;

                   
               }
              
              
                  

            }
          
            .nav-menu-header-item:hover .dropdown-menu  {
                    display: block;
                    margin-top: 0px;
                    /* border: none; */
                    border: none;
                    border-radius: 0px;
                    height: max-content;

                    li {
                        padding: 6px 3px
                       
                    }
                    .active
                    {
                        color: #4e595d;
                        text-decoration: none;
                        background-color: rgba(78,89,93,.15);
                       
                    }
                    li:hover {
                        color: #4e595d;
                        text-decoration: none;
                        background-color: rgba(78,89,93,.15);
                       
                       
                    }
                    a {
                      
                        min-width: 159px;
                        -webkit-box-align: center;
                        align-items: center;
                        color: rgb(78, 89, 93);
                        font-weight: 500;
                        font-size: 15px;
                        text-decoration: none;
                       
                    }
              }
            .cart-btn-menu{
                margin-left: 30px;
            }

            text-align: right;
            align-items: center;
            .btn::after{
                display: inline-block;
                width: 0px;
                height: 0px;
                margin-left: 0.3em;
                vertical-align: middle;
                content: "";
                border-top: 0.3em solid;
                border-right: 0.3em solid transparent;
                border-left: 0.3em solid transparent;
            }
            .btn  {
                button {
                    border:none;
                }
            }
         }
    }

    .logo {
        max-width:150px;
        height: 100%;
        display: flex;
        align-items: center;
        img {
            width: auto;
            height: 50px;
        }

    }
}

.slide-banner-sale
{
    width: 100%;
    height: calc(100vh - 80px);
    img {
        width: 100%;
        height: 100%;
     
    }
}
.foooterSC
{
    .fw-bold {
        font-weight: bold;
        margin-top: 20px;
    }
    a {
        display:block;
        color: #4e595d;
    }
}


.section-homepage
{
        padding-top: 10px;
        .title-section {
            font-weight: bold;
            text-align: center;
            padding-top: 20px;
            padding-bottom: 20px;
            font-size: 20px;
            text-transform: uppercase;
        }
        .banner-item
        {
            width: 100%;
            align-items: center;
            img {
                width: 100%;
                padding: 10px 0px;
             }
          

            .banner-item-description
            {
                display: flex;
            
                p:last-child {
                    margin-left: auto;
                }

            }

            .banner-item-upcommimg {
                text-align: center;
            }
        
        }
       
}

.fw-bold
{
    font-weight: bold;
    
}
.footerColumn  {
    a {
        display: block;
        color: #000;
    }

  
}


.soc-likes a {
    background-image: url(https://tikitech.vn/resources/images/social/icon-fb.svg);
}


.nav-mobile {
    width: 100%;
    height: 50px;

    position: relative;
    display: flex;
    .navbar-open-menu {
        display: flex;
        align-items: center;
        padding: 0px 10px;
    }
    .navbar-cart {
        margin-left: auto;
        display: flex;
        align-items: center;
        padding: 0px 10px;
    }
    .navbar-mobile-logo {
        justify-content: center;
        display: flex;
        height: 100%;
        flex: 1 1 0%;

        img {
            width: 100%;
            height: 50px;
        }
    }
}

button:hover {
    background-color: orange !important;
}


.nav-mobile
{
    display : none;
}
@media screen and (max-width: 992px) {
    .header-menu
    {
       display: none;
        
    }

    .nav-mobile {

        display: flex;
    }
    
    .slide-banner-sale {
        width: 100%;
        height: calc(40vh - 80px);
    }
    .footer-cs {
        text-align: center;
        font-size: 14px;
    }
    .footerColumn 
    {
        margin-bottom: 10px;
        margin-top: 10px;
    }
    .upcommimg {
        text-align: center;
        .banner-item {
            img {
                width: 90%;
            }
        }
    }
}


.menu-mobile {
    .close-btn{
        position: absolute;
        right: 0px;
        top: 0px;
        display: flex;
        width: 48px;
        height: 48px;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
    }

    z-index: 1;
    background-color:#fff;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 0%;
    opacity: 1;
    position: fixed;
    height: 100%;
    overflow-x: hidden;

    .header-nav{
        width: auto;
        text-align: center;
        height: auto;
        img {
            width: 80%;
            height: 80px;
        
    }
        .welcome-text
        {
            padding: 8px 0px;
            width: 100%;
            text-align: center;
            box-shadow: rgb(78 89 93 / 15%) 0px -1px 0px 0px inset;
            font-size: 14px;
        }
    }
    .content-menu
    {
        height: 100%;
        width: 100%;
        a {
            color: rgb(78, 89, 93);
        }
        .item {
            height: 54px;
            width: 100%;
            display: flex;
            -webkit-box-pack: start;
            justify-content: flex-start;
            padding-left: 0.5rem;
            box-shadow: rgb(78 89 93 / 15%) 0px -1px 0px 0px inset;
            text-transform: uppercase;
            align-items: center;
            .menu-text {
                margin-left: .5rem!important;
            }
            
        }
        .bottom-mobile-menu
        {
            height: 60px;
            background-color: #000;
        }
     }
    
}

.cart-order {
    .close-btn{
        position: absolute;
        left: 0px;
        top: 0px;
        display: flex;
        width: 48px;
        height: 48px;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
    }
    .header-nav
    {
        background-color: rgba(83, 94, 99, 0.06);
        .order-title {
            font-weight: bold;
        }
        padding: 5px;
    }


    z-index: 1;
    background-color: #fff;
    top: 0;
    right: 0;
    height: 100%;
    // left: 0;
    // bottom: 0;
    width: 0%;
    opacity: 1;
    position: fixed;
  
    overflow-x: hidden;

    .header-nav{
        width: auto;
        text-align: center;
        height: auto;
        img {
            width: 80%;
           

        }
        .welcome-text
        {
            padding: 8px 0px;
            width: 100%;
            text-align: center;
            box-shadow: rgb(78 89 93 / 15%) 0px -1px 0px 0px inset;
            font-size: 14px;
        }
    }
    .content-cart
    {
        color: rgb(78, 89, 93);
       
        width: 99%;
        padding: 10px;
        .cart-item
         {
                 margin-bottom: 15px;
                padding-bottom: 15px;
                width: 100%;
                display: flex;
               
              border-bottom: 1px solid rgba(78, 89, 93, 0.06);
              .product-image
              {
                  width: 25%;
                
                 img {
                     width: 100%;
                     padding-top: 10px;
                     padding-bottom: 10px;
                 }

              }
              .product-info {
                  width: 75%;
                  padding: 6px;

                
                  .product-name{
                      font-size: 0.875rem;
                      font-weight: 500;
                  }
                  .product-details 
                  {
                     display: flex;
                     justify-content: space-between;
                      form {
                        width: 100px;
                    
                         select {
                                height: 36px;
                                display: inline-block;
                                width: 60px;
                               padding: .375rem 1.75rem .375rem .75rem;
                                line-height: 1.5;
                                color: #495057;
                                vertical-align: middle;
                                background-size: 8px 10px;
                                border: 1px solid rgba(78,89,93,.3);
                                border-radius: 0;
                                -webkit-appearance: none;

                         }
                      }
                      .remove {
                        font-size: 0.875rem;
                        color: rgb(12, 142, 171);
                        cursor: pointer;

                      }
                       .price {
                        margin-bottom: 6px;
                        margin-top: 5px;
                        .retail {
                            color: rgba(78, 89, 93, 0.7);
                            font-weight: 400;
                            text-decoration: line-through;
                            display: block;
                            font-size: 0.875rem;
                            margin-bottom: 2px;
                        }
                        .sale {
                            font-weight: 500;
                            display: block;
                            font-size: 1rem;
                        }
                    }
                  }
              }
             
             
        }

      
       
      
     }
     .bottom-cart 
     {
        width: 99%;
        padding: 10px;
        .summary-money
        {
             h4 {
                 font-weight: bold;
             }
            display:flex;
            justify-content: space-between;
            .summary-price {
                text-align: right;
                 p:first-child
                 {
                     font-weight: bold;
                 }
            }
           
        }
        .short-description {
                 display: flex;
                justify-content: space-between;
        }
        .btn-checkout {
            width: 100%;
            display: block;
          
             button {
                background-color: #16accf;
                border-color: #16accf;
                color: #fff;
                width: 100%;
                border: 1px solid transparent;
                padding: .6875rem 3.031rem;
                line-height: 1.5;
                border-radius: 0;
                transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
             }
             button:hover {
                 background-color: orange;
             }
        }
     }

     .cart-empty
     {
         width: 80%;
         height: 100%;
        margin: auto;
        text-align: center;
         img {
             width: 80%;
             
         }

        .btn-checkout {
            width: 100%;
            display: block;
          
             button {
                background-color: #16accf;
                border-color: #16accf;
                color: #fff;
                width: 100%;
                border: 1px solid transparent;
                padding: .6875rem 3.031rem;
                line-height: 1.5;
                border-radius: 0;
                transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
             }
        }

     }
    
}




@media only screen and (max-width: 992px) {

    .list-product {
        padding-top: 2vh !important;
        padding-bottom: 2vh !important;
      
    }
    .card-product {
        margin-bottom: 10px;
        margin-top: 10px;
        width: 50% !important;
        h4 {
            word-break: break-all;
        }

        .card-product-item{
            box-shadow: rgb(9 30 66 / 25%) 0px 1px 1px, rgb(9 30 66 / 13%) 0px 0px 1px 1px;
            width: 10%;
            // margin: auto;
            padding: 10px;
           
         }


        .productInfo  {
            .price {
                display: flex !important;
           
                .retail{
                    font-size: 0.7rem !important;
                    line-height: 1.63rem;
                    // margin-right: unset;
                   
                    
                }
                .sale{
                  
                    color: #16ACCF;
                    font-weight: 700;
                    font-size: 0.9rem !important;
                    line-height: 1.33rem;
                    margin-left: auto;
                }
    
            }
        }
    }
  }

  .product-detail-page {
    color: #4e595d;
    .slidebanner{
        img {
            width: 100%;
        }
    }
    .navbar-checkout
    {
        margin-top: 20px;
        margin-bottom: 24px;
        margin-left: auto;
       
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #16accf;
        a {
            color: #ffffff;
            
            
        }
        
    }
    .navbar-checkout:hover {
        background-color: orange;
        a {
            color: #ffffff;

        }
    }
    .product-info{
        margin-bottom: 16px;
        h4 {
            font-size: 1.125rem;
            line-height: 1.5rem;
            letter-spacing: -.5px;
            color: #4e595d;
            font-weight: 700;
        }
        h1 {
            font-size: 1.25rem;
            color: rgb(78, 89, 93);
            font-weight: 400;
            font-family: inherit;
            line-height: 1.5rem;
            letter-spacing: -0.5px;
            margin-bottom: 0.5rem;
        }
        .price {
            display: flex;
            
            .retail {
                color: rgba(78,89,93,0.7);
                font-weight: font-weight-base;
                -webkit-text-decoration: line-through;
                text-decoration: line-through;
                font-size: 1.25rem;
                padding-right: 8px;
            }
            .sale {
                color: #16ACCF;
                font-weight: 700;
                font-size: 1.5rem !important;
                margin-left: auto;
            }

        }

       
    }
  }

  .product-timer
  {

  text-align: center;
  .title-product
  {
  font-size: 14px;
  }
  .row-timer
  {
  display: flex;
  width: 100%;
  justify-content: center;
  .timer-item{
      padding: 0 8px;
      text-align: center;
      text-transform: uppercase;
      .round-timer
      {
          font-weight: bold;
          border-radius: 11.5px;
          background-color: #F2F6FA;
          font-size: 1rem;
          font-weight: 700;
          padding: 0 .5rem;
      }

  }
  }


  }


  .additional-info {
    margin-top: 24px;
   
    .addition-nal-item {
        font-weight: 400;
        font-size: .875rem;
        padding-bottom: 5px;
        display: flex;
        .icon {
            margin-right: 12px;
        }
       
        .date-delivery {
            font-weight: 700;
            margin-left: 5px;
        }
    }
}

.section-content {
    padding: 0px 10px;

  

    border-top: 1px solid rgba(78, 89, 93, 0.15);
    border-bottom: 1px solid rgba(78, 89, 93, 0.15);
    .titile-section {
        padding-top: 15px;
        padding-bottom: 15px;
       
        display: flex;
        .title {
            margin-bottom: 0;
            text-transform: uppercase;
            font-weight: 400;
            line-height: 1.36;
            color: #4e595d;
        }

        .expaind {
            margin-left: auto;
        }
    }
    .content-section{
    
        display: none;
        overflow: hidden;
        // background-color: #f1f1f1;
    }
    
    .open .expaind svg:last-child {
       display: none;

    }
    .open .title {
        font-weight: bold;
    }
    .titile-section:not(.open) .expaind svg:first-child {
        display: none;
    }

   

}

.brand-info  {
    img {
        max-width: 120px;
    }
    .heading {
        margin-top: 18px;
    font-size: 1.125rem;
    line-height: 1.5rem;
    letter-spacing: -0.5px;

    }
    .desc{
        font-weight: 400;
        font-size: 0.875rem;
        color: rgb(78, 89, 93);
        line-height: 1.7;
    }
}


.section-introduction
{
    border-bottom: 1px solid rgba(78, 89, 93, 0.15);
    .info-image {
        width: 80px;
        display: block;
        margin: 16px auto;
        padding-right: 0;
        img {
            width: 100%;
        }
    }
    .info-text {
        text-align: center;
    
        .title-text {
            font-size: .875rem;
            font-weight: 500;
            text-transform: uppercase;
            padding-bottom: 8px;
    
        }
        ul {
            padding-left: 24px;
            text-align: left;
            font-size: 0.875rem;
        }
        li {
            padding-bottom: 8px;
            margin-left: 6px;
            line-height: 150%;
            
        }
     
    }
}


.slider-nav-thumbnails {
    width: 100%;
     img {
         width: 100%;
     }
}
.slider-nav-thumbnails .slick-slide {
	opacity: 0.5;
}

.slider-nav-thumbnails .slick-slide.slick-active {
	opacity: 1;
  background: orange;
}


.account-page
{
    width: 100%;
    height: 100%;
    display: flex;
    padding-top: 10vh;
    padding-bottom: 10vh;
    .area-menu-account
    {
     
        height: 100vh;
        width: 20%;
        
        a {
            text-decoration: none;
            color: #212529;
        }

        li {
            padding: 10px 0px;
            font-size: 1.1rem;
            list-style: none; 
            width: 100%;           
        }
        li.activepage {
            color: #16accf;
            text-decoration: none;
        }
        li:hover{
            color: #16accf;
            text-decoration: none;
           
        }
    }
    .content-account{
        width: 80%;
        padding: 10px;
        form {
            max-width: 600px;
        }
        input {
            height: 50px;
        }
        .title-page
        {   
            margin-bottom: 10px;
            display: block;
            font-weight: bold;
            font-size: 1.2rem;
            text-transform: uppercase;
            
        }
        .title-child
        {
            margin-top: 30px;
            margin-bottom: 30px;
            font-weight: bold;
        }
        .bottomSave
        {
            button {
                padding: 10px 40px;
                
                background-color: #ffff;
                border: 1px solid rgb(78, 89, 93); 

            }
            button.save {
                background-color : #16accf;
                border: #16accf;
                color: #fff;
            }
            button.btnCancel {
                
                border: 1px solid #ddd;
            }
            
        }
    }

}

@media only screen and (max-width: 992px) {
    .account-page
    {
        width: 100%;
        padding-top: 2vh;
        
        .area-menu-account
        {
            display: none;
    
        }
        .content-account{
            width: 100%;
            .title-page
            {
                text-align: center;
            }
            
            .title-child:first-child {

                margin-top: 15px;
                margin-bottom: 20px;
    
            }

        }
        form{
            width: 100%;
        }

      

    }
   
  }

  .order-page
  {
      .titlePage{
        h1{
            font-size: 1.4rem;
        }
        
        margin-bottom: 30px;
        margin-top: 30px;
      }
      margin-bottom: 10vh;
  }

 

  .checkout-cart

  {
      width: 100%;
      display: flex;
      .table-order
      {
          
        //   border-radius: 4px;
          background-color: #ffffff;
          padding: 0px 10px 0px 0px;
          width: 70%;
          border-right: 1px dashed;
          .product-heading
          {
        
              justify-content: center;
              padding:10px 0px;
           
          }

          input[type="checkbox"] {

            width: 18px;
            height: 18px;
            border: 1px solid rgb(196, 196, 207);
            border-radius: 4px;
            display: inline-block;
            vertical-align: middle;
            margin: 0px 12px 0px 0px;
            position: relative;
            z-index: 1;
            color: rgb(196, 196, 207);
            background: transparent;
            cursor: pointer;
          }
          .infomation-page {
              display: flex;
              width: 100%;
              
            -webkit-box-pack: start;
            justify-content: flex-start;
            -webkit-box-align: center;
            align-items: center;
          }
          .recordInformation
          {
              display: flex;
              margin-top: 20px;

              .intended__checkbox {
                position: relative;
                top: 15px;
              }
    
              .intended__img {
                width: 80px;
                height: 80px;
                display: inline-block;
                img {
                    width: 100%;
                }
    
            }
            .intended__content {
                width: calc(100% - 100px);
                padding-left: 10px;
                position: relative;
            }
            .intended__name {
                display: -webkit-box;
                text-overflow: ellipsis;
                overflow: hidden;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                font-size: 13px;
                color: rgb(36, 36, 36);
                margin-bottom: 5px;
                line-height: 20px;
            }
          }
          .priceProduct{
            font-weight: 500;
            color: rgb(36, 36, 36);
            font-size: 13px;
            display: inline-block;
            margin-right: 5px;
          }
          .quantity-order
          {
              width: 100%;
              display: flex;
              .qty-input {
                border: none;
                background: transparent;
                width: 32px;
                text-align: center;
                font-size: 13px;
                appearance: none;
                margin: 0px;
                outline: none;
              }

              span {
                  background: #ccc;
              }
            
          }
          .intended__final-prices {
            color: rgb(255, 66, 78);
            font-size: 13px;
            font-weight: 500;
            line-height: 20px;
            display: block;
        }
        .intended__delete{
            text-align: center;
        }
          
         
      }

      .checkout-received
      {
          width: 30%;
          
          
          .section-panel
          {
            background: rgb(255, 255, 255);
            padding: 0px 15px;
            margin-bottom: 8px;
            border-radius: 4px;
            margin-bottom: 20px;

            .row-item {
                display: flex;
                p:last-child {
                    margin-left: auto;
                }  
                .sum-amount {
                    text-align: right;
                    strong{
                                font-weight: bold;
                                color: red;
                           } 
                  }         
            }
            .btn-order{
                width: 100%;
                button{
                    width: 100%;
                    padding: 10px 0px;
                    background-color: red;
                    color: #ffffff;
                    border: none;
                }
                button:hover {
                    background-color: #16ACCF;
                }
            }


           

            .menu-bar-received{
                display: flex;
                a{
                    margin-left: auto;
                }
                padding: 10px 0px;
    
               
            }
            .name, .phone {
                font-size: 15px;
                display: inline-block;
                font-weight: 500;
                color: rgb(36, 36, 36);
            }
            .name {
                margin-right: 10px;
            }
            .address {
                margin: 0px;
                color: rgb(120, 120, 120);
                font-size: 13px;
            }
          }

  
       
      
      }

  }


  .order-method-cart
  {

   padding-top: 20px;
   padding-bottom: 20px;
   margin-bottom: 20vh;
    .titlechildren{
        h1{
            font-size: 1rem;
        }
    
      }
  }

  .method-giaohang 
  {
     align-items: center;
   
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px dashed #16ACCF;
    border-radius: 5px;
      .list {
        margin: 0px;
        padding: 0px;
        list-style: none;
        li:hover input ~ .checkmark {
            background-color: #ccc;
        }
          
        li {
            font-size: 1rem;
            display: flex;
            align-items: center;
            .method-content
            {
                margin-left: 20px;
            }


          
              /* When the checkbox is checked, add a blue background */
           
        }
        .row-item
        {
            margin-bottom: 20px;
        }
      }

  }

  
    .method-giaohang {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

.method-checkout
{
    display: flex;
      .btn-order{
        
        width: 50%;
        button{
            text-transform: uppercase;
            width: 100%;
            padding: 10px 0px;
            background-color: #16accf;
            color: #ffffff;
            border: none;
        }
        button:hover {
            background-color: #16ACCF;
        }
        margin-right: 10px;
    }
    
    .btn-review
    {
    
  
        width: 50%;
        button{
            text-transform: uppercase;
            width: 100%;
            padding: 10px 0px;
            background-color: #16ACCF;
            color: #ffffff;
            border: none;
        
        }
        button:hover {
            background-color: red;
        }
    }

}

.sucess-order

{
    max-width: 600px;
    margin: auto;
    margin-top: 20vh;
    text-align: justify;
    h1 {
        font-weight: bold;
        font-size: 25px;
        text-align: center;
    }
    .description
    {
        width: 90%;
        margin: auto;
        text-align: center;
        color: #000;
        padding: 20px 0px;
        .orderCode
        {
                font-weight: bold;
                text-transform: uppercase;
                margin-left: 10px;
        }
        
    }
   
    .btn-checkout
    {
        width: 90%;
        margin: auto;
        button 
        {
            display: block;
            padding: 10px;
            border: none;
            width: 100%;
            margin-bottom: 10px;
            
        }
        .process
        {
            background-color: rgb(238, 166, 33);
            color: #fff;
        }

        button:hover{
            background-color: #16ACCF;
            color: #fff;
            

        }
        a:hover {
            text-decoration: none;
        }
    }

}
a.btn-addNewAddress:hover {
    color:#16accf;
}

a.btn-addNewAddress

{
    margin-top: 20px;
    display: flex;
    min-height: 42px;
    padding: 16px;
    cursor: pointer;
    border: 1px solid rgb(222, 226, 230);
    text-align: center;
    text-decoration: none;
    color: rgb(78, 89, 93);

    max-width: max-content;

    span {
        margin-right: 10px;

        width: 16px;
        height: 16px;
        display: inline-block;
        margin-right: 8px;
    }

}

.address-card

{
    margin-top: 10px;
    width: 49%;
    margin-right: 1%;

    border: 1px solid rgb(222, 226, 230);
    padding: 10px;


    .heading-card 
    {
        justify-content: space-between;
        display: flex;

        margin-bottom: 10px;

        a {
            color: #16accf;
        }
    
    }


    .btnDelete
    {
        a {
            color: red;
        }
        a:hover {
            color: #ffffff;
            background-color: #16accf ;
        }
       
      
    }


}

.list-address
{
    display: flex;

    width: 100%;
    flex-wrap: wrap;

}

             
@media screen and (max-width: 600px) {
    .address-card
    {
        width: 100% !important;
        margin-right: 0px;
    }

}

.edit-address
{
    display: none;
}
.search-order
{
    .heading
    {
        display: flex;
        justify-content: space-between;
        .order-code
        {
            font-weight: bold;
        }
        margin-bottom: 10px;
        background-color: rgba(78, 89, 93, 0.06);
        padding: 8px 12px;

    }
    .content-order
    {
        .row-item
        {   
            
            padding-top: 20px;
            padding-bottom: 20px;

            width: 100%;
            display: flex;
            flex-wrap: wrap;
            .image-product
            {
                width: 20%;
                padding: 5px;

                img {
                    width: 98%;
                    margin: auto;
                }
            }
            .descript-product-ordered
            {
                width: 80%;
            
                .title
                {
                    margin-top: 10px;
                    font-weight: 500;
                }
                .quatinity{
                    color:#4e595d;
                }

                .prices
                {
                    color:#4e595d;
                }
                span {
                    display: block;
                }
            }
        }

        border-bottom: 1px solid rgb(222, 226, 230);
    }
}

.bold-text
{
    font-weight: bold;
}

.order-infomation
{
    .order-heading
    {
        width: 100%;
        display: flex;
        .colum1
        {
            width: 20%;
        }
        .colum2
        {
            width: 30%;
        }
    
        .colum3
        {
            width: 20%;
        }
    
        .colum4
        {
            width: 30%;
        }
    }
   
}

.order-info-content
    {
        display: flex;
        width: 100%;

        .colum1
        {
            width: 20%;
        }
        .colum2
        {
            width: 30%;
        }
    
        .colum3
        {
            width: 20%;
        }
    
        .colum4
        {
            width: 30%;
            .money-item-row {
                justify-content: space-between;
                display: flex;
            }
        }
         
        
    }

    .mobile 
    {
        display: none;

    }
             
    @media screen and (max-width: 600px) {
        
        .search-order .content-order .row-item .image-product {
            width: 25%;
        
        }
        .search-order .content-order .row-item .descript-product-ordered {
            width: 75%;
        }
        .descript-product-ordered
        {
        
            span {
                display: block;
            }
        }
        .desktop
        {
            display: none;
        }
        .order-info-content
        {
            display: none;
        }

        .search-order
        {
            .heading
            {
                font-size: 0.8rem;
                text-align: right;
                .order-code
                {
                    text-align: left;
                }
            }

        }
       .mobile {
           display: block;
           width: 100%;
           .rowItemViewMobile{
               width: 100%;
               .title {
                   font-weight: bold;
               }
               .description
               {
                   text-align: justify;
               }

               .money-item-row {
                justify-content: space-between;
                display: flex;
            }

           }


           .center-left-right
           {
               display: flex;
               width: 100%;
               justify-content: space-between;
                 .colum-right
               {

               }
           }
       }
    
    }

    .changePasswordArea
    {
       justify-content: space-between;
       display: flex;
       align-items: center;
       .changePassword
       {
           color: #16accf;
       }

    }







   
//    padding: 10px;
//     text-align: right;
//     background-color: #e5e5e5;
    a.brand
    {
            padding: 10px;
        
            color: #16accf;
            text-decoration: none;
             padding: 5px;  
             border: #16accf 1px solid;
             border-radius: 5px;
        
    }

    