html {
    width: 100%;
    min-height: 100%;
    overflow-x: hidden;

    
}
body {
    min-height: 100%;
  
}

.nav-mobile {
    width: 100%;
    height: 50px;

    position: relative;
    display: flex;
    .navbar-open-menu {
        display: flex;
        align-items: center;
        padding: 0px 10px;
    }
    .navbar-cart {
        margin-left: auto;
        display: flex;
        align-items: center;
        padding: 0px 10px;
    }
    .navbar-mobile-logo {
        justify-content: center;
        display: flex;
        height: 100%;
        flex: 1 1 0%;
    }
}


.back-to-list{
    position: absolute;
    z-index: 1;
    top :10;
    right: 10;
    background-color: rgba(78,89,93,0.7);

    margin-left: 10px;
    margin-top: 20px;
    text-align: center;
    border-radius: 50%;

    width: 40px;
    height: 40px;
    display: flex;
    svg  {
        margin: auto;
        fill: white;
    };

}


.menu-mobile {
    .close-btn{
        position: absolute;
        right: 0px;
        top: 0px;
        display: flex;
        width: 48px;
        height: 48px;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
    }

    z-index: 10;
    background-color:#fff;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 0%;
    opacity: 1;
    position: fixed;
    height: 100%;
    overflow-x: hidden;

    .header-nav{
        width: auto;
        text-align: center;
        height: auto;
        img {
            width: 80%;
            height: 100px;
        }
        .welcome-text
        {
            padding: 8px 0px;
            width: 100%;
            text-align: center;
            box-shadow: rgb(78 89 93 / 15%) 0px -1px 0px 0px inset;
            font-size: 14px;
        }
    }
    .content-menu
    {
        height: 100%;
        width: 100%;
        a {
            color: rgb(78, 89, 93);
        }
        .item {
            height: 54px;
            width: 100%;
            display: flex;
            -webkit-box-pack: start;
            justify-content: flex-start;
            padding-left: 0.5rem;
            box-shadow: rgb(78 89 93 / 15%) 0px -1px 0px 0px inset;
            text-transform: uppercase;
            align-items: center;
            .menu-text {
                margin-left: .5rem!important;
            }
            
        }
        .bottom-mobile-menu
        {
            height: 60px;
            background-color: #000;
        }
     }
    
} 


.content-page {
    width: 100%;


    .mobile-slidebanner {
        position: relative;
        .imageitem {
            img {
                width: 100%;
            }
        }
    }
}

.section-content {
    padding: 0px 10px;
    border-top: 1px solid rgba(78, 89, 93, 0.15);
    border-bottom: 1px solid rgba(78, 89, 93, 0.15);
    .titile-section {
        padding-top: 15px;
        padding-bottom: 15px;
       
        display: flex;
        .title {
            margin-bottom: 0;
            text-transform: uppercase;
            font-weight: 400;
            line-height: 1.36;
            color: #4e595d;
        }
        .expaind {
            margin-left: auto;
        }
    }
    .content-section{
    
        display: none;
        overflow: hidden;
        // background-color: #f1f1f1;
    }
    
    .open .expaind svg:last-child {
       display: none;

    }
    .open .title {
        font-weight: bold;
    }
    .titile-section:not(.open) .expaind svg:first-child {
        display: none;
    }

   

}

.section-introduction
{
    border-bottom: 1px solid rgba(78, 89, 93, 0.15);
    .info-image {
        width: 80px;
        display: block;
        margin: 16px auto;
        padding-right: 0;
        img {
            width: 100%;
        }
    }
    .info-text {
        text-align: center;
    
        .title-text {
            font-size: .875rem;
            font-weight: 500;
            text-transform: uppercase;
            padding-bottom: 8px;
    
        }
        ul {
            padding-left: 24px;
            text-align: left;
            font-size: 0.875rem;
        }
        li {
            padding-bottom: 8px;
            margin-left: 6px;
            line-height: 150%;
            
        }
     
    }
}

.foooterSC
{
    .fw-bold {
        font-weight: bold;
        margin-top: 20px;
    }
    a {
        display:block;
        color: #4e595d;
    }
}


.nav-mobile-bottom
{
    height: 40px;
    display: flex;
    position: fixed;
    bottom: 0;
    left:0;
    width: 100%;
    background-color: #ffffff;
    .btncart{
        width: 140px;
        margin-right: 10px;
        background-color: #ffffff;
        box-shadow: 0 0 0 1px rgb(78 89 93 / 15%);

        text-align: center;
        svg {
            height: 100%;
           
        }
       
    }
    .navbar-checkout
    {
        margin-left: auto;
       
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #16accf;
        a {
            color: #ffffff;
          

        }
       
       
    }
}


.product-description
{
    width: 100%;
    padding: 0px 10px;
    a {
        h4 {
            font-size: .875rem;
            font-weight: 700;
            margin-bottom: 2px;
            line-height: 1.5rem;
            letter-spacing: -.5px;
        }
    }
    .titleProduction {
        font-size: 1.25rem;
        color: #4E595D;
        font-weight: 400;
        font-family: inherit;
        line-height: 1.5rem;
        -webkit-letter-spacing: -.5px;
        -moz-letter-spacing: -.5px;
        -ms-letter-spacing: -.5px;
        letter-spacing: -.5px;
        margin-bottom: .5rem;
    }
    .price {
        display: flex;
        justify-content: space-between;
        .retail {
            color: rgba(78,89,93,0.7);
            font-weight: font-weight-base;
            -webkit-text-decoration: line-through;
            text-decoration: line-through;
            font-size: 1.25rem;
            padding-right: 8px;
        }
        .sale {
            color: #16ACCF;
            font-weight: 700;
            font-size: 1.5rem !important;
        }
    }

    a:hover {
        color: #16accf;
    }
}

.empty {
    margin-top: 20px;
    margin-bottom: 24px;
}

.product-timer
{

    text-align: center;
    .title-product
    {
        font-size: 14px;
    }
    .row-timer
    {
        display: flex;
        width: 100%;
        justify-content: center;
        .timer-item{
            padding: 0 8px;
            text-align: center;
            text-transform: uppercase;
            .round-timer
            {
                font-weight: bold;
                border-radius: 11.5px;
                background-color: #F2F6FA;
                font-size: 1rem;
                font-weight: 700;
                padding: 0 .5rem;
            }

        }
    }
}

.additional-info {
    margin-top: 24px;
   
    .addition-nal-item {
        font-weight: 400;
        font-size: .875rem;
        padding-bottom: 5px;
        display: flex;
        .icon {
            margin-right: 12px;
        }
       
        .date-delivery {
            font-weight: 700;
            margin-left: 5px;
        }
    }
}




.cart-order {
    .close-btn{
        position: absolute;
        left: 0px;
        top: 0px;
        display: flex;
        width: 48px;
        height: 48px;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
    }
    .header-nav
    {
        background-color: rgba(83, 94, 99, 0.06);
        .order-title {
            font-weight: bold;
        }
        padding: 5px;
    }


    z-index: 100;
    background-color: #fff;
    top: 0;
    right: 0;
    height: 100%;
    // left: 0;
    // bottom: 0;
    width: 0%;
    opacity: 1;
    position: fixed;
  
    overflow-x: hidden;

    .header-nav{
        width: auto;
        text-align: center;
        height: auto;
        img {
            width: 80%;
           
           

        }
        .welcome-text
        {
            padding: 8px 0px;
            width: 100%;
            text-align: center;
            box-shadow: rgb(78 89 93 / 15%) 0px -1px 0px 0px inset;
            font-size: 14px;
        }
    }
    .content-cart
    {
        color: rgb(78, 89, 93);
       
        width: 99%;
        padding: 10px;
        .cart-item
         {
                 margin-bottom: 15px;
                padding-bottom: 15px;
                width: 100%;
                display: flex;
               
              border-bottom: 1px solid rgba(78, 89, 93, 0.06);
              .product-image
              {
                  width: 25%;
                
                 img {
                     width: 100%;
                     padding-top: 10px;
                     padding-bottom: 10px;
                 }

              }
              .product-info {
                  width: 75%;
                  padding: 6px;

                
                  .product-name{
                      font-size: 0.875rem;
                      font-weight: 500;
                  }
                  .product-details 
                  {
                     display: flex;
                     justify-content: space-between;
                      form {
                        width: 100px;
                    
                         select {
                                height: 36px;
                                display: inline-block;
                                width: 60px;
                               padding: .375rem 1.75rem .375rem .75rem;
                                line-height: 1.5;
                                color: #495057;
                                vertical-align: middle;
                                background-size: 8px 10px;
                                border: 1px solid rgba(78,89,93,.3);
                                border-radius: 0;
                                -webkit-appearance: none;

                         }
                      }
                      .remove {
                        font-size: 0.875rem;
                        color: rgb(12, 142, 171);
                        cursor: pointer;

                      }
                       .price {
                        margin-bottom: 6px;
                        margin-top: 5px;
                        .retail {
                            color: rgba(78, 89, 93, 0.7);
                            font-weight: 400;
                            text-decoration: line-through;
                            display: block;
                            font-size: 0.875rem;
                            margin-bottom: 2px;
                        }
                        .sale {
                            font-weight: 500;
                            display: block;
                            font-size: 1rem;
                        }
                    }
                  }
              }
             
             
        }

      
       
      
     }
     .bottom-cart 
     {
        width: 99%;
        padding: 10px;
        .summary-money
        {
             h4 {
                 font-weight: bold;
             }
            display:flex;
            justify-content: space-between;
            .summary-price {
                text-align: right;
                 p:first-child
                 {
                     font-weight: bold;
                 }
            }
           
        }
        .short-description {
                 display: flex;
                justify-content: space-between;
        }
        .btn-checkout {
            width: 100%;
            display: block;
          
             button {
                background-color: #16accf;
                border-color: #16accf;
                color: #fff;
                width: 100%;
                border: 1px solid transparent;
                padding: .6875rem 3.031rem;
                line-height: 1.5;
                border-radius: 0;
                transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
             }
        }
     }

     .cart-empty
     {
         width: 80%;
         height: 100%;
        margin: auto;
        text-align: center;
         img {
             width: 80%;
             
         }

        .btn-checkout {
            width: 100%;
            display: block;
          
             button {
                background-color: #16accf;
                border-color: #16accf;
                color: #fff;
                width: 100%;
                border: 1px solid transparent;
                padding: .6875rem 3.031rem;
                line-height: 1.5;
                border-radius: 0;
                transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
             }
        }

     }
    
}

