.tool-box-nav {

      
    position:fixed;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin: 0;
    height: 300px;
    width: 95px;
    color:#fff;

    .list{
        margin-bottom: 0;
        background: #16accf;
        padding: 10px 0;
        border-radius: 5px;
        

        ul,li {
            padding: 10px 8px;
            position: relative;
            text-align: center;
            transition: all .25s ease, transform .25s ease;
            width: 90px;
            font-size: 12px;
            cursor: pointer;
            border-radius: 5px;

                a {
                    display: block;
                    position: relative;
                    color: #fff;
                }
                a:hover {
                    text-decoration: none;
                    color: orange;
                }
            img {
                width: 100%;
            }
            img:hover {
                width: 100%;
            }
    }
}

}


.tool-bar-introlduction
{   
     border-radius:10px;
    padding: 5px 9px;
    line-height: 28px;
    // box-shadow: 1px 1px 5px grey;

    border-color: #01904a;
    background-color: #01904a;
    color:#fff;
    max-width: 200px;
    
    right: 0;

}


