<%if (typeof uuid === 'undefined') { var [t, tt] = process.hrtime(); var uuid =
t * 1000000000 + tt; }%>

   


    <div class="ai-makeup__products__grid" id="aiMakeupProductGrid521637098493a1">
 
    <div class="ai-makeup__products__grid__container " id="listCategoryMobileNew">
      
        
     
    </div>

</div>

    <%-include('../section.ejs', {title: `Danh sách thương
hiệu`, content: './brands/brands-grid.ejs', data: {uuid}}) %>
        <%-include('../section.ejs',{title: `Sản phẩm gợi ý`, content:
'./products/products-grid.ejs', data:{uuid}}) %>
            <script>
                if (!window.productsPageModule) {
                    window.productsPageModule = (function() {
                        function startup(uuid) {
                            if (!uuid) {
                                uuid = '<%= uuid %>';
                            }
                            render(uuid);
                        }

                        function render(uuid) {
                            if (!uuid) {
                                uuid = '<%= uuid %>';
                            }
                            brandsGridModule.registerHandlers(uuid, {
                                toggleActive: {
                                    isPreventDefault: false,
                                    fn: function(e) {
                                        var activatedBrandId = brandsGridModule.getActivatedBrandId(uuid);
                                        productsGridModule.setActivatedBrandId(uuid, activatedBrandId);
                                    },
                                },
                                setBrands: {
                                    isPreventDefault: false,
                                    fn: function(brands, uuid) {
                                        var activatedBrandId = brandsGridModule.getActivatedBrandId(uuid);
                                        if (!activatedBrandId && brands && brands.length) {
                                            activatedBrandId = brands[0]._id;
                                            brandsGridModule.setActivatedBrandId(uuid, activatedBrandId);
                                        }
                                        productsGridModule.setActivatedBrandId(uuid, activatedBrandId);
                                    },
                                },
                            });
                        }
                        startup();
                    })();
                } else {
                    window.productsPageModule.render('<%=uuid%>');
                }
            </script>