<div class="formReward" id="formContact">

            <form>
                <div class="form-row">
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Họ và tên">
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Số điện thoại">
                    </div>
                </div>



            </form>

            <div class="row">
                <div class="col-12 text-center">

                    <button class="btn-countinue" id="btnreward" onclick="sendreward()">
  
                            <i class="fas fa-award" style="
                            font-size: 20px;
                            "></i>
                            Nhận quà
                        </button>


                    <button id="btnrewardLoading" style="display:none" class="btn btn-countinue" type="button" disabled="">
                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                             Đang gửi yêu cầu
                         </button>

                </div>




            </div>

        </div>