<div class="ai-makeup__welcome">
  <div class="ai-makeup__welcome-top">
    <div class="ai-makeup__image--responsive">
      <img
        data-src="contain/img/placeholders/placeholder-1.svg"
        alt="PlaceHolder"
      />
    </div>
  </div>
  <div class="ai-makeup__welcome-body">
    <div class="ai-makeup__image--responsive">
      <img data-src="contain/img/backgrounds/flower.svg" alt="Flower" />
    </div>
    <div class="ai-makeup__button ai-makeup__welcome-body__button">
      <a onclick="navigateTo('/products')">TRANG ĐIỂM AR ONLINE</a>
    </div>
  </div>
</div>
