.mobile-ui {
    display: none;
}

.tool-bar-mobile {
    display: none;
}

@media screen and (max-width: 992px) {
    .desktop-result {
        display: bloc !important;
    }
    .mobile-result {
        padding: 10px 20px;
        display: block !important;
    }
    .mobile-ui {
        display: block;
    }
    .search-wrapper-mobile {
        display: flex !important;
    }
    .tool-bar-mobile {
        display: block;
    }
}

.nav-mobile {
    width: 100%;
    display: flex;
    position: relative;
    .openMenu {
        padding: 12px 16px;
    }
    .logomobile {
        img {
            height: 120px;
        }
        position: absolute;
        top: 16px;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, 0%);
        -ms-transform: translate(-50%, 0%);
        -webkit-transform: translate(-50%, 0%);
        -moz-transform: translate(-50%, 0%);
        -o-transform: translate(-50%, 0%);
        margin: auto;
    }
}

.search-wrapper-mobile {
    width: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    .search-bar-mobile {
        margin: 30px 0;
        position: relative;
        width: 100%;
    }
    .search-bar-mobile input:focus {
        box-shadow: 0 0 10px -4px #888888;
    }
    input {
        height: 100px;
        width: 100%;
        border: 1px solid #d0d0d0;
        border-radius: 100px;
        padding: 0 90px;
        outline: 0;
        box-shadow: 0 0 0 0 rgb(136 136 136 / 0%);
        font-size: 45px;
        transition: box-shadow 0.3s;
    }
    .search-icon {
        position: absolute;
        width: 100px;
        height: 100px;
        align-items: center;
        justify-content: center;
        top: 0;
        display: flex;
        font-size: 20px;
        color: #888888;
    }
    .right {
        position: absolute;
        width: 100px;
        height: 100px;
        align-items: center;
        justify-content: center;
        top: 0;
        display: flex;
        font-size: 20px;
        color: #888888;
        right: 0;
    }
    .search-icon i {
        font-size: 50px;
    }
}

.tool-bar-mobile {
    width: 100%;
    float: left;
    padding: 15px;
    a {
        color: #202124;
        margin-left: 12px;
        margin-right: 12px;
        padding: 10px 10px;
        // border-bottom: 3px solid #202124;
        /* box-sizing: border-box; */
        /* display: inline-block; */
        line-height: 100px;
        /* height: 28px; */
        font-size: 30px;
        text-align: center;
        font-weight: 500;
        box-sizing: border-box;
        padding: 20px 10px;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    }
}

.mobile-result {
    display: none;
}