* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  color: #5c6abb;
}

.mobile-ui .menu-left {
  display: flex;
  height: 100px;
  width: 100%;
}
.mobile-ui #SBmmZd {
  display: flex;
  display: flex;
}
.mobile-ui #SBmmZd a.active {
  color: #4285f4;
  /* border-bottom: 2px solid #4285f4; */
}
.mobile-ui .content {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 15%;
  /* Half of #content height */
  left: 0;
  width: 100%;
}
.mobile-ui .search-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mobile-ui .search-logo img {
  width: 400px;
}
.mobile-ui .search-bar {
  margin: 30px 0;
  position: relative;
  width: 100%;
}
.mobile-ui .search-bar input {
  height: 100px;
  width: 100%;
  border: 1px solid #d0d0d0;
  border-radius: 100px;
  padding: 0 60px;
  outline: 0;
  box-shadow: 0 0 0 0 rgba(136, 136, 136, 0);
  font-size: 35px;
  transition: box-shadow 0.3s;
}
.mobile-ui .search-bar input:focus {
  box-shadow: 0 0 10px -4px #888888;
}
.mobile-ui .search-bar .search-icon {
  position: absolute;
  width: 60px;
  height: 100px;
  align-items: center;
  justify-content: center;
  top: 0;
  display: flex;
  font-size: 20px;
  color: #888888;
}
.mobile-ui .search-bar .search-icon i {
  font-size: 50px;
}
.mobile-ui .search-bar .search-icon.right {
  right: 0;
}
.mobile-ui #SBmmZd a {
  margin-bottom: 42px;
  color: #70757a;
  display: block;
  flex: 0 0 auto;
  flex: 0 0 auto;
  font-size: 43px;
  line-height: 24x;
  margin-right: 8px;
  margin-top: 30px;
  padding: 10px 20px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
}
.mobile-ui .openMenu {
  padding: 12px 16px;
}
.mobile-ui .mobile-nav {
  width: 100%;
  display: flex;
  margin-top: 10px;
  margin: auto;
}
.mobile-ui .mobile-nav .item {
  text-align: center;
  width: 33%;
}
.mobile-ui .mobile-nav .item img {
  width: 100%;
}
.mobile-ui .search_bottom-footer {
  font-size: 24px;
  margin-top: 5vh;
  line-height: 2vh;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #ffffff;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 32px 18px 32px 32px;
  text-decoration: none;
  font-size: 50px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.mobile-ui {
  display: none;
}

@media screen and (max-width: 992px) {
  .mobile-ui {
    display: block;
  }

  .desktop {
    display: none !important;
  }
}
/* Style the search field */
form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

/* Style the submit button */
form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  /* Prevent double borders */
  cursor: pointer;
}

form.example button:hover {
  background: #0b7dda;
}

/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
}

.input-container {
  display: flex;
  width: 100%;
  height: 100px;
  margin-bottom: 15px;
}

.icon {
  /* font-size: 20px; */
  padding: 34px;
  /* background: #1e90ff; */
  color: #1e90ff;
  min-width: 50px;
  text-align: center;
  font-size: 30px !important;
  margin: auto;
}

.input-field {
  width: 100%;
  /* padding: 30px; */
  height: 100%;
  margin: auto;
  outline: none;
  font-size: 40px;
  border: none;
}

.input-field:focus {
  outline: none;
}

.navsearchmobinle {
  border-bottom: 1px solid #333;
}

.navsearchmobinle {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 2;
  cursor: pointer;
}

.line-break {
  border: solid 1px #ccc;
  width: 95%;
  margin: auto;
}

/* Set a style for the submit button *//*# sourceMappingURL=style-m.css.map */