* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  color: #5c6abb;
}

.desktop .top-bar {
  display: flex;
  align-items: center;
  padding: 20px 30px;
}
.desktop .content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.desktop .bar-left {
  display: flex;
  align-items: center;
}
.desktop .bar-right {
  margin-left: auto;
  display: flex;
  align-items: center;
}
.desktop .menu {
  display: flex;
}
.desktop .menu a {
  color: #2d2d2d;
  text-decoration: none;
  margin-right: 15px;
}
.desktop .menu a:hover {
  text-decoration: underline;
}
.desktop .app-toggle {
  margin-right: 15px;
  text-decoration: none;
  color: #2d2d2d;
  font-size: 25px;
}
.desktop .profile-trigger img {
  width: 40px;
  border-radius: 100%;
}
.desktop .search-wrapper {
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.desktop .search-logo img {
  width: 400px;
}
.desktop .search-bar {
  margin: 30px 0;
  position: relative;
  width: 100%;
}
.desktop .search-bar input {
  height: 50px;
  width: 100%;
  border: 1px solid #d0d0d0;
  border-radius: 100px;
  padding: 0 50px;
  outline: 0;
  box-shadow: 0 0 0 0 rgba(136, 136, 136, 0);
  font-size: 18px;
  transition: box-shadow 0.3s;
}
.desktop .search-bar input:focus {
  box-shadow: 0 0 10px -4px #888888;
}
.desktop .search-bar .search-icon {
  position: absolute;
  width: 50px;
  height: 50px;
  align-items: center;
  justify-content: center;
  top: 0;
  display: flex;
  font-size: 20px;
  color: #888888;
}
.desktop .search-bar .search-icon.right {
  right: 0;
}
.desktop .search-info {
  font-size: 15px;
}
.desktop .search-info a {
  color: #3f50b5;
  text-decoration: none;
}
.desktop .search-info a:hover {
  text-decoration: underline;
}
.desktop .search-buttons {
  display: flex;
  margin-bottom: 30px;
}
.desktop .search-buttons a {
  text-decoration: none;
  margin-right: 15px;
  background-color: #ececec;
  color: black;
  padding: 10px 15px;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0);
}
.desktop .search-buttons a:last-child {
  margin-right: 0;
}
.desktop .search-buttons a:hover {
  border: 1px solid #8c8c8c;
}
.desktop .bottom-bar {
  display: flex;
  align-items: center;
  padding: 20px 30px;
  background-color: #ececec;
  border-top: 1px solid #d4d4d4;
}
.desktop .area-select-desktop {
  display: flex;
  position: relative;
}
.desktop .area-select-desktop .title {
  padding-bottom: 10px;
  font-size: 16px;
}
.desktop .area-select-desktop .image {
  margin: auto;
  max-width: 120px;
  height: 100px;
  border: solid #5c6abb 2px;
  border-radius: 10px;
}
.desktop .area-select-desktop .select-item {
  width: 200px;
  text-align: center;
}
.desktop .area-select-desktop .image:hover {
  background-color: #5c6abb;
}
.desktop .area-select-mobile {
  position: relative;
}
.desktop .area-select-mobile .title {
  padding-bottom: 10px;
  font-size: 16px;
}
.desktop .area-select-mobile .image {
  margin: auto;
  max-width: 120px;
  height: 120px;
  border: solid #5c6abb 2px;
  border-radius: 10px;
}
.desktop .area-select-mobile .select-item {
  width: 200px;
  text-align: center;
}
.desktop .tiptext {
  display: flex;
  font-size: 11px;
  width: 100%;
  padding-top: 10px;
  margin: auto;
}
.desktop .tiptext a {
  text-align: center;
  max-width: 205px;
  padding: 10px;
  margin: auto;
  margin-top: 2rem;
  margin-right: 10px;
  background-color: #ececec;
  color: #3f50b5;
  border-radius: 10px;
}
.desktop .btnSingup a {
  padding-left: 10px;
  padding-right: 10px;
  background: #3f50b5;
  border: 1px solid transparent;
  color: white;
  padding: 10px;
  border-radius: 2px;
}
.desktop .typeDisplay {
  color: #3f50b5;
}
.desktop .area-select-mobile {
  display: none;
}
.desktop .image {
  border: unset !important;
}
.desktop .image img {
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
}
@media only screen and (max-width: 768px) {
  .desktop .area-select-mobile {
    display: flex !important;
  }
  .desktop .area-select-desktop {
    display: none !important;
  }
}
.desktop .image img:hover {
  transform: scale(1.1);
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.desktop .search_bottom-footer {
  color: #5c6abb;
  padding-bottom: 10px;
}
.desktop .search_bottom-footer p {
  font-size: 1rem;
  line-height: 1.5rem;
}
.desktop .sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.desktop .sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.desktop .sidenav a:hover {
  color: #f1f1f1;
}
.desktop .sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
@media screen and (max-height: 450px) {
  .desktop .sidenav {
    padding-top: 15px;
  }
  .desktop .sidenav a {
    font-size: 18px;
  }
}
@media only screen and (max-width: 768px) {
  .desktop .top-bar {
    display: none !important;
  }
}

@media screen and (min-width: 993px) {
  .desktop {
    display: block !important;
  }
}/*# sourceMappingURL=style.css.map */