<%- include('./json-path.ejs') %>
<script>
  if (!window.dataStore) {
    window.dataStore = (function () {
      var dataStore = {};
      var selectors = {};
      var mutations = {};
      function reserveUtils(store) {
        store.select = function () {
          var args = Array.from(arguments);
          var selectorName = args[0].name;
          var key = getStoreId(store) + ':' + selectorName;
          return selectors[key].apply(store, args.slice(1));
        };
        store.mutate = function () {
          var args = Array.from(arguments);
          var mutationName = args[0].name;
          var key = getStoreId(store) + ':' + mutationName;
          return setStore(store, mutations[key].apply(store, args.slice(1)));
        };
      }
      function getStoreId(store) {
        return store.__id__;
      }
      function setStoreId(store, id) {
        store.__id__ = id;
      }
      function normalizeValues(values) {
        if (typeof values === 'object' && !Array.isArray(values)) {
          delete values.__id__;
          delete values.select;
          delete values.mutate;
        }
        return values || {};
      }
      function getStore(store) {
        if (typeof store === 'string') {
          return dataStore[store];
        }
        if (typeof store === 'object') {
          return dataStore[getStoreId(store)];
        }
      }
      function setStore(store, values) {
        if (typeof store === 'string') {
          dataStore[store] = Object.assign(
            dataStore[store] || {},
            normalizeValues(values)
          );
          return;
        }
        if (typeof store === 'object') {
          dataStore[getStoreId(store)] = Object.assign(
            dataStore[getStoreId(store)] || {},
            normalizeValues(values)
          );
        }
      }
      function registerStore(storeName, initialValues) {
        setStore(storeName, initialValues);
        var store = getStore(storeName);
        setStoreId(store, storeName);
        reserveUtils(store);
        return store;
      }
      function createSelector(store, cb, path) {
        var key = getStoreId(store) + ':' + cb.name;
        selectors[key] = function () {
          var args = Array.from(arguments);
          if (path) {
            var pth = ('$.' + path).replace(/^(\$\.)+/, '$.');
            return cb.apply(store, [jsonPath(store, pth)].concat(args));
          }
          return cb.apply(store, [store].concat(args));
        };
        return selectors[key];
      }
      function createMutation(store, cb) {
        var key = getStoreId(store) + ':' + cb.name;
        mutations[key] = function () {
          var args = Array.from(arguments);
          setStore(store, cb.apply(store, [store].concat(args)));
        };
        return mutations[key];
      }
      function mutateState(state, mutation) {
        return Object.assign({}, state, mutation);
      }
      return {
        registerStore: registerStore,
        getStore: getStore,
        createSelector: createSelector,
        createMutation: createMutation,
        mutateState: mutateState,
      };
    })();
  }
</script>
