.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px; }

.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #ccc;
  animation-timing-function: cubic-bezier(0, 1, 1, 0); }

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite; }

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite; }

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite; }

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite; }

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0); }
  100% {
    transform: scale(1); } }

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1); }
  100% {
    transform: scale(0); } }

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0); }
  100% {
    transform: translate(24px, 0); } }

* {
  box-sizing: border-box; }

.ai-makeup__container {
  width: 100%;
  max-width: 709px;
  margin: 0 auto; }

.ai-makeup__image--responsive {
  max-width: 100%;
  display: flex;
  flex: 1 1 100%;
  flex-direction: column; }
  .ai-makeup__image--responsive > img {
    max-width: 100%;
    align-self: center; }

.ai-makeup__image--cropped > img {
  object-fit: cover; }

.ai-makeup__button {
  width: 29.125rem;
  z-index: 4000;
  cursor: pointer; }
  .ai-makeup__button > button {
    width: 100%; }
  .ai-makeup__button > a {
    display: flex;
    justify-content: center;
    flex-direction: column; }
  .ai-makeup__button > button,
  .ai-makeup__button > a {
    height: 3.75rem;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.5625rem;
    line-height: 1.8125rem;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    background: #fda0ba;
    border-radius: 30px;
    border: none;
    color: white; }
  .ai-makeup__button--shadow > button,
  .ai-makeup__button--shadow > a {
    box-shadow: inset 0px -3px 3px rgba(0, 0, 0, 0.25), inset 0px 2px 3px rgba(255, 255, 255, 0.4); }
  .ai-makeup__button--disabled > button,
  .ai-makeup__button--disabled > a {
    background: #e0e0e0;
    color: white;
    box-shadow: inset 0px -3px 3px rgba(0, 0, 0, 0.25), inset 0px 2px 3px rgba(255, 255, 255, 0.4);
    border-radius: 10px; }
  .ai-makeup__button--hidden {
    display: none; }

.ai-makeup__banner {
  max-width: 100%;
  margin: 0 auto;
  text-align: center; }

.ai-makeup__navigator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: transparent;
  width: 100%;
  height: 3.75rem;
  margin-bottom: 10px; }

.ai-makeup__navigator-inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: auto 1.25rem; }
  .ai-makeup__navigator-inner > span {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.875rem;
    line-height: 2.1875rem;
    text-align: center;
    color: black; }
  .ai-makeup__navigator-inner > a {
    width: 1.5625rem;
    height: 1.5625rem;
    cursor: pointer; }
    .ai-makeup__navigator-inner > a > img {
      max-width: 100%;
      max-height: 100%; }

.ai-makeup__result-checkContainer {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-row-gap: 14px;
  margin-top: 20px;
  margin-bottom: 20px; }
  .ai-makeup__result-checkContainer :nth-child(3n) {
    display: flex;
    justify-content: flex-end; }

.ai-makeup__result-checkbox {
  display: grid;
  grid-template-columns: min-content auto;
  grid-gap: 5px;
  font-family: SF UI Text;
  font-style: normal;
  font-weight: 500;
  font-size: 1.375rem;
  color: #000000; }

.ai-makeup__result-checkbox-input {
  display: grid;
  grid-template-areas: "checkbox";
  align-items: center; }
  .ai-makeup__result-checkbox-input > * {
    grid-area: checkbox; }
  .ai-makeup__result-checkbox-input input {
    opacity: 0;
    margin: 0;
    width: 16px;
    height: 16px;
    cursor: pointer; }

.ai-makeup__result-checkmark {
  display: inline-grid;
  width: 16px;
  height: 16px;
  border: 1px solid #000000;
  border-radius: 15px;
  background: #ffffff; }
  .ai-makeup__result-checkmark > span {
    border-radius: 15px;
    background: #ffffff;
    margin: 1; }

.ai-makeup__result-checkbox-input input[id="myCheckSpot"]:checked + .ai-makeup__result-checkmark > span {
  background: #FEA500; }

.ai-makeup__result-checkbox-input input[id="myCheckAcne"]:checked + .ai-makeup__result-checkmark > span {
  background: #FFFF00; }

.ai-makeup__result-checkbox-input input[id="myCheckPimple"]:checked + .ai-makeup__result-checkmark > span {
  background: #00A853; }

.ai-makeup__result-checkbox-input input[id="myCheckBlackhead"]:checked + .ai-makeup__result-checkmark > span {
  background: #FF50AF; }

.ai-makeup__result-checkbox-input input[id="myCheckMole"]:checked + .ai-makeup__result-checkmark > span {
  background: #FE0000; }

.ai-makeup__brands__grid__cell, .ai-makeup__products__grid__cell, .ai-makeup__sub-type__grid__cell {
  display: block;
  border: 1px solid #e0e0e0;
  margin: -0.5px; }

.ai-makeup__brands__grid__cell--active, .ai-makeup__products__grid__cell--active, .ai-makeup__sub-type__grid__cell--active {
  position: relative; }
  .ai-makeup__brands__grid__cell--active::after, .ai-makeup__products__grid__cell--active::after, .ai-makeup__sub-type__grid__cell--active::after {
    content: '';
    display: block;
    position: absolute;
    left: -0.5px;
    top: -0.5px;
    right: 0.5px;
    bottom: 0.5px;
    border: solid 1px #888cff;
    pointer-events: none; }

.ai-makeup__brands__grid__container {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0; }
  .ai-makeup__brands__grid__container .lds-ellipsis {
    display: none; }
  .ai-makeup__brands__grid__container--loading {
    display: block;
    text-align: center;
    height: 80px; }
    .ai-makeup__brands__grid__container--loading .lds-ellipsis {
      display: inline-block; }

.ai-makeup__brands__grid__cell {
  flex: 0 0 calc(25% + 1px);
  padding: 15px;
  height: 97px; }

.ai-makeup__brands__item {
  width: 100%;
  height: 100%;
  background-position: center center;
  background-size: 100% auto;
  background-repeat: no-repeat; }

.ai-makeup__brands__grid__cell, .ai-makeup__products__grid__cell, .ai-makeup__sub-type__grid__cell {
  display: block;
  border: 1px solid #e0e0e0;
  margin: -0.5px; }

.ai-makeup__brands__grid__cell--active, .ai-makeup__products__grid__cell--active, .ai-makeup__sub-type__grid__cell--active {
  position: relative; }
  .ai-makeup__brands__grid__cell--active::after, .ai-makeup__products__grid__cell--active::after, .ai-makeup__sub-type__grid__cell--active::after {
    content: '';
    display: block;
    position: absolute;
    left: -0.5px;
    top: -0.5px;
    right: 0.5px;
    bottom: 0.5px;
    border: solid 1px #888cff;
    pointer-events: none; }

.ai-makeup__products__filter, .ai-makeup__sub-type__grid__container {
  box-shadow: 0 5px 3px rgba(224, 224, 224, 0.5); }

.ai-makeup__products__filter {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 2;
  border-top: 1px solid #e0e0e0; }
  .ai-makeup__products__filter__wrapper {
    position: relative; }
  .ai-makeup__products__filter__item {
    flex: 1 0 33.3%;
    text-align: center;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0; }
    .ai-makeup__products__filter__item__title {
      display: inline-block;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 24px;
      align-items: center;
      text-align: center; }
    .ai-makeup__products__filter__item__caret {
      display: inline; }
      .ai-makeup__products__filter__item__caret--active {
        display: none; }
    .ai-makeup__products__filter__item--active .ai-makeup__products__filter__item__title {
      color: #888cff;
      font-weight: 600; }
    .ai-makeup__products__filter__item--active .ai-makeup__products__filter__item__caret {
      display: none; }
      .ai-makeup__products__filter__item--active .ai-makeup__products__filter__item__caret--active {
        display: inline; }

.ai-makeup__products__grid__container {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0; }
  .ai-makeup__products__grid__container .lds-ellipsis {
    display: none; }
  .ai-makeup__products__grid__container--loading {
    display: block;
    text-align: center;
    height: 80px; }
    .ai-makeup__products__grid__container--loading .lds-ellipsis {
      display: inline-block; }
    .ai-makeup__products__grid__container--loading > *:not(.lds-ellipsis) {
      display: none; }

.ai-makeup__products__grid__cell {
  flex: 0 0 calc(50% + 0.5px);
  padding: 15px;
  min-height: 207px; }

.ai-makeup__products__item, .ai-makeup__products__tab__content .ai-makeup__products__sub-item {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column; }
  .ai-makeup__products__item__image, .ai-makeup__products__tab__content .ai-makeup__products__sub-item__image {
    width: 100%;
    height: 90px;
    background-position: center center;
    background-size: auto 100%;
    background-repeat: no-repeat; }
  .ai-makeup__products__item__name, .ai-makeup__products__tab__content .ai-makeup__products__sub-item__name {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #565656;
    margin: 10px auto; }
  .ai-makeup__products__item__try {
    width: 129.49px;
    display: block;
    background: #fda0ba;
    border-radius: 30px;
    line-height: 30px;
    border: none;
    text-align: center;
    margin: auto auto 0;
    color: white; }

.ai-makeup__sub-type__grid {
  display: none;
  position: absolute;
  z-index: 1;
  right: -0.5px;
  left: -0.5px;
  top: 80px;
  border-width: 1px;
  border-style: solid;
  border-color: #e0e0e0;
  border-top-color: transparent;
  border-bottom-color: transparent;
  background-color: white; }
  .ai-makeup__sub-type__grid.ai-makeup__sub-type__grid--mt-2 {
    top: 160px; }
  .ai-makeup__sub-type__grid.ai-makeup__sub-type__grid--mt-3 {
    top: 240px; }
  .ai-makeup__sub-type__grid--visbible {
    display: block; }
  .ai-makeup__sub-type__grid__container {
    display: flex;
    flex-wrap: wrap;
    margin: -0.5px; }
  .ai-makeup__sub-type__grid__cell {
    flex: 0 0 calc(50% + 0.5px);
    padding: 15px;
    height: 60px; }

.ai-makeup__product {
  width: 100%;
  min-height: 89px; }
  .ai-makeup__product__container {
    display: none;
    width: 100%;
    padding: 15px;
    align-items: center; }
    .ai-makeup__product__container--visible {
      display: flex; }
  .ai-makeup__product__image {
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
    width: 59px;
    height: 59px;
    flex: 0 0 59px; }
  .ai-makeup__product__detail {
    display: flex;
    overflow: hidden;
    flex: 1;
    align-items: center;
    padding: 0 7px; }
    .ai-makeup__product__detail__cta {
      flex: 0 0 85px; }
    .ai-makeup__product__detail__attributes {
      flex: 1;
      overflow: hidden; }
    .ai-makeup__product__detail__name, .ai-makeup__product__detail__color {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 18px;
      margin: 0;
      color: #000000; }
    .ai-makeup__product__detail__price {
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 20px;
      /* identical to box height, or 125% */
      /* #000000 */
      color: #000000; }

.ai-makeup__products__tab__item, .ai-makeup__products__sub-tab__item {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  flex: 1;
  text-align: center;
  position: relative;
  padding: 10px; }

.ai-makeup__products__tab__item--active::after, .ai-makeup__products__sub-tab__item--active::after {
  content: '';
  width: 98px;
  max-width: 100%;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  border-bottom: 1.5px solid #fda0ba; }

.ai-makeup__products__tab__content .ai-makeup__products__sub-item--active .ai-makeup__products__sub-item__name::after {
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  background: #fda0ba;
  border-radius: 50%; }

.ai-makeup__products__tab__container, .ai-makeup__products__sub-tab__container {
  display: none;
  border-bottom: 1px solid #e0e0e0; }
  .ai-makeup__products__tab__container--visible, .ai-makeup__products__sub-tab__container--visible {
    display: flex; }

.ai-makeup__products__tab {
  display: none; }
  .ai-makeup__products__tab--visible {
    display: block; }
  .ai-makeup__products__tab__wrapper {
    display: block; }
  .ai-makeup__products__tab__content {
    display: flex;
    flex: 0 0 25%;
    padding: 7.5px; }
    .ai-makeup__products__tab__content__container {
      display: flex;
      overflow-x: auto;
      overflow-y: hidden;
      padding: 7.5px; }
    .ai-makeup__products__tab__content .ai-makeup__products__item__image, .ai-makeup__products__tab__content .ai-makeup__products__sub-item__image {
      background-color: #ffffff;
      border: 1px solid #e0e0e0; }
    .ai-makeup__products__tab__content .ai-makeup__products__sub-item {
      overflow: hidden;
      flex: 0 0 25%;
      padding: 7.5px; }
      .ai-makeup__products__tab__content .ai-makeup__products__sub-item__container {
        display: none;
        width: 100%; }
      .ai-makeup__products__tab__content .ai-makeup__products__sub-item__name {
        text-align: center; }
      .ai-makeup__products__tab__content .ai-makeup__products__sub-item:not(.ai-makeup__products__sub-item--is-product) .ai-makeup__products__sub-item__name {
        font-size: 0; }
      .ai-makeup__products__tab__content .ai-makeup__products__sub-item--active .ai-makeup__products__sub-item__image {
        border: 3px solid #fda0ba; }
      .ai-makeup__products__tab__content .ai-makeup__products__sub-item--active .ai-makeup__products__sub-item__container {
        display: flex; }
      .ai-makeup__products__tab__content .ai-makeup__products__sub-item--is-product .ai-makeup__products__sub-item__image {
        position: relative; }
        .ai-makeup__products__tab__content .ai-makeup__products__sub-item--is-product .ai-makeup__products__sub-item__image::after {
          content: '';
          display: block;
          width: 100%;
          height: 100%;
          position: absolute;
          left: 0;
          top: 0;
          background-color: rgba(237, 30, 36, 0.6);
          background-image: url("../img/icons/back-circle.svg");
          background-repeat: no-repeat;
          background-position: center center;
          background-size: 35px auto; }
    .ai-makeup__products__tab__content--invisible {
      display: none; }
    .ai-makeup__products__tab__content--expanded {
      flex-basis: 100%; }
      .ai-makeup__products__tab__content--expanded .ai-makeup__products__item, .ai-makeup__products__tab__content--expanded .ai-makeup__products__tab__content .ai-makeup__products__sub-item, .ai-makeup__products__tab__content .ai-makeup__products__tab__content--expanded .ai-makeup__products__sub-item {
        display: none; }
      .ai-makeup__products__tab__content--expanded .ai-makeup__products__sub-item__container {
        display: flex; }

.ai-makeup__section__header {
  padding: 24px;
  display: flex;
  justify-content: space-between; }

.ai-makeup__section__title {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #fda0ba;
  margin: 0; }

.ai-makeup__section__more {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  text-align: center;
  text-decoration: none;
  /* #888CFF */
  color: #888cff; }

.ai-makeup__separator-group {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.ai-makeup__separator-circle {
  width: 10px;
  height: 10px;
  background: #888dff;
  border-radius: 50%;
  margin: 7px; }

.ai-makeup__separator-ellipse {
  width: 33.33px;
  height: 10px;
  background: #888dff;
  border-radius: 6px;
  margin: 7px; }

.ai-makeup__welcome {
  display: flex;
  flex-direction: column; }

.ai-makeup__welcome-top {
  margin-top: 5rem; }

.ai-makeup__welcome-body {
  position: relative;
  margin-top: 2.1875rem; }

.ai-makeup__welcome-body__button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.ai-makeup__makeup {
  display: flex;
  flex-direction: column;
  align-items: center; }

.ai-makeup__makeup-option {
  width: 13.75rem;
  height: 3.125rem;
  border-radius: 1.875rem;
  border: none;
  cursor: pointer; }
  .ai-makeup__makeup-option > span {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.375rem;
    color: #ffffff; }
    .ai-makeup__makeup-option > span > img {
      width: 1.875rem;
      height: 1.875rem;
      margin-left: 10px; }

.ai-makeup__makeup-top__choose-image {
  background: #f99dc4;
  margin-right: 1.25rem; }

.ai-makeup__makeup-top__use-camera {
  background: #ffba88; }

.ai-makeup__makeup-image {
  width: 28.75rem;
  height: 28.75rem;
  position: relative;
  margin-top: 1.5625rem;
  display: block; }
  .ai-makeup__makeup-image--active {
    background-color: black; }
  .ai-makeup__makeup-image--active > .ai-makeup__makeup-image__background {
    display: none; }
  .ai-makeup__makeup-image--inactive > .ai-makeup__makeup-image__background {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover; }

.ai-makeup__upload-image {
  position: absolute;
  width: 64px;
  height: 64px;
  left: 25px;
  bottom: 66px;
  mix-blend-mode: normal;
  border-radius: 10px; }
  .ai-makeup__upload-image > svg {
    width: 100%;
    height: auto;
    background: white;
    position: relative;
    pointer-events: none; }
  .ai-makeup__upload-image > input {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0; }

.ai-makeup__recapture {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 36px;
  bottom: 85px; }
  .ai-makeup__recapture > svg {
    width: 100%;
    height: auto;
    position: relative;
    pointer-events: none; }

.ai-makeup__bottom-actions {
  position: absolute;
  bottom: 0;
  width: 100%;
  max-width: 709px;
  left: 50%;
  transform: translateX(-50%); }

.ai-makeup__makeup-video-player > video {
  width: 28.75rem;
  height: 28.75rem;
  align-self: center;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1); }

.ai-makeup__makeup-image--inactive > .ai-makeup__makeup-video-player {
  display: none; }

.ai-makeup__makeup-image-show .lds-ellipsis {
  display: none; }

.ai-makeup__makeup-image-show--loading {
  position: relative; }
  .ai-makeup__makeup-image-show--loading .lds-ellipsis {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.ai-makeup__makeup-image-show--hidden {
  display: none; }

.ai-makeup__makeup-image-show > img[src] {
  width: 28.75rem;
  height: 28.75rem;
  display: block; }

.ai-makeup__makeup-image-show > img {
  display: none; }

.ai-makeup__makeup-focus__tl {
  position: absolute;
  top: 0%;
  left: 0%; }

.ai-makeup__makeup-focus__tr {
  position: absolute;
  top: 0%;
  right: 0%; }

.ai-makeup__makeup-focus__bl {
  position: absolute;
  bottom: 0%;
  left: 0%; }

.ai-makeup__makeup-focus__br {
  position: absolute;
  bottom: 0%;
  right: 0%; }

.ai-makeup__makeup-body__button {
  position: relative;
  margin-top: 1.6875rem; }
  .ai-makeup__makeup-body__button--capture {
    position: absolute;
    width: 86px;
    height: 86px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 55px;
    /* Gray 6 */
    background: #f2f2f2;
    /* red */
    border: 7px solid #fda0ba;
    border-radius: 50%;
    margin-top: 0; }

.ai-makeup__result {
  display: flex;
  flex-direction: column;
  align-items: center; }

.ai-makeup__result-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; }

.ai-makeup__result-body {
  display: flex;
  flex-direction: column;
  width: 100%; }

.ai-makeup__result-image {
  position: relative; }
  .ai-makeup__result-image > img {
    width: 29.125rem;
    height: 29.125rem; }

.ai-makeup__result-plot {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.ai-makeup__result-plot__box {
  border: 1px solid #000;
  position: absolute; }

.ai-makeup__result-analyze-section {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  background-size: cover;
  width: 100%;
  height: 2.875rem; }
  .ai-makeup__result-analyze-section > img {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .ai-makeup__result-analyze-section > span {
    width: 100%;
    font-family: "Lobster", cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 1.75rem;
    text-align: center;
    color: #ffffff;
    text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.4); }

.ai-makeup__result-analyze-content {
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.3125rem;
  line-height: 2.5rem;
  color: #828282; }

.ai-makeup__result-option {
  width: 14.5625rem;
  height: 3.4375rem;
  box-shadow: inset 0px -3px 3px rgba(0, 0, 0, 0.25), inset 0px 2px 3px rgba(255, 255, 255, 0.4);
  border-radius: 0.75rem;
  border: none;
  cursor: pointer; }
  .ai-makeup__result-option > span {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.1875rem;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff; }
    .ai-makeup__result-option > span > img {
      margin-left: 0.5rem;
      width: 1.25rem;
      height: 1.25rem; }

.ai-makeup__result-bottom__download {
  background: #888dff;
  margin-right: 0.875rem; }

.ai-makeup__result-bottom__share {
  background: #f99dc4; }

.ai-makeup__share__image {
  width: 100%;
  max-width: 414px;
  margin: auto;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; }
  .ai-makeup__share__image::before {
    content: '';
    display: block;
    padding-bottom: 100%; }

.ai-makeup__share__button {
  width: 312px;
  height: 55px;
  display: block;
  margin: 28px auto 0;
  padding: 16px 41px 16px 16px;
  box-shadow: 1px 7px 16px rgba(180, 180, 193, 0.68);
  border-radius: 30px;
  border: none;
  position: relative;
  overflow: hidden;
  color: black;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-align: left;
  letter-spacing: 0.5px;
  text-transform: uppercase; }
  .ai-makeup__share__button:active, .ai-makeup__share__button:focus {
    outline: none; }
  .ai-makeup__share__button::after {
    content: '';
    display: block;
    width: 45px;
    height: 45px;
    position: absolute;
    right: 6px;
    top: 5px;
    background-repeat: no-repeat;
    background-position: center center; }
  .ai-makeup__share__button--download {
    background: #fda0ba;
    color: white; }
    .ai-makeup__share__button--download::after {
      background-image: url("../img/icons/download-arrow.svg"); }
  .ai-makeup__share__button--facebook {
    background: white; }
    .ai-makeup__share__button--facebook::after {
      background-image: url("../img/icons/facebook.svg"); }
  .ai-makeup__share__button--google {
    background: white; }
    .ai-makeup__share__button--google::after {
      background-image: url("../img/icons/google.svg"); }

.ai-makeup__tips {
  position: fixed;
  z-index: 9000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); }

.ai-makeup__tips__content {
  background-color: white;
  border-radius: 20px;
  margin: 15% auto;
  padding: 15px;
  width: 320px;
  min-height: 213px; }

.ai-makeup__tips__content-header {
  display: block;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
  color: black;
  text-align: center; }

.ai-makeup__tips__content-body {
  padding-left: 15px;
  padding-right: 10px;
  padding-top: 29px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px; }
  .ai-makeup__tips__content-body > li {
    padding: 5px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase; }
  .ai-makeup__tips__content-body > li::marker {
    color: red;
    font-weight: bold; }

.ai-makeup__tips__button {
  width: 280px;
  margin: auto; }
  .ai-makeup__tips__button > button {
    height: 45px;
    font-size: 18px;
    margin-top: 20px; }

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 40%; }

#makeup-brand {
  padding-top: 10px;
  padding-bottom: 10px; }

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2); }

.container {
  padding: 2px 16px; }

.ai-makeup__product__container {
  display: none; }

.formReward {
  display: none; }

#formContact {
  padding: 10px 10px 10px 10px; }

.caption {
  text-align: center; }

.ai-makeup__product {
  display: none; }

.ai-makeup__makeup-image__background {
  display: none; }

.recomendTitleProduct {
  font-size: .6875rem; }

.title-header {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.375rem;
  line-height: 1.1875rem;
  text-align: center;
  color: black; }

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #fda0ba;
  color: white;
  text-align: center; }

.resultHeader {
  flex: 1 0 33.3%;
  text-align: center;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  display: none;
  font-weight: bolder; }
  .resultHeader h4 {
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    /* line-height: 24px; */
    align-items: center;
    text-align: center; }

.slick-slide {
  max-height: 80px; }

.recomendTitleProduct {
  font-size: 2vh;
  text-align: center !important;
  font-weight: 400; }

.one-product-item {
  width: 50% !important;
  margin: 0 auto !important; }

.recomend-product-grid-cell {
  border: unset; }

#brandProduct {
  text-align: center;
  margin: 50px auto; }

#brandProduct a {
  margin: 0px 20px;
  display: inline-block;
  text-decoration: none;
  color: black; }

.color-ai-area {
  font-style: normal;
  font-family: "Roboto", sans-serif;
  display: none;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 2.1875rem; }
  .color-ai-area .title {
    font-weight: 400;
    padding: 10px;
    color: black;
    font-size: 1rem; }

.ai-makeup__products__tab__header {
  display: none; }

.dot {
  background-color: red;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 58px !important;
  height: 58px !important; }

.colorContainer h1 {
  font-size: 16px;
  text-align: center; }

.category-mobile.show {
  -webkit-transform: translate(0);
  transform: translate(0); }

.category-mobile {
  z-index: 1001;
  background-color: #fff;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out; }

.category-wrap {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  text-align: center; }

.category-tit-mobile {
  margin-bottom: 8vw; }
  .category-tit-mobile .tit {
    font-size: 6.93333vw;
    line-height: 9.86667vw;
    color: #000;
    font-weight: 500;
    padding: 5.33333vw 0 2.13333vw; }
  .category-tit-mobile .des {
    font-size: 3.73333vw;
    line-height: 5.33333vw;
    color: rgba(0, 0, 0, 0.46); }

.category-list-mobile {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0 16vw; }

.category-list-mobile {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer; }

.category-item-mobile:nth-child(odd) {
  margin-right: 16vw; }

.category-item-mobile {
  position: relative;
  width: 21.86667vw;
  height: 21.86667vw;
  border: 0.26667vw solid #ccc;
  margin-bottom: 5.33333vw;
  box-sizing: border-box;
  cursor: pointer; }
  .category-item-mobile img {
    width: 21.33333vw;
    height: 21.33333vw;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .category-item-mobile .des {
    width: 21.33333vw;
    height: 5.33333vw;
    font-size: 2.93333vw;
    font-weight: 400;
    position: absolute;
    bottom: 0;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.6);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .category-item-mobile .icon {
    width: 4.8vw;
    height: 4.8vw;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 1.06667vw;
    right: 1.06667vw; }

@media (min-width: 769px) {
  .ismobile {
    display: none; } }

html {
  font-size: 0.625rem; }

body {
  margin: 0;
  padding-bottom: 30px; }

html,
body {
  height: 100%; }

@media screen and (min-width: 414px) {
  html {
    font-size: 0.8125rem; } }

@media screen and (min-width: 1000px) {
  html {
    font-size: 1rem; } }
