
<html lang="en">
  <body>
    <div class="ai-makeup__container">
      
<div class="ai-makeup__navigator" id="aiMakeupNavigator4648488903998">
  <template id="aiMakeupNavigatorTemplate4648488903998">
    <div class="ai-makeup__navigator-inner">
      <a data-on-click="goBack('4648488903998')">
        <img src="contain/img/icons/back.svg" />
      </a>
      <span id="ai-makeup__navigator__title"><%=title%></span>
      <a
        data-on-click="share('4648488903998')"
        class="<%=shareButtonVisibilityClass%>"
      >
        <img src="contain/img/icons/share.svg" />
      </a>
      <a
        data-on-click="openLibrary('4648488903998')"
        class="<%=libraryButtonVisibilityClass%>"
      >
        <img src="contain/img/icons/folder.svg" />
      </a>
    </div>
  </template>
</div>
<script>
  if (!window.navigatorModule) {
    window.navigatorModule = (function () {
      var navigatorId = 'aiMakeupNavigator';
      var navigatorTemplateId = 'aiMakeupNavigatorTemplate';
      var titles = {};
      var shareButtonVisibilities = {};
      var libraryButtonVisibilities = {};
      var overriddenHandlers = {};
      var handlers = {
        goBack: function () {
          window.history.back();
        },
        share: function () {
          window.navigateTo('/share');
        },
        openLibrary: function () {
          window.navigateTo('/');
        },
      };
      function getTitle(uuid) {
        return titles[uuid];
      }
      function setTitle(uuid, title) {
        titles[uuid] = title;
        render(uuid);
      }
      function getShareButtonVisibility(uuid) {
        return shareButtonVisibilities[uuid];
      }
      function setShareButtonVisibility(uuid, visibility) {
        shareButtonVisibilities[uuid] = visibility;
        render(uuid);
      }
      function getLibraryButtonVisibility(uuid) {
        return libraryButtonVisibilities[uuid];
      }
      function setLibraryButtonVisibility(uuid, visibility) {
        libraryButtonVisibilities[uuid] = visibility;
        render(uuid);
      }
      function startup(uuid) {
        if (!uuid) {
          uuid = '4648488903998';
        }
        render(uuid);
      }
      function registerHandlers(uuid, newHandlers) {
        overriddenHandlers[uuid] = template.registerHandler(
          uuid,
          handlers,
          newHandlers
        );
      }
      function render(uuid) {
        if (!uuid) {
          uuid = '4648488903998';
        }
        var container = document.getElementById(navigatorId + uuid);
        if (!container) {
          return;
        }
        template.renderChildren(
          container,
          navigatorTemplateId,
          uuid,
          [
            {
              title: getTitle(uuid),
              shareButtonVisibilityClass: '',
              libraryButtonVisibilityClass: '',
            },
          ],
          handlers,
          overriddenHandlers
        );
      }
      startup();
      return {
        startup: startup,
        render: render,
        registerHandlers: registerHandlers,
        getTitle: getTitle,
        setTitle: setTitle,
        getShareButtonVisibility: getShareButtonVisibility,
        setShareButtonVisibility: setShareButtonVisibility,
        getLibraryButtonVisibility: getLibraryButtonVisibility,
        setLibraryButtonVisibility: setLibraryButtonVisibility,
      };
    })();
  } else {
    navigatorModule.startup('4648488903998');
  }
  navigatorModule.setTitle('4648488903998', 'Chia sẻ');
</script>

      <div id="aiMakeupShareImage4648488903998">
        <template id="aiMakeupShareImageTemplate4648488903998"
          ><div
            class="ai-makeup__share__image"
            style="background-image: url('<%=imageSrc%>')"
          ></div
        ></template>
      </div>
      <div id="aiMakeupShareButtons4648488903998">
        <template id="aiMakeupShareButtonsTemplate4648488903998">
          <button
            type="button"
            class="ai-makeup__share__button ai-makeup__share__button--download"
            data-on-click="download('4648488903998')"
          >
            LƯU VỀ MÁY</button
          ><button
            type="button"
            class="ai-makeup__share__button ai-makeup__share__button-facebook"
            data-on-click="shareToFacebook('4648488903998')"
          >
            Chia sẻ lên facebook</button
          ><button
            type="button"
            class="ai-makeup__share__button ai-makeup__share__button--google"
            data-on-click="shareToGoogle('4648488903998')"
          >
            Chia sẻ lên Google
          </button>
        </template>
      </div>
    </div>
    <script id="packageJsonPath">
  if (!window.jsonPath) {
    /* JSONPath 0.8.0 - XPath for JSON
     *
     * Copyright (c) 2007 Stefan Goessner (goessner.net)
     * Licensed under the MIT (MIT-LICENSE.txt) licence.
     */
    window.jsonPath = function (obj, expr, arg) {
      var P = {
        resultType: (arg && arg.resultType) || 'VALUE',
        result: [],
        normalize: function (expr) {
          var subx = [];
          return expr
            .replace(/[\['](\??\(.*?\))[\]']/g, function ($0, $1) {
              return '[#' + (subx.push($1) - 1) + ']';
            })
            .replace(/'?\.'?|\['?/g, ';')
            .replace(/;;;|;;/g, ';..;')
            .replace(/;$|'?\]|'$/g, '')
            .replace(/#([0-9]+)/g, function ($0, $1) {
              return subx[$1];
            });
        },
        asPath: function (path) {
          var x = path.split(';'),
            p = '$';
          for (var i = 1, n = x.length; i < n; i++)
            p += /^[0-9*]+$/.test(x[i]) ? '[' + x[i] + ']' : "['" + x[i] + "']";
          return p;
        },
        store: function (p, v) {
          if (p)
            P.result[P.result.length] =
              P.resultType == 'PATH' ? P.asPath(p) : v;
          return !!p;
        },
        trace: function (expr, val, path) {
          if (expr) {
            var x = expr.split(';'),
              loc = x.shift();
            x = x.join(';');
            if (val && val.hasOwnProperty(loc))
              P.trace(x, val[loc], path + ';' + loc);
            else if (loc === '*')
              P.walk(loc, x, val, path, function (m, l, x, v, p) {
                P.trace(m + ';' + x, v, p);
              });
            else if (loc === '..') {
              P.trace(x, val, path);
              P.walk(loc, x, val, path, function (m, l, x, v, p) {
                typeof v[m] === 'object' &&
                  P.trace('..;' + x, v[m], p + ';' + m);
              });
            } else if (/,/.test(loc)) {
              // [name1,name2,...]
              for (var s = loc.split(/'?,'?/), i = 0, n = s.length; i < n; i++)
                P.trace(s[i] + ';' + x, val, path);
            } else if (/^\(.*?\)$/.test(loc))
              // [(expr)]
              P.trace(
                P.eval(loc, val, path.substr(path.lastIndexOf(';') + 1)) +
                  ';' +
                  x,
                val,
                path
              );
            else if (/^\?\(.*?\)$/.test(loc))
              // [?(expr)]
              P.walk(loc, x, val, path, function (m, l, x, v, p) {
                if (P.eval(l.replace(/^\?\((.*?)\)$/, '$1'), v[m], m))
                  P.trace(m + ';' + x, v, p);
              });
            else if (/^(-?[0-9]*):(-?[0-9]*):?([0-9]*)$/.test(loc))
              // [start:end:step]  phyton slice syntax
              P.slice(loc, x, val, path);
          } else P.store(path, val);
        },
        walk: function (loc, expr, val, path, f) {
          if (val instanceof Array) {
            for (var i = 0, n = val.length; i < n; i++)
              if (i in val) f(i, loc, expr, val, path);
          } else if (typeof val === 'object') {
            for (var m in val)
              if (val.hasOwnProperty(m)) f(m, loc, expr, val, path);
          }
        },
        slice: function (loc, expr, val, path) {
          if (val instanceof Array) {
            var len = val.length,
              start = 0,
              end = len,
              step = 1;
            loc.replace(
              /^(-?[0-9]*):(-?[0-9]*):?(-?[0-9]*)$/g,
              function ($0, $1, $2, $3) {
                start = parseInt($1 || start);
                end = parseInt($2 || end);
                step = parseInt($3 || step);
              }
            );
            start = start < 0 ? Math.max(0, start + len) : Math.min(len, start);
            end = end < 0 ? Math.max(0, end + len) : Math.min(len, end);
            for (var i = start; i < end; i += step)
              P.trace(i + ';' + expr, val, path);
          }
        },
        eval: function (x, _v, _vname) {
          try {
            return $ && _v && eval(x.replace(/@/g, '_v'));
          } catch (e) {
            throw new SyntaxError(
              'jsonPath: ' +
                e.message +
                ': ' +
                x.replace(/@/g, '_v').replace(/\^/g, '_a')
            );
          }
        },
      };

      var $ = obj;
      if (expr && obj && (P.resultType == 'VALUE' || P.resultType == 'PATH')) {
        P.trace(P.normalize(expr).replace(/^\$;/, ''), obj, '$');
        return P.result.length ? P.result : false;
      }
    };
  }
</script>

<script>
  if (!window.template) {
    window.template = (function () {
      var templateHtmlsByIds = {};
      function setTemplateHtml(id, html) {
        templateHtmlsByIds[id] = html;
      }
      function getTemplateHtml(id) {
        return templateHtmlsByIds[id];
      }
      function render(id, uuid, data, index) {
        if (typeof uuid === 'undefined') {
          uuid = '';
        }
        var templateId = id + uuid;
        var tmpl = getTemplateHtml(templateId);
        if (!tmpl) {
          var templateDom = document.getElementById(templateId);
          if (templateDom) {
            tmpl = templateDom.innerHTML;
            setTemplateHtml(templateId, tmpl);
          } else {
            throw new Error('template ' + templateId + ' is not available!');
          }
        }
        var evaluateExp = /(&lt;|<)%=( |)([^%]+)( |)%(>|&gt;)/g;
        var segmentExp = /(&lt;|<)%=( |)([^%]+)( |)%(>|&gt;)/;
        if (typeof data !== 'object' || !evaluateExp.test(tmpl)) {
          return tmpl;
        }
        tmpl.match(evaluateExp).forEach(function (match) {
          var matches = segmentExp.exec(match);
          if (!matches[3]) {
            return;
          }
          var path = matches[3].trim();
          var res = jsonPath(data, '$.' + path);
          if (typeof res[0] === 'string' || typeof res[0] === 'number') {
            tmpl = tmpl.replace(match, res[0]);
          } else if (typeof res[0] !== 'undefined') {
            var indexString =
              ((index || index === 0) && index.toString()) || '-';
            if (!window.template.__template__) {
              window.template.__template__ = {};
            }
            if (!window.template.__template__[uuid]) {
              window.template.__template__[uuid] = {};
            }
            if (!window.template.__template__[uuid][path]) {
              window.template.__template__[uuid][path] = {};
            }
            window.template.__template__[uuid][path][indexString] = res[0];

            tmpl = tmpl.replace(
              match,
              'template.resolveValue:' +
                uuid +
                ':' +
                path +
                ':' +
                indexString +
                ':'
            );
          }
        });
        // tmpl = tmpl.replace(
        //   /<([^\/>]+)>/g,
        //   '<$1 data-rendered-from="' + templateId + '">'
        // );
        return tmpl;
      }
      function isFunction(functionToCheck) {
        return (
          functionToCheck &&
          {}.toString.call(functionToCheck) === '[object Function]'
        );
      }
      function dataDOMRegex(context, regex) {
        const output = [];
        for (var el of context.querySelectorAll('*')) {
          if (
            Object.keys(el.dataset).some(function (attr) {
              return regex.test(attr);
            })
          ) {
            output.push(el);
          }
        }
        return output;
      }
      function renderChildren(
        container,
        id,
        uuid,
        data,
        handlers,
        overriddenHandlers
      ) {
        if (!container) {
          throw new Error('Container is not available!');
          return;
        }
        var renderTemplate = function (templateId, replace, mOpen, mClose) {
          container.innerHTML = container.innerHTML.replace(
            replace,
            mOpen +
              data
                .map(function (dataItem, index) {
                  return render(templateId, uuid, dataItem, index);
                })
                .join('') +
              mClose
          );
        };
        function markTemplates(target, finishScanned) {
          var templates = target.getElementsByTagName('template');
          for (var i = 0; i < templates.length; i++) {
            var templateDom = templates[i];
            var mOpen = '<!--:' + templateDom.id + '-->';
            var mClose = '<!--' + templateDom.id + ':-->';
            if (!getTemplateHtml(templateDom.id)) {
              setTemplateHtml(templateDom.id, templateDom.innerHTML);
            }
            templateDom.outerHTML = mOpen + templateDom.outerHTML + mClose;
            if (templateDom.innerHTML.indexOf('</template>') !== -1) {
              var ghostDom = document.createElement('div');
              ghostDom.innerHTML = templateDom.innerHTML;
              markTemplates(ghostDom);
              ghostDom.remove();
            }
          }
          if (
            !finishScanned &&
            target.tagName !== 'template' &&
            target.innerHTML.indexOf('</template>') !== -1
          ) {
            markTemplates(target, true);
          }
        }

        markTemplates(container);
        var templateId = id + uuid;
        var markerOpen = '<!--:' + templateId + '-->';
        var markerClose = '<!--' + templateId + ':-->';
        var toReplace = new RegExp(
          markerOpen.replace('!', '\\!') +
            '(.*)' +
            markerClose.replace('!', '\\!'),
          'gs'
        );
        renderTemplate(id, toReplace, markerOpen, markerClose);
        bindHandlers(uuid, container, handlers, overriddenHandlers);
      }
      function bindHandlers(uuid, container, handlers, overriddenHandlers) {
        var bindingDataTest = /^on([a-zA-Z][a-zA-Z0-9]*)$/;
        var eventArgTest = /^\$e( |)(,|$)/;
        var argsExtractor = /^([a-zA-Z_$][a-zA-Z0-9_$]*)\(([^)]+)\)$/;
        var bindingItems = dataDOMRegex(container, bindingDataTest);
        bindingItems.forEach(function (item) {
          var dataBindings = Object.keys(item.dataset);
          dataBindings.forEach(function (binding) {
            if (!bindingDataTest.test(binding)) {
              return;
            }
            var segments = argsExtractor.exec([item.dataset[binding]]);
            if (!segments || !segments[1]) {
              throw new Error(
                '[' +
                  uuid +
                  '] Invalid binding ' +
                  '"' +
                  binding +
                  '" on ' +
                  item.tagName +
                  '.' +
                  item.className
              );
            }
            var name = segments[1];
            var handler =
              (overriddenHandlers[uuid] && overriddenHandlers[uuid][name]) ||
              handlers[name];

            var args = segments[2];
            if (args) {
              function parseArgs(args) {
                var parsedArgs = args;
                var resolved = {};
                if (parsedArgs.indexOf('template.resolveValue:') !== -1) {
                  parsedArgs = parsedArgs.replace(
                    /template\.resolveValue:([^:]+):([^:]+):([^:]+):/g,
                    function (_, uuid, path, index) {
                      var resolvePlaceholder =
                        '$' + (index === '-' ? '0' : index);
                      resolved[resolvePlaceholder] = resolveValue(
                        uuid,
                        path,
                        index
                      );
                      return "'" + resolvePlaceholder + "'";
                    }
                  );
                }
                try {
                  parsedArgs = JSON.parse(
                    '[' +
                      parsedArgs.replace(/"/g, '\\"').replace(/'/g, '"') +
                      ']'
                  );
                  for (var i = 0; i < parsedArgs.length; i++) {
                    if (/^\$\d+$/.test(parsedArgs[i])) {
                      parsedArgs[i] = resolved[parsedArgs[i]];
                    }
                  }
                  return parsedArgs;
                } catch (e) {
                  throw new Error(
                    '[' +
                      uuid +
                      '] Invalid binding ' +
                      '"' +
                      binding +
                      '" on ' +
                      item.tagName +
                      '.' +
                      item.className
                  );
                  return;
                }
              }

              var overriddenHandler = handler;
              if (eventArgTest.test(args)) {
                args = args.replace(eventArgTest, '');
                var parsedArgs = parseArgs(args);
                handler = function (e) {
                  overriddenHandler.apply(null, [e].concat(parsedArgs));
                };
              } else {
                var parsedArgs = parseArgs(args);
                handler = function () {
                  overriddenHandler.apply(null, parsedArgs);
                };
              }
            }

            var bindingName = binding.toLowerCase().replace(/^on/, '');
            item.removeEventListener(bindingName, handler);
            item.addEventListener(bindingName, handler);
          });
        });
      }
      function createHandler(uuid, fn, overriddenHandlers, overriddenName) {
        return function () {
          if (overriddenHandlers && overriddenHandlers[overriddenName]) {
            var handler = overriddenHandlers[overriddenName].fn;
            if (!overriddenHandlers[overriddenName].isPreventDefault) {
              fn.apply(null, arguments);
            }
            handler.apply(null, arguments);
            return;
          }
          fn.apply(null, arguments);
        };
      }
      function registerHandler(uuid, handlers, newHandlers) {
        return Object.keys(newHandlers).reduce(function (composed, name) {
          return Object.assign({}, composed, {
            [name]: createHandler(uuid, handlers[name], newHandlers, name),
          });
        }, {});
      }
      function resolveValue(uuid, path, index) {
        return window.template.__template__[uuid][path][index];
      }
      function waitForDom(dom, fn) {
        if (!dom) {
          function reRender() {
            fn();
            this.removeEventListener('DOMContentLoaded', reRender);
          }
          window.addEventListener('DOMContentLoaded', reRender);
          return;
        }
        fn();
      }
      return {
        render: render,
        renderChildren: renderChildren,
        setTemplateHtml: setTemplateHtml,
        getTemplateHtml: getTemplateHtml,
        waitForDom: waitForDom,
        createHandler: createHandler,
        registerHandler: registerHandler,
        bindHandlers: bindHandlers,
        resolveValue: resolveValue,
      };
    })();
  }
</script>

    <script>
      if (!window.shareModule) {
        window.shareModule = (function () {
          var shareImageId = 'aiMakeupShareImage';
          var shareImageTemplateId = 'aiMakeupShareImageTemplate';
          var shareButtonsId = 'aiMakeupShareButtons';
          var shareButtonsTemplateId = 'aiMakeupShareButtonsTemplate';
          var imageSrcs = {};
          var overriddenHandlers = {};
          var handlers = {
            download: function (uuid) {
              downloadURI(getImgSrc(uuid))
            },
            shareToFacebook: function () {
              window.open(
                'https://facebook.com/sharer/sharer.php?u=' +
                  encodeURIComponent(window.location.href)
              );
            },
            shareToGoogle: function () {},
          };
          var store;
          function getImgSrc(uuid) {
            return imageSrcs[uuid];
          }
          function setImgSrc(uuid, src) {
            imageSrcs[uuid] = src;
            render(uuid);
          }
          function downloadURI(uri, name) {
            var link = document.createElement("a");
            link.download = name;
            link.href = uri;
            document.body.appendChild(link);
            link.click();
            document.body.removeChild(link);
            delete link;
          }
          function startup(uuid) {
            if (!uuid) {
              uuid = '4648488903998';
            }
            if (makeupModule) {
              setImgSrc(uuid, makeupModule.selectSharedImage());
            }
            render(uuid);
          }
          function renderImage(uuid) {
            var container = document.getElementById(shareImageId + uuid);
            if (!container) {
              return;
            }
            template.renderChildren(
              container,
              shareImageTemplateId,
              uuid,
              [{ imageSrc: getImgSrc(uuid) }],
              handlers,
              overriddenHandlers
            );
          }
          function renderButtons(uuid) {
            var container = document.getElementById(shareButtonsId + uuid);
            if (!container) {
              return;
            }
            template.renderChildren(
              container,
              shareButtonsTemplateId,
              uuid,
              [{}],
              handlers,
              overriddenHandlers
            );
          }
          function render(uuid) {
            if (!uuid) {
              uuid = '4648488903998';
            }
            renderImage(uuid);
            renderButtons(uuid);
          }
          startup();
        })();
      } else {
        window.shareModule.startup('4648488903998');
      }
    </script>
  </body>
</html>
