* {
    box-sizing: border-box;
}

.#{$root} {
    &__container {
        width: 100%;
        max-width: $max-container-width;
        margin: 0 auto;
    }
    &__image {
        &--responsive {
            max-width: 100%;
            display: flex;
            flex: 1 1 100%;
            flex-direction: column;
            >img {
                max-width: 100%;
                align-self: center;
            }
        }
        &--cropped {
            >img {
                object-fit: cover;
            }
        }
    }
    &__button {
        width: size(466);
        z-index: map-get($zindex, button);
        cursor: pointer;
        >button {
            width: 100%;
        }
        >a {
            display: flex;
            justify-content: center;
            flex-direction: column;
        }
        >button,
        >a {
            height: size(60);
            font-family: $base-font-family;
            font-style: normal;
            font-weight: 400;
            font-size: size(25);
            line-height: size(29);
            text-align: center;
            text-transform: uppercase;
            text-decoration: none;
            background: #fda0ba;
            color: #ffffff;
            box-shadow: inset 0px -3px 3px rgba(0, 0, 0, 0.25), inset 0px 2px 3px rgba(255, 255, 255, 0.4);
            border-radius: size(10);
            border: none;
        }
        &--disabled {
            >button,
            >a {
                background: #e0e0e0;
                color: white;
                box-shadow: inset 0px -3px 3px rgba(0, 0, 0, 0.25), inset 0px 2px 3px rgba(255, 255, 255, 0.4);
                border-radius: 10px;
            }
        }
        &--hidden {
            display: none;
        }
    }
}