@import "./mixin";
.#{$root} {
    &__navigator {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: #fda0ba;
        width: 100%;
        height: size(60);
        margin-bottom: 10px;
    }
    &__navigator-inner {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: auto size(20);
        >span {
            font-family: $base-font-family;
            font-style: normal;
            font-weight: 400;
            font-size: size(30);
            line-height: size(35);
            text-align: center;
            color: #ffffff;
        }
        >a {
            width: size(25);
            height: size(25);
            cursor: pointer;
            >img {
                max-width: 100%;
                max-height: 100%;
            }
        }
    }
}