.#{$root} {
    $img_size: size(460);
    &__skin {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__skin-option {
        width: size(220);
        height: size(50);
        border-radius: size(30);
        border: none;
        cursor: pointer;
        >span {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            font-family: $base-font-family;
            font-style: normal;
            font-weight: 400;
            font-size: size(22);
            color: #ffffff;
            >img {
                width: size(30);
                height: size(30);
                margin-left: 10px;
            }
        }
    }
    &__skin-top__choose-image {
        background: #fda0ba;
        margin-right: size(20);
    }
    &__skin-top__use-camera {
        background: #fda0ba;
    }
    &__skin-image {
        width: $img_size;
        height: $img_size;
        position: relative;
        margin-top: size(25);
        display: block;
        &--active {
            background-color: black;
        }
        &--active>&__background {
            display: none;
        }
        &--inactive>&__background {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__skin-video-player {
        >video {
            width: $img_size;
            height: $img_size;
            align-self: center;
            -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
        }
    }
    &__skin-image--inactive>&__skin-video-player {
        display: none;
    }
    &__skin-image-show {
        >img[src] {
            width: $img_size;
            height: $img_size;
            display: block;
        }
        >img {
            display: none;
        }
    }
    &__skin-focus {
        position: absolute;
        top: 15%;
        left: 15%;
        width: 70%;
        height: 70%;
    }
    &__skin-focus__tl {
        position: absolute;
        top: 0%;
        left: 0%;
    }
    &__skin-focus__tr {
        position: absolute;
        top: 0%;
        right: 0%;
    }
    &__skin-focus__bl {
        position: absolute;
        bottom: 0%;
        left: 0%;
    }
    &__skin-focus__br {
        position: absolute;
        bottom: 0%;
        right: 0%;
    }
    &__skin-body__button {
        position: relative;
        margin-top: size(27);
    }
}