.#{$root} {
    &__tips {
        position: fixed;
        z-index: map-get($zindex, modal);
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4);
    }
    &__tips__content {
        background-color: white;
        border-radius: 20px;
        margin: 15% auto;
        padding: 15px;
        width: 320px;
    }
    &__tips__content-header {
        display: inline-block;
        font-family: $base-font-family;
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 18px;
        text-transform: uppercase;
        text-align: center;
        color: #fda0ba;
    }
    &__tips__content-body {
        padding-left: 15px;
        padding-right: 10px;
        >li {
            padding: 5px;
            font-family: $base-font-family;
            font-style: normal;
            font-weight: 400;
            font-size: 13px;
            line-height: 18px;
            text-transform: uppercase;
        }
        >li::marker {
            color: #fda0ba;
            font-weight: bold;
        }
    }
    &__tips__button {
        width: 280px;
        margin: auto;
        >button {
            height: 45px;
            font-size: 18px;
            border-radius: 10px;
        }
    }
}