$root: "ai-skin" !default;
$max-container-width: 709px !default;
$base-font-family: "Roboto", sans-serif;
$second-font-family: "Lobster", cursive;

$zindex: (
  modal     : 9000, 
  overlay   : 8000,
  dropdown  : 7000,
  header    : 6000,
  footer    : 5000,
  button    : 4000,
  background: -1,
);
