@import './mixin';
@import './variables';
@import './layout';
@import './banner';
@import './navigator';
@import './acne';
@import './header';
@import './welcome';
@import './skin';
@import './result';
@import './tips';
@import './contact';
@import './recommend';
html {
    font-size: size(10);
}

@media screen and (min-width: 414px) {
    html {
        font-size: size(13);
    }
}

@media screen and (min-width: 1000px) {
    html {
        font-size: size(16);
    }
}

.description-txt {
    word-wrap: break-word;
    white-space: -moz-pre-wrap;
    white-space: pre-wrap;
}

.title-txt {
    color: black;
    font-size: 20px;
    font-weight: bold;
}

.summary-txt {
    color: #fda0ba;
    font-size: 24px;
    font-weight: bold;
}

#share-buttons {
    padding-top: 1em;
}

.img-share {
    width: 3em;
    height: 3em;
}

.rotation-class {
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    transform: scale(-1, 1);
}

.ai-skin__container {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}