html,
body {
    height: 100%;
    padding: 0;
    border: 0;
    margin: 0;
    font-family: "Helvetica-Neue";
    background-color: #FFFFFF;
}

img {
    max-width: 100%;
}

@font-face {
    font-family: "Helvetica-Neue";
    src: url("../../assets/font/Helvetica/helveticaneue.ttf");
}

@font-face {
    font-family: "Helvetica-Neue-Light";
    src: url("../../assets/font/Helvetica/helvetica-neue-light.ttf");
}

@font-face {
    font-family: "Helvetica-Neue-Regular";
    src: url("../../assets/font/Helvetica/helvetica-neue-regular.ttf");
}

@font-face {
    font-family: "Helvetica-Neue-Bold";
    src: url("../../assets/font/Helvetica/helvetica-neue-bold.ttf");
}

@font-face {
    font-family: "Helvetica-Neue-Medium";
    src: url("../../assets/font/Helvetica/helvetica-neue-medium.ttf");
}


/*HEAD*/

.header-bg {
    background: url("../../assets/images/smart_mirror/banner_homepage.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    padding: 0rem 6rem;
    display: flex;
    flex-direction: column;
}

.mirror-navbar {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    padding: 3rem 0rem;
}

.mirror-logo {
    padding: 0rem 0rem !important;
}

.custom-input-search {
    position: relative;
    margin-left: auto;
}

.custom-input-search img {
    position: absolute;
    top: 15px;
    right: 20px;
}

.input-rounded {
    border-radius: 6rem;
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    /* padding: .375rem .75rem; */
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #FEFEFE;
    background-color: #fda0ba;
    background-clip: padding-box;
    border: 1px solid #fda0ba;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    outline: none;
}

.input-rounded::placeholder {
    color: #FEFEFE;
}

.smart-mirror-container {
    display: flex;
    align-content: center;
    flex: 4;
}

.smart-mirror-title {
    text-transform: uppercase;
    color: #C8AD60;
    font-size: 3rem;
}

.smart-mirror-text {
    font-family: "Helvetica-Neue-Light";
    font-size: 2rem;
}

.smart-mirror-box {
    font-family: "Helvetica-Neue-Light";
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.smart-mirror-box span {
    font-family: "Helvetica-Neue-Light";
    font-size: 1.5rem;
}

.border-smart-mirror {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
}


/* END HEAD */


/* BODY */

.cskh-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 4rem 0rem;
}

.cskh-text,
.cskh-text-2 {
    font-family: "Helvetica-Neue-Regular";
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold;
}

.cskh-text-2 {
    position: relative;
}

.cskh-text-2::before {
    content: "";
    position: absolute;
    background-color: black;
    height: 1px;
    bottom: -15px;
}

.multi-step-container {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
}

.multi-step-text {
    font-family: "Helvetica-Neue-Regular";
    font-size: 1.5rem;
    text-align: center;
}

.multi-step-title {
    font-family: "Helvetica-Neue-Regular";
    font-size: 1.8rem;
}

.multi-step-content {
    font-family: "Helvetica-Neue-Light";
    font-size: 1.2rem;
    margin: 0rem 3.5rem;
}

.multi-step-image {
    position: relative;
}

.multi-step-image img {
    width: 100%;
}

.smart-mirror-banner {
    position: relative;
}

.form-input-contact {
    font-family: "Helvetica-Neue-Light";
    border-radius: 0.5rem;
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    /* padding: .375rem 1.6rem; */
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5;
    color: #606060;
    background-clip: padding-box;
    border: 1px solid #B8B8BA;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    outline: none;
}

input.form-input-contact {
    background-color: #F9F9FC;
}

.user-img-contact {
    position: absolute;
    top: 8px;
    left: 22px;
}

.phone-img-contact {
    position: absolute;
    top: 8px;
    left: 22px;
}

.btn-countinue {
    font-family: "Helvetica-Neue-Regular";
    color: #FFFFFF;
    border-radius: 1.3rem;
    padding: 0.2rem 2rem;
    background: #fda0ba;
    outline: 0;
    background-color: #fda0ba;
    border: 1px solid #fda0ba;
}

.custom-card-contact {
    /* background-color: #F9F9FC; */
    box-shadow: 0 10px 11px rgb(0 0 0 / 9%);
    border-radius: 0.5rem;
    border: 1px solid #F9F9FC;
}

.container-xl#content_scroll_ID {
    margin-bottom: 4rem;
    padding: 0rem !important;
}


/* END BODY */


/* FOOTER */

.footer-about-us {
    display: flex;
    justify-content: center;
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-bottom: -3rem;
}

.footer-about-us .custom-card-body {
    padding: 2.25rem !important;
}

.about-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 3rem;
}

.about-text {
    font-size: 1.8rem;
    font-weight: bold;
}

.about-btn {
    font-family: "Helvetica-Neue-Bold";
    text-transform: uppercase;
    color: #FFFFFF;
    background: #fda0ba;
    border: 1px solid #fda0ba;
    border-radius: .5rem;
    padding: 0.5rem 1rem;
    box-shadow: 0px 12px 15px rgb(0 143 205 / 13%);
}

.footer-container-common {
    background: #fda0ba;
    padding-top: 5rem;
}

.footer-flex-common {
    display: flex;
    justify-content: center;
    color: #FFFFFF;
    gap: 4rem;
    position: relative;
    margin-bottom: 5rem;
}

.footer-flex-common .col-auto .footer-title-common {
    font-family: "Helvetica-Neue-Medium";
    font-size: 1.4rem;
    position: relative;
}

.footer-flex-common .col-auto:nth-child(2) div.footer-title-common:before {
    content: "";
    position: absolute;
    background-color: #FEFEFE;
    height: 2px;
    padding: 0% 7%;
    left: 0;
    bottom: 0;
}

.footer-flex-common .col-auto:nth-child(3) div.footer-title-common::before {
    content: "";
    position: absolute;
    background-color: #FEFEFE;
    height: 2px;
    padding: 0% 5%;
    left: 0;
    bottom: 0;
}

.footer-flex-common .col-auto:nth-child(4) div.footer-title-common::before {
    content: "";
    position: absolute;
    background-color: #FEFEFE;
    height: 2px;
    padding: 0% 5%;
    left: 0;
    bottom: 0;
}

.footer-flex-common .col-auto:nth-child(2) div.footer-title-common::after {
    content: "";
    position: absolute;
    background-color: #FEFEFE;
    height: 2px;
    padding: 0% 12%;
    left: 24px;
    bottom: 0;
}

.footer-flex-common .col-auto:nth-child(3) div.footer-title-common::after {
    content: "";
    position: absolute;
    background-color: #FEFEFE;
    height: 2px;
    padding: 0% 10%;
    left: 24px;
    bottom: 0;
}

.footer-flex-common .col-auto:nth-child(4) div.footer-title-common::after {
    content: "";
    position: absolute;
    background-color: #FEFEFE;
    height: 2px;
    padding: 0% 10%;
    left: 24px;
    bottom: 0;
}

.footer-copyright-common {
    display: flex;
    justify-content: center;
    color: #FEFEFE;
    border-top: 1px solid #f5f5f5;
    margin: 0rem 0rem;
    padding: 1rem 0rem;
    text-align: center;
}

.footer-introduce-text {
    height: 7.6rem;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}