<% if (typeof uuid === 'undefined') { var [t, tt] = process.hrtime(); var uuid =
t * 1000000000 + tt; }
 var productTabContainerTemplateId =
'aiMakeupProductTabContainerTemplate';
 var productTabContainerId=
'aiMakeupProductTabContainer';
var productTabTemplateId =
'aiMakeupProductTabTemplate';
 var productTabId= 'aiMakeupProductTab'; var
productSubTabTemplateId = 'aiMakeupProductSubTabTemplate';
 var productSubTabId=
'aiMakeupProductSubTab';
var productTabContentTemplateId =
'aiMakeupProductTabContentTemplate'; 
var productTabContentId=
'aiMakeupProductTabContent'; var productTabSubContentTemplateId =
'aiMakeupProductTabSubContentTemplate'; var productTabSubContentId=
'aiMakeupProductTabSubContent';var productTabHeaderId =
'aiMakeupProductTabHeader';var productTabHeaderTemplateId =
'aiMakeupProductTabHeaderTemplate';%>

    <div id="<%=productTabContainerId%><%=uuid%>" class="ai-makeup__products__tab__wrapper">
        <template id="<%=productTabContainerTemplateId%><%=uuid%>">
    <div class="ai-makeup__products__tab <%%=tabVisibilityClass%>">
      <div
        class="ai-makeup__products__tab__header"
        id="<%=productTabHeaderId%><%=uuid%>"
      >
        <template id="<%=productTabHeaderTemplateId%><%=uuid%>">
          <div
            class="
              ai-makeup__products__tab__container
              <%%=productTabVisibilityClass%>
            "
            id="<%=productTabId%><%=uuid%>"
          >
            <template id="<%=productTabTemplateId%><%=uuid%>">
              <div
                class="ai-makeup__products__tab__item <%%=categoryActiveClass%>"
                data-on-click="toggleCategoryActive(<%%=category%>, '<%= uuid %>')"
              >
                <%%=category.name%>
              </div>
            </template>
    </div>
    </template>
    </div>
    <div class="ai-makeup__products__tab__content__container" id="<%=productTabContentId%><%=uuid%>">
        <template id="<%=productTabContentTemplateId%><%=uuid%>">
          <div
            class="ai-makeup__products__tab__content <%%=subTypeActiveClass%>"
          >
            <div
              class="ai-makeup__products__item"
              data-on-click="toggleSubTypeActive(<%%=subType%>, '<%= uuid %>')"
            >
              <div
                class="ai-makeup__products__item__image"
                style="background-image: url('<%%=subType.image%>')"
              ></div>
              <div class="ai-makeup__products__item__name">
                <%%=subType.name%>
              </div>
            </div>
            <div
              class="ai-makeup__products__sub-item__container"
              id="<%=productTabSubContentId%>-<%%=index%>-<%=uuid%>"
            >
              <template
                id="<%=productTabSubContentTemplateId%>-<%%=index%>-<%=uuid%>"
              >
                <div
                  class="ai-makeup__products__sub-item <%%=colorActiveClass%>"
                  data-on-click="toggleColorActive($e, <%%=color%>, '<%= uuid %>')"
                >
                  <div
                    class="ai-makeup__products__sub-item__image"
                    style="
                      background-image: url('<%%=color.image%>');
                      background-color: <%%=color.hex%>;
                    "
                  ></div>
                  <div class="ai-makeup__products__sub-item__name">
                    <%%=color.name%>
                  </div>
                </div>
              </template>
    </div>
    </div>
    </template>
    </div>
    </div>
    </template>
    </div>
    <%- include('../packages/data-store.ejs') %>
        <script>
            if (!window.productsTabsModule) {
                window.productsTabsModule = (() => {
                    var productTabTemplateId = '<%=productTabTemplateId%>';
                    var productTabId = '<%=productTabId%>';
                    var productSubTabTemplateId = '<%=productSubTabTemplateId%>';
                    var productSubTabId = '<%=productSubTabId%>';
                    var productTabContentId = '<%=productTabContentId%>';
                    var productTabContentTemplateId = '<%=productTabContentTemplateId%>';
                    var productTabSubContentTemplateId =
                        '<%=productTabSubContentTemplateId%>';
                    var productTabSubContentId = '<%=productTabSubContentId%>';
                    var productTabHeaderId = '<%=productTabHeaderId%>';
                    var productTabHeaderTemplateId = '<%=productTabHeaderTemplateId%>';
                    var productTabContainerTemplateId = '<%=productTabContainerTemplateId%>';
                    var productTabContainerId = '<%=productTabContainerId%>';

                    var handlers = {
                        toggleCategoryActive: function(category, uuid) {
                            setCurrentCategory(uuid, category);
                            setColorsVisibility(uuid, false);
                            // setSubTypesVisibility(uuid, true);
                        },
                        toggleSubTypeActive: function(subType, uuid) {
                            setCurrentSubType(uuid, subType);
                            setColorsVisibility(uuid, true);
                            setSubTypesVisibility(uuid, false);
                        },
                        toggleProductActive: function(product, uuid) {
                            // setCurrentProduct(uuid, product);
                            // setColorsVisibility(uuid, true);
                            // setSubTypesVisibility(uuid, false);
                        },
                        toggleColorActive: function(e, color, uuid) {
                            e.stopPropagation();
                            setCurrentColor(uuid, color);
                            if (color.hex === 'transparent') {
                                // product item
                                setColorsVisibility(uuid, false);
                            } else {
                                setColorsVisibility(uuid, true);
                                var products = getProducts(uuid);
                                var currentProduct = products.find(function(product) {
                                    return product._id === color.product_id;
                                });
                                setCurrentProduct(uuid, currentProduct);
                            }
                            setSubTypesVisibility(uuid, false);
                            if (
                                overriddenHandlers[uuid] &&
                                overriddenHandlers[uuid].toggleProductActive
                            ) {
                                overriddenHandlers[uuid].toggleProductActive(currentProduct, uuid);
                            }
                        },
                    };
                    var overriddenHandlers = {};

                    var tabVisiblities = {};
                    var categories = {};
                    var currentCategories = {};
                    var subTypes = {};
                    var currentSubTypes = {};
                    var products = {};
                    var currentProducts = {};
                    var colors = {};
                    var currentColors = {};
                    var colorsVisiblities = {};
                    var subTypesVisiblities = {};

                    function getTabVisibility(uuid) {
                        return tabVisiblities[uuid];
                    }

                    function setTabVisibility(uuid, visible) {
                        tabVisiblities[uuid] = visible;
                        render(uuid);
                    }

                    function getCategories(uuid) {
                        return categories[uuid];
                    }

                    function setCategories(uuid, cats) {
                        categories[uuid] = cats;
                        render(uuid);
                    }

                    function getCurrentCategory(uuid) {
                        return currentCategories[uuid];
                    }

                    function setCurrentCategory(uuid, cat) {
                        currentCategories[uuid] = cat;
                        var subTypes = cat.sub_type_makeup;
                        if (subTypes && subTypes.length) {
                            setSubTypes(uuid, subTypes);
                        }
                        render(uuid);
                    }

                    function getSubTypes(uuid) {
                        return subTypes[uuid];
                    }

                    function setSubTypes(uuid, subTs) {
                        subTypes[uuid] = subTs;
                        if (!getCurrentSubType(uuid)) {
                            setCurrentSubType(uuid, subTs[0]);
                        }
                        render(uuid);
                    }

                    function getCurrentSubType(uuid) {
                        return currentSubTypes[uuid];
                    }

                    function setCurrentSubType(uuid, subT) {
                        currentSubTypes[uuid] = subT;
                        var products = subT.product;
                        if (products && products.length) {
                            setProducts(uuid, products);
                            setColors(
                                uuid,
                                flatMap(products, function(product) {
                                    return product.color;
                                })
                            );
                        }
                        render(uuid);
                    }

                    function getProducts(uuid) {
                        return products[uuid];
                    }

                    function setProducts(uuid, prods) {
                        products[uuid] = prods;
                        render(uuid);
                    }

                    function getCurrentProduct(uuid) {
                        return currentProducts[uuid];
                    }

                    function setCurrentProduct(uuid, prod) {
                        currentProducts[uuid] = prod;
                        // var colors = prod.color;
                        // if (colors && colors.length) {
                        //   setColors(uuid, colors);
                        // }
                        render(uuid);
                    }

                    function getColors(uuid) {
                        return colors[uuid];
                    }

                    function setColors(uuid, colrs) {
                        colors[uuid] = colrs;
                        if (!getCurrentColor(uuid)) {
                            setCurrentColor(colrs[0]);
                        }
                        render(uuid);
                    }

                    function getCurrentColor(uuid) {
                        return currentColors[uuid];
                    }

                    function setCurrentColor(uuid, colr) {
                        currentColors[uuid] = colr;
                        render(uuid);
                    }

                    function getColorsVisibility(uuid) {
                        return colorsVisiblities[uuid];
                    }

                    function setColorsVisibility(uuid, visible) {
                        colorsVisiblities[uuid] = visible;
                        render(uuid);
                    }

                    function getSubTypesVisibility(uuid) {
                        return subTypesVisiblities[uuid];
                    }

                    function setSubTypesVisibility(uuid, visible) {
                        subTypesVisiblities[uuid] = visible;
                        render(uuid);
                    }

                    function startup(uuid) {
                        if (!uuid) {
                            uuid = '<%=uuid%>';
                        }
                        render(uuid);
                    }

                    function registerHandlers(uuid, newHandlers) {
                        overriddenHandlers[uuid] = template.registerHandler(
                            uuid,
                            handlers,
                            newHandlers
                        );
                    }

                    function renderTab(uuid) {
                        var tabVisibility = getTabVisibility(uuid);
                        var tabContainer = document.getElementById(
                            productTabContainerId + uuid
                        );
                        if (!tabContainer) {
                            return;
                        }
                        template.renderChildren(
                            tabContainer,
                            productTabContainerTemplateId,
                            uuid, [{
                                tabVisibilityClass: tabVisibility ?
                                    'ai-makeup__products__tab--visible' : '',
                            }, ],
                            handlers,
                            overriddenHandlers
                        );
                    }

                    function renderTabHeader(uuid) {
                        var tabHeaderContainer = document.getElementById(
                            productTabHeaderId + uuid
                        );
                        var subTypeVisibility = getSubTypesVisibility(uuid);
                        if (!tabHeaderContainer) {
                            return;
                        }
                        template.renderChildren(
                            tabHeaderContainer,
                            productTabHeaderTemplateId,
                            uuid, [{
                                productTabVisibilityClass: !subTypeVisibility ?
                                    'ai-makeup__products__tab__container--visible' : '',
                                productSubTabVisibilityClass: subTypeVisibility ?
                                    'ai-makeup__products__sub-tab__container--visible' : '',
                            }, ]
                        );
                    }

                    function renderTabs(uuid, categories) {
                        var tabContainer = document.getElementById(productTabId + uuid);
                        if (!categories || !categories.length || !tabContainer) {
                            return;
                        }
                        var currentCategory = getCurrentCategory(uuid);
                        template.renderChildren(
                            tabContainer,
                            productTabTemplateId,
                            uuid,
                            categories.map(function(category) {
                                return {
                                    category: category,
                                    categoryActiveClass: currentCategory && currentCategory._id === category._id ?
                                        'ai-makeup__products__tab__item--active' : '',
                                };
                            }),
                            handlers,
                            overriddenHandlers
                        );
                    }

                    function renderSubTabs(uuid, subTypes) {
                        if (!subTypes || !subTypes.length) {
                            return;
                        }
                        var tabContainer = document.getElementById(productSubTabId + uuid);
                        if (!tabContainer) {
                            return;
                        }
                        var currentSubType = getCurrentSubType(uuid);
                        template.renderChildren(
                            tabContainer,
                            productSubTabTemplateId,
                            uuid,
                            subTypes.map(function(subType) {
                                return {
                                    subType: subType,
                                    subTypeActiveClass: currentSubType && currentSubType._id === subType._id ?
                                        'ai-makeup__products__tab__item--active' : '',
                                };
                            }),
                            handlers,
                            overriddenHandlers
                        );
                    }

                    function renderTabsContent(uuid, subTypes) {
                        if (!subTypes || !subTypes.length) {
                            return;
                        }
                        var tabContentContainer = document.getElementById(
                            productTabContentId + uuid
                        );
                        if (!tabContentContainer) {
                            return;
                        }
                        var currentSubType = getCurrentSubType(uuid);
                        var colorsVisibility = getColorsVisibility(uuid);
                        template.renderChildren(
                            tabContentContainer,
                            productTabContentTemplateId,
                            uuid,
                            subTypes.map(function(subType, index) {
                                var subTypeActiveClass = '';
                                if (currentSubType && currentSubType._id === subType._id) {
                                    if (!colorsVisibility) {
                                        subTypeActiveClass =
                                            'ai-makeup__products__tab__content--active';
                                    } else {
                                        subTypeActiveClass =
                                            'ai-makeup__products__tab__content--expanded';
                                    }
                                } else {
                                    if (colorsVisibility) {
                                        subTypeActiveClass =
                                            'ai-makeup__products__tab__content--invisible';
                                    }
                                }
                                return {
                                    subType: subType,
                                    subTypeActiveClass: subTypeActiveClass,
                                    index: index.toString(),
                                };
                            }),
                            handlers,
                            overriddenHandlers
                        );
                    }

                    function renderTabsSubContent(uuid, colors) {
                        if (!colors) {
                            return;
                        }
                        var currentProduct /* = getCurrentProduct(uuid) */ ;
                        var containerId;
                        var topLevel;
                        if (currentProduct) {
                            // var products = getProducts(uuid);
                            // var index = products.indexOf(currentProduct);
                            // containerId =
                            //   productTabSubContentId + '-' + index.toString() + '-' + uuid;
                            // topLevel = currentProduct;
                        } else {
                            var subTypes = getSubTypes(uuid);
                            var currentSubType = getCurrentSubType(uuid);
                            var index = subTypes.indexOf(currentSubType);
                            containerId =
                                productTabSubContentId + '-' + index.toString() + '-' + uuid;
                            topLevel = currentSubType;
                        }
                        var tabSubContentContainer = document.getElementById(containerId);
                        if (!tabSubContentContainer) {
                            return;
                        }
                        var currentColor = getCurrentColor(uuid);
                        template.renderChildren(
                            tabSubContentContainer,
                            productTabSubContentTemplateId + '-' + index.toString() + '-',
                            uuid, [{
                                color: {
                                    image: topLevel.image,
                                    name: topLevel.name,
                                    hex: 'transparent',
                                },
                                colorActiveClass: 'ai-makeup__products__sub-item--is-product',
                            }, ].concat(
                                colors.map(function(color) {
                                    color.image = '';
                                    return {
                                        color: color,
                                        colorActiveClass: currentColor && currentColor._id === color._id ?
                                            'ai-makeup__products__sub-item--active' : '',
                                    };
                                })
                            ),
                            handlers,
                            overriddenHandlers
                        );
                    }

                    function render(uuid) {
                        if (!uuid) {
                            uuid = '<%= uuid %>';
                        }
                        renderTab(uuid);
                        renderTabHeader(uuid);
                        var categories = getCategories(uuid);
                        renderTabs(uuid, categories);
                        var subTypes = getSubTypes(uuid);
                        // renderSubTabs(uuid, subTypes);
                        // var products = getProducts(uuid);
                        renderTabsContent(uuid, subTypes);
                        var colors = getColors(uuid);
                        renderTabsSubContent(uuid, colors);
                    }

                    startup();
                    return {
                        startup: startup,
                        render: render,
                        getCategories: getCategories,
                        setCategories: setCategories,
                        getCurrentCategory: getCurrentCategory,
                        setCurrentCategory: setCurrentCategory,
                        getSubTypes: getSubTypes,
                        setSubTypes: setSubTypes,
                        getCurrentSubType: getCurrentSubType,
                        setCurrentSubType: setCurrentSubType,
                        getProducts: getProducts,
                        setProducts: setProducts,
                        getCurrentProduct: getCurrentProduct,
                        setCurrentProduct: setCurrentProduct,
                        getColors: getColors,
                        setColors: setColors,
                        getCurrentColor: getCurrentColor,
                        setCurrentColor: setCurrentColor,
                        getTabVisibility: getTabVisibility,
                        setTabVisibility: setTabVisibility,
                        registerHandlers: registerHandlers,
                    };
                })();
            } else {
                window.productsTabsModule.startup('<%=uuid%>');
            }
        </script>