<%if (typeof uuid === 'undefined') { var [t, tt] = process.hrtime(); var uuid =
t * 1000000000 + tt; } var productTemplateId = 'aiMakeupProductTemplate'; var
productId= 'aiMakeupProduct';%>
<div class="ai-makeup__product" id="<%=productId%><%=uuid%>">
  <template id="<%=productTemplateId%><%=uuid%>">
    <div class="ai-makeup__product__container <%%=productItemVisibilityClass%>">
      <div
        class="ai-makeup__product__image"
        style="background-image: url('<%%=product.image%>')"
      ></div>
      <div class="ai-makeup__product__detail">
        <div class="ai-makeup__product__detail__attributes">
          <h3 class="ai-makeup__product__detail__name"><%%=product.name%></h3>
          <p class="ai-makeup__product__detail__color">
            <%%=product.color[0].hex%>
          </p>
          <strong class="ai-makeup__product__detail__price">[Price]</strong>
        </div>
        <div class="ai-makeup__button ai-makeup__product__detail__cta">
          <button type="button">Chi tiết</button>
        </div>
      </div>
    </div>
  </template>
</div>
<script>
  if (!window.productItemModule) {
    window.productItemModule = (function () {
      var products = {};
      var visibilities = {};
      var productContainerId = '<%=productId%>';
      var productTemplateId = '<%=productTemplateId%>';
      function getProduct(uuid) {
        return products[uuid];
      }
      function setProduct(uuid, product) {
        products[uuid] = product;
        render(uuid);
      }
      function getVisibility(uuid) {
        return visibilities[uuid];
      }
      function setVisibility(uuid, visibility) {
        visibilities[uuid] = visibility;
        render(uuid);
      }
      function render(uuid) {
        var productContainer = document.getElementById(
          productContainerId + uuid
        );
        if (!productContainer) {
          return;
        }
        var product = getProduct(uuid);
        var visible = getVisibility(uuid);
        template.renderChildren(productContainer, productTemplateId, uuid, [
          {
            product: product,
            productItemVisibilityClass: visible
              ? 'ai-makeup__product__container--visible'
              : '',
          },
        ]);
      }
      return {
        render: render,
        setProduct: setProduct,
        getProduct: getProduct,
        setVisibility: setVisibility,
        getVisibility: getVisibility,
      };
    })();
  }
</script>
