<%if (typeof uuid === 'undefined') { var [t, tt] = process.hrtime(); var uuid =
t * 1000000000 + tt; } %>
    <html lang="en">

    <body>
        <%- include('./partials/packages/template.ejs') %>
            <div class="ai-makeup__container">
                <%- include('./partials/navigator.ejs', { uuid, title: 'Chụp ảnh chân\
      dung'}); %>
                    <%- include('./partials/products/product-item.ejs',{uuid}); %>
                        <%- include('./partials/pages/makeup.ejs',{uuid}); %>
                            <%-
      include('./partials/products/products-tabs.ejs',{uuid}); %>
            </div>
            <%- include('./partials/tips.ejs'); %>
                <%-
    include('./partials/packages/json-path.ejs'); %>
                    <%-
    include('./partials/packages/make-request.ejs'); %>
                        <script>
                            if (!window.makeupModule) {
                                window.makeupModule = (function() {
                                    var width = 320; // We will scale the video width to this
                                    var height = 0; // This will be computed based on the input stream

                                    var streaming = false;

                                    var video = null;
                                    var canvas = null;
                                    var imageProcess = null;
                                    var makeupImage = null;
                                     var videoPlayer = null;
                                    var captureBtn = null;
                                    // var localImageInput = null;
                                    var nativeCameraInput = null;
                                    var uploading = false;

                                    var products = {};
                                    var productVisibilities = {};
                                    var tabVisibilities = {};
                                    var categories = {};
                                    var currentCategories = {};
                                    var subTypes = {};
                                    var currentSubTypes = {};
                                    var colors = {};
                                    var currentColors = {};
                                    var handlers = {};
                                    var store;

                                    function updateSharedImageStore(state, sharedImage) {
                                        return dataStore.mutateState(state, {
                                            sharedImage: sharedImage,
                                        });
                                    }

                                    function selectSharedImageStore(state) {
                                        return state.sharedImage;
                                    }

                                    function getProduct(uuid) {
                                        return products[uuid];
                                    }

                                    function setProduct(uuid, product) {
                                        products[uuid] = product;
                                        render(uuid);
                                    }

                                    function getCategories(uuid) {
                                        return categories[uuid];
                                    }

                                    function setCategories(uuid, cats) {
                                        categories[uuid] = cats;
                                        render(uuid);
                                    }

                                    function getCurrentCategory(uuid) {
                                        return currentCategories[uuid];
                                    }

                                    function setCurrentCategory(uuid, cat) {
                                        currentCategories[uuid] = cat;
                                        render(uuid);
                                    }

                                    function getSubTypes(uuid) {
                                        return subTypes[uuid];
                                    }

                                    function setSubTypes(uuid, subTs) {
                                        subTypes[uuid] = subTs;
                                        render(uuid);
                                    }

                                    function getCurrentSubType(uuid) {
                                        return currentCategories[uuid];
                                    }

                                    function setCurrentSubType(uuid, subT) {
                                        currentCategories[uuid] = subT;
                                        render(uuid);
                                    }

                                    function getColors(uuid) {
                                        return colors[uuid];
                                    }

                                    function setColors(uuid, colrs) {
                                        colors[uuid] = colrs;
                                        render(uuid);
                                    }

                                    function getCurrentColor(uuid) {
                                        return currentColors[uuid];
                                    }

                                    function setCurrentColor(uuid, colr) {
                                        currentColors[uuid] = colr;
                                        render(uuid);
                                    }

                                    function getProductVisibility(uuid) {
                                        return productVisibilities[uuid];
                                    }

                                    function setProductVisibility(uuid, visibility) {
                                        productVisibilities[uuid] = visibility;
                                        render(uuid);
                                    }

                                    function getTabVisibility(uuid) {
                                        return tabVisibilities[uuid];
                                    }

                                    function setTabVisibility(uuid, visibility) {
                                        tabVisibilities[uuid] = visibility;
                                        render(uuid);
                                    }

                                    function selectSharedImage() {
                                        return store.select(selectSharedImageStore);
                                    }

                                    function loadProductByColor(colorCode = "#ee7b7e")
                                    {
                                           $.ajax({
                                          url: "https://api-soida.applamdep.com/api/get-makeup-data",
                                          type: "post",
                                          data: {
                                            hex :  colorCode

                                          },

                                          success: function(response) {

                                                loadProductAndBrand(response.data);


                                              
                                            },
                                          error: function(jqXHR, textStatus, errorThrown) {

                                          }
                                      });


                                    }


                                    var uuidGloble = 0;

                                    function loadProductAndBrand(data) 
                                    {

                                          $(".resultHeader").show();
                                        
                                            var listProduct = data.list_product;
                                            var htmltemplate = "";

                                            var listbrand = data.list_brand;

                                            $("#recomend-product").empty();
                                             $("#makeup-brand").empty();
                                             $("#recomend-product").removeClass("slick-initialized slick-slider");
                                             $("#makeup-brand").removeClass("slick-initialized slick-slider");

             
                                            for( var i =0; i < listProduct.length; i++)
                                            {
 

                                                var productdraw = listProduct[i];

                                                var product_id =  productdraw.product_id;

                                                htmltemplate += '<div class="ai-makeup__products__grid__cell recomend-product-grid-cell ">\
                                                <div class="ai-makeup__products__item">\
                                                <div class="ai-makeup__products__item__image" title="" style="background-image: url(' + "'" +  product_id.image + "'"  +')"></div>\
                                                <span class="recomendTitleProduct">'+product_id.name +'</span>\
                                                <a href= '+ '"' + product_id.href   +'"' + 'class="ai-makeup__products__item__try" type="button">\
                                                Mua ngay\
                                                </a>\
                                                </div>\
                                                </div>';
                                            }   


                                            var htmlbrqandTemplate ="";
                                            for( var i =0; i < listbrand.length; i++)
                                            {
                                               
                                                var branDraw = listbrand[i];
                                                for (var j =0; j <branDraw.length; j++)
                                        
                                                {
                                                        var brandItem =  branDraw[j];

                                                         htmlbrqandTemplate += '<img  src="'+  brandItem.image +'"' + '>';
                                                                                 
                                                       
                                                }
                                                 
                                            }     
                                            
                                          
                                            $("#recomend-product").html(htmltemplate);
                                            $("#makeup-brand").html(htmlbrqandTemplate);
                                            $("#recomend-product").show();
                                            $("#makeup-brand").show();


            

                                            if(listProduct.length ==1)
                                            {
                                               
                                                $('#recomend-product').slick({
                                                        infinite: true,
                                                        slidesToShow: 1,
                                                        slidesToScroll: 1
                                                 });
                                            }

                                             if(listProduct.length ==2)
                                            {
                                                 $('#recomend-product').slick({
                                                        infinite: true,
                                                        slidesToShow: 2,
                                                        slidesToScroll: 2
                                                    
                                            
                                                   });
                                            }

                                          if(listProduct.length > 2)
                                            {
                                                 $('#recomend-product').slick({
                                                        infinite: true,
                                                        slidesToShow: 3,
                                                        slidesToScroll: 3
                                                  });
                                            }
                
                                            
                                            if(listbrand.length ==1)
                                            {
                                                
                                                  $('#makeup-brand').slick({
                                                        
                                                        slidesToShow: 3,
                                                        slidesToScroll: 3
                                                    
                                            
                                                   });
                                            }

                                             if(listbrand.length ==2)
                                            {
                                                

                                                  $('#makeup-brand').slick({
                                                        
                                                        slidesToShow: 2,
                                                        slidesToScroll: 2
                                                    
                                            
                                                   });
                                            }

                                              if(listbrand.length >2)
                                            {
                                                 $('#makeup-brand').slick({
                                                    
                                                        slidesToShow: 3,
                                                        slidesToScroll: 3
                                                        
                                                   });


                                            }
                                           
                                            

                                    }

                                    function startup(uuid) {

                                        if (!uuid) {
                                            uuid = '<%= uuid %>';
                                            uuidGloble = uuid;
                                        }

                                        store = dataStore.registerStore('makeup');
                                        dataStore.createMutation(store, updateSharedImageStore);
                                        dataStore.createSelector(store, selectSharedImageStore);

                                        video = document.getElementById('video');
                                        canvas = document.getElementById('canvas');
                                        imageProcess = document.getElementById('output');
                                        makeupImage = document.getElementById('makeupImage');
                                        videoPlayer = document.getElementById('videoPlayer');
                                        captureBtn = document.getElementById('captureBtn');
                                        // localImageInput = document.getElementById('localImageInput');
                                        nativeCameraInput = document.getElementById('nativeCameraInput');
                                        makeupPageModule.setImageVisibility(uuid, false);
                                        addEventListenerForCamera(uuid);
                                        productsTabsModule.registerHandlers(uuid, {
                                            toggleCategoryActive: {
                                                isPreventDefault: false,
                                                fn: function(e) {
                                                    var currentCategory =
                                                        productsTabsModule.getCurrentCategory(uuid);
                                                    setCurrentCategory(uuid, currentCategory);
                                                },
                                            },
                                            toggleSubTypeActive: {
                                                isPreventDefault: false,
                                                fn: function(e) {
                                                    var currentSubType =
                                                        productsTabsModule.getCurrentSubType(uuid);
                                                    setCurrentSubType(uuid, currentSubType);
                                                },
                                            },
                                            toggleProductActive: {
                                                isPreventDefault: false,
                                                fn: function(e) {
                                                    var currentProduct =
                                                        productsTabsModule.getCurrentProduct(uuid);
                                                    setProduct(uuid, currentProduct);
                                                },
                                            },
                                            toggleColorActive: {
                                                isPreventDefault: false,
                                                fn: function(e, color) {
                                                    var currentColor = productsTabsModule.getCurrentColor(uuid);
                                                    if (color && color.hex !== 'transparent') {
                                                        setCurrentColor(uuid, currentColor);
                                                        uploadImage(uuid);
                                                    } else {
                                                        makeupPageModule.setImageSrc(uuid, imageProcess.src);
                                                    }
                                                },
                                            },
                                        });
                                        navigatorModule.registerHandlers(uuid, {
                                            share: {
                                                isPreventDefault: true,
                                                fn: function(e) {
                                                    store.mutate(
                                                        updateSharedImageStore,
                                                        makeupPageModule.getImageSrc(uuid)
                                                    );
                                                    window.navigateTo('/share');
                                                },
                                            },
                                        });
                                        makeupPageModule.registerHandlers(uuid, {
                                            changeFile: {
                                                isPreventDefault: false,
                                                fn: function(e, uuid) {
                                                    var files = makeupPageModule.getImageFile(uuid) || [];
                                                    if (files.length) {
                                                        var reader = new FileReader();

                                                        reader.onloadend = function() {
                                                            makeupPageModule.setImageSrc(uuid, reader.result);
                                                        };

                                                        reader.readAsDataURL(files[0]);
                                                        processLocalImage(files[0]);
                                                        turnOffCamera();
                                                        continueOnCapturedImage(uuid);
                                                    }
                                                },
                                            },
                                            recapture: {
                                                isPreventDefault: false,
                                                fn: function(uuid) {
                                                    openCamera(uuid);
                                                },
                                            },
                                        });

                                        function onLocationChange(e) {
                                            prepare(uuid);
                                        }
                                        window.removeEventListener(
                                            'router:beforeNavigation',
                                            onLocationChange
                                        );
                                        window.addEventListener(
                                            'router:beforeNavigation',
                                            onLocationChange
                                        );
                                        prepare(uuid);
                                        render(uuid);

                                        
                                    }

                                    function renderProduct(uuid) {

                                        productItemModule.setVisibility(uuid, getProductVisibility(uuid));
                                        productItemModule.setProduct(uuid, getProduct(uuid));

                                    }

                                    function renderTabs(uuid) {
                                        var cats = getCategories(uuid);
                                        if (cats) {
                                            productsTabsModule.setTabVisibility(uuid, getTabVisibility(uuid));
                                            productsTabsModule.setCategories(uuid, cats);
                                        }
                                    }

                                    function prepare(uuid) {
                                        var currentProduct = productsGridModule.selectCurrentProduct();
                                        var currentCategories =
                                            productsGridModule.selectCurrentCategories();
                                        setProduct(uuid, currentProduct);
                                        setCategories(uuid, currentCategories);
                                        setProductVisibility(uuid, false);
                                        setTabVisibility(uuid, false);
                                    }

                                    function render(uuid) {
                                        if (!uuid) {
                                            uuid = '<%= uuid %>';
                                        }
                                        renderProduct(uuid);
                                        renderTabs(uuid);
                                    }

                                    startup();

                                    function openCamera(uuid) {
                                        // Do nothing when video is streaming or image are being uploaded to server
                                        if (streaming || uploading) return;
                                        makeupPageModule.setImageVisibility(uuid, false);
                                        clearImageFromPreviousSession(uuid);

                                        // Support for old browsers which do not support WebRTC
                                        const supported = 'mediaDevices' in navigator;
                                        if (!supported) {
                                            toggleVideoPlayer((show = false));
                                            nativeCameraInput.click();

                                            return;
                                        }

                                        navigator.mediaDevices
                                            .getUserMedia({
                                                video: true,
                                                audio: false
                                            })
                                            .then(function(stream) {
                                                togglemakeupImage((active = true));
                                                toggleCaptureBtn((show = true));
                                                toggleVideoPlayer((show = true));
                                                video.srcObject = stream;
                                                video.play();

                                                function onLocationChange(e) {
                                                    video.pause();
                                                    stopVideo();
                                                }
                                                window.removeEventListener(
                                                    'router:afterNavigation',
                                                    onLocationChange
                                                );
                                                window.addEventListener(
                                                    'router:afterNavigation',
                                                    onLocationChange
                                                );
                                                window.removeEventListener('beforeunload', onLocationChange);
                                                window.addEventListener('beforeunload', onLocationChange);
                                            })
                                            .catch(function(err) {
                                                //if there's no compatible camera connected, or the user denied access
                                                console.error(err);
                                                alert('Không thể kết nối camera');
                                            });
                                    }

                                    function resultChoseImage(makeupId, colorHex) {
                                        uuid = uuidGloble;

                                        var getConfigmakeupAI = function() {
                                            return makeRequest(
                                                'https://raw.githubusercontent.com/ktpm489/admin-demo/master/config3.js',
                                                'GET'
                                            );
                                        };

                                        const postImageTomakeupAI = function(uuid, config) {
                                            const dataInput = imageProcess.src;


                                            var jdata = {
                                                email: config.email,
                                                image: dataInput.substr(dataInput.indexOf('base64,') + 7) + '',
                                                image_type: config.image_type,
                                                makeupID: makeupId
                                                // makeupID: "hvGPaNzffgMTKLZT"
                                            };

                                            var headers = {
                                                'Content-Type': 'application/json',
                                                // apikey: config.configmakeup.key,
                                            };

                                            return makeRequest(
                                                config.link,
                                                'POST',
                                                headers,
                                                JSON.stringify(jdata)
                                            );
                                        };

                                        uploading = true;
                                        var config = {
                                            link: 'https://csgvietnam.com/api/user-upload',
                                            image_type: 'jpg',
                                            email: 'test@gmail.com',
                                        };
                                        makeupPageModule.setImageLoading(uuid, true);
                                        postImageTomakeupAI(uuid, config)
                                            .then(function(secondResponse) {
                                                // Store response before navigating to result page.
                                                const data = JSON.parse(secondResponse.responseText);
                                                const IMAGE_SELECTOR = '$.data.media_info_list[0].media_data';
                                                makeupPageModule.setImageSrc(
                                                    uuid,
                                                    'data:image/jpg;base64,' + jsonPath(data, IMAGE_SELECTOR)
                                                );
                                                makeupPageModule.setImageLoading(uuid, false);
                                            })
                                            .catch(function(err) {
                                                console.error(err);
                                                alert('Xin vui lòng thử lại');
                                            })
                                            .finally(function() {
                                                uploading = false;
                                            });

                                         loadProductByColor(colorHex);
                                         

                                    }

                                    function uploadImage(uuid) {

                                        var getConfigmakeupAI = function() {
                                            return makeRequest(
                                                'https://raw.githubusercontent.com/ktpm489/admin-demo/master/config3.js',
                                                'GET'
                                            );
                                        };

                                        const postImageTomakeupAI = function(uuid, config) {
                                            const dataInput = imageProcess.src;
                                            var product = getProduct(uuid);
                                            if (!product || !product.color || !product.color[0]) {
                                                return;
                                            }
                                            var jdata = {
                                                email: config.email,
                                                image: dataInput.substr(dataInput.indexOf('base64,') + 7) + '',
                                                image_type: config.image_type,
                                                makeupID: getCurrentColor(uuid).makeup_id,
                                            };

                                            var headers = {
                                                'Content-Type': 'application/json',
                                                // apikey: config.configmakeup.key,
                                            };

                                            return makeRequest(
                                                config.link,
                                                'POST',
                                                headers,
                                                JSON.stringify(jdata)
                                            );
                                        };

                                        uploading = true;
                                        var config = {
                                            link: 'https://csgvietnam.com/api/user-upload',
                                            image_type: 'jpg',
                                            email: 'test@gmail.com',
                                        };
                                        makeupPageModule.setImageLoading(uuid, true);
                                        postImageTomakeupAI(uuid, config)
                                            .then(function(secondResponse) {
                                                // Store response before navigating to result page.
                                                const data = JSON.parse(secondResponse.responseText);
                                                const IMAGE_SELECTOR = '$.data.media_info_list[0].media_data';
                                                makeupPageModule.setImageSrc(
                                                    uuid,
                                                    'data:image/jpg;base64,' + jsonPath(data, IMAGE_SELECTOR)
                                                );
                                                makeupPageModule.setImageLoading(uuid, false);
                                            })
                                            .catch(function(err) {
                                                console.error(err);
                                                alert('Xin vui lòng thử lại');
                                            })
                                            .finally(function() {
                                                uploading = false;
                                            });
                                    }

                                    // function addEventListenerForChooseImage() {
                                    //   function handler(e) {
                                    //     const files = e.target.files;

                                    //     if (files.length) {
                                    //       const reader = new FileReader();

                                    //       reader.onloadend = function () {
                                    //         imageShow.src = reader.result;
                                    //       };

                                    //       reader.readAsDataURL(files[0]);
                                    //       processLocalImage(files[0]);
                                    //     }
                                    //   }

                                    //   localImageInput.addEventListener('change', handler, false);
                                    //   nativeCameraInput.addEventListener('change', handler, false);
                                    // }

                                    function addEventListenerForCamera(uuid) {
                                        video.addEventListener(
                                            'canplay',
                                            function(ev) {
                                                if (!streaming) {
                                                    height = video.videoHeight / (video.videoWidth / width);

                                                    if (isNaN(height)) {
                                                        height = width / (4 / 3);
                                                    }

                                                    video.setAttribute('width', width);
                                                    video.setAttribute('height', height);
                                                    canvas.setAttribute('width', width);
                                                    canvas.setAttribute('height', height);
                                                    streaming = true;
                                                }
                                            },
                                            false
                                        );

                                        captureBtn.addEventListener(
                                            'click',
                                            function(ev) {
                                                ev.preventDefault();
                                                takePicture(uuid);
                                                continueOnCapturedImage(uuid);
                                            },
                                            false
                                        );
                                    }

                                    function takePicture(uuid) {
                                        const context = canvas.getContext('2d');
                                        if (width && height) {
                                            canvas.width = width;
                                            canvas.height = height;
                                            context.translate(width, 0);
                                            context.scale(-1, 1);
                                            context.drawImage(video, 0, 0, width, height);

                                            const imgUrl = canvas.toDataURL('image/png');
                                            makeupPageModule.setImageSrc(uuid, imgUrl);

                                            processCaptureImage(imgUrl);
                                        }
                                        turnOffCamera();
                                      
                                    }

                                    function turnOffCamera() {
                                        toggleCaptureBtn((show = false));
                                        toggleVideoPlayer((show = false));

                                        // Attempt to fix not response on Chrome Android after capture photo
                                        setTimeout(function() {
                                            stopVideo();
                                        }, 1000);
                                    }

                                    function continueOnCapturedImage(uuid) {
                                        // showProduct(uuid);
                                        showTab(uuid);
                                        // showcolorRange(uuid);
                                        makeupPageModule.setImageVisibility(uuid, true);
                                  

                                        showcolorRange(uuid);
                                        $(".ai-makeup__bottom-actions").hide();
                                        $("#recomend-product").hide();
                                        $("#makeup-brand").hide();

                                        $("#colorTitle").show();
                                        $(".color-ai-area").show();
                                         $("#colorange").owlCarousel({
                                             items : 4
                                         });
                                        



                                    }

                                    function stopVideo() {
                                        const mediaStream = video.srcObject;
                                        const tracks = mediaStream.getTracks();
                                        streaming = false;
                                        tracks.forEach(function(track) {
                                            track.stop();
                                            track.enabled = false;
                                        });
                                    }

                                    function processCaptureImage(imgUrl) {
                                        squareCropAndResizeImage(imgUrl, 500)
                                            .then(function(outputUrl) {
                                                imageProcess.setAttribute('src', outputUrl);
                                            })
                                            .catch(function(err) {
                                                console.error('Error ocurred when cropping image: ', err);
                                            });
                                    }

                                    function processLocalImage(file) {
                                        if (file) {
                                            var reader = new FileReader();

                                            reader.onload = function(e) {
                                                squareCropAndResizeImage(e.target.result, 500)
                                                    .then(function(outputUrl) {
                                                        imageProcess.setAttribute('src', outputUrl);
                                                    })
                                                    .catch(function(err) {
                                                        console.error('Error ocurred when cropping image: ', err);
                                                    });
                                            };

                                            reader.readAsDataURL(file);
                                        }
                                    }

                                    function clearImageFromPreviousSession(uuid) {
                                        makeupPageModule.setImageVisibility(uuid, '');
                                        if (imageProcess) {
                                            imageProcess.setAttribute('src', '');
                                        }
                                    }

                                    function togglemakeupImage(active) {
                                        if (active) {
                                            makeupImage.classList.remove('ai-makeup__makeup-image--inactive');
                                            makeupImage.classList.add('ai-makeup__makeup-image--active');
                                        } else {
                                            makeupImage.classList.remove('ai-makeup__makeup-image--active');
                                            makeupImage.classList.add('ai-makeup__makeup-image--inactive');
                                        }
                                    }

                                    function toggleCaptureBtn(show) {
                                        if (show) {
                                            captureBtn.classList.remove('ai-makeup__button--hidden');
                                        } else {
                                            captureBtn.classList.add('ai-makeup__button--hidden');
                                        }
                                    }

                                    function toggleVideoPlayer(show) {
                                        if (show) {
                                            videoPlayer.style.display = 'block';
                                        } else {
                                            videoPlayer.style.display = 'none';
                                        }
                                    }

                                    function showProduct(uuid) {
                                        setProductVisibility(uuid, true);
                                    }

                                    function hideProduct(uuid) {
                                        setProductVisibility(uuid, false);
                                    }

                                    function showTab(uuid) {
                                        setTabVisibility(uuid, true);
                                    }

                                    function showcolorRange(uuid) {

                                           

                                    }

                                    function loadColorSelect()
                                    {
                                        
                                        //  window.sessionStorage.setItem("typeId", typeId);

                                         var itemType = window.sessionStorage.getItem('typeId');
                                        // var data ={"status":200,"message":"Get color success","data":[{"_id":"60b48a6ddee04d41f64cd356","hex":"rgb(154, 114, 98)","makeup_id":"Fb1130HYym4TTDLH"},{"_id":"60e16f75b7aeac15932d33fe","hex":"#784628","makeup_id":"mkAEwGVBClsbFvQT"},{"_id":"60e16e34b7aeac15932d33f1","hex":"#a38c6e","makeup_id":"NukrpmeFuOdFzQJD"},{"_id":"60dad1e74408eb3ea3b1979e","hex":"#8b6c59","makeup_id":"klQlzOKiZFxaJYlZ"},{"_id":"60e16fcfb7aeac15932d3402","hex":"#c25d3a","makeup_id":"pLJOFoxYXhLalOSP"},{"_id":"60e16fb9b7aeac15932d3401","hex":"#333e4a","makeup_id":"xFgDXWvnlznqiuZz"},{"_id":"60e16ed4b7aeac15932d33f8","hex":"#e3bb97","makeup_id":"RHgVPDQqVifwOTkx"},{"_id":"60e16e4ab7aeac15932d33f2","hex":"#d9cab4","makeup_id":"ufMxWTPJUEAbXPCx"},{"_id":"60e16ebcb7aeac15932d33f7","hex":"#9caec4","makeup_id":"WDHiwHjVVMoxwbTM"},{"_id":"60e16e80b7aeac15932d33f4","hex":"#c2c2c2","makeup_id":"DaHKdEEVMreNNujf"},{"_id":"60e16f52b7aeac15932d33fd","hex":"#9c7b54","makeup_id":"gZOjWpUDedvcMvkH"},{"_id":"60e16f3cb7aeac15932d33fc","hex":"#642722","makeup_id":"hvGPaNzffgMTKLZT"},{"_id":"60e16e19b7aeac15932d33f0","hex":"#c9a095","makeup_id":"KSPveOBNcljPbtUo"},{"_id":"60b487bddee04d41f64cd34e","hex":"rgb(0, 125, 139)","makeup_id":"Fb11286HVxIwXTUh"},{"_id":"60b489e0dee04d41f64cd354","hex":"rgb(217, 135, 158)","makeup_id":"Fb1126AFiffWFxUM"},{"_id":"60e16f8fb7aeac15932d33ff","hex":"#98583d","makeup_id":"pnNDNrWebyFAyDVW"},{"_id":"60e16f1fb7aeac15932d33fb","hex":"#b49d7e","makeup_id":"jGbgjYjYrjBDsEsk"},{"_id":"60e16eecb7aeac15932d33f9","hex":"#5d3b2a","makeup_id":"KkONYVxrhJCLYyJj"},{"_id":"60e16ea8b7aeac15932d33f6","hex":"#d2c2b5","makeup_id":"qzTXegPsCaxalqZB"},{"_id":"60b488badee04d41f64cd350","hex":"rgb(69, 24, 70)","makeup_id":"Fb1127vSC6SBH4pX"},{"_id":"60b4897edee04d41f64cd352","hex":"rgb(114, 51, 34)","makeup_id":"Fb11295fMo4sNrIp"},{"_id":"60e16fa4b7aeac15932d3400","hex":"#952a24","makeup_id":"JnXUJwHjBmBakFkk"},{"_id":"60e16effb7aeac15932d33fa","hex":"#47354b","makeup_id":"IJiIsqgoZlfBhfGN"},{"_id":"60e16e95b7aeac15932d33f5","hex":"#b99aad","makeup_id":"lsKDMvlrTYRnupoK"},{"_id":"60e16e61b7aeac15932d33f3","hex":"#7e6a4f","makeup_id":"rBpKJiymTwgiyFuR"}],"is_success":true};
                                        //    drawColorSelect(data.data);
                                        $.ajax({
                                            url: "https://api-soida.applamdep.com/api/get-makeup-color",
                                            type: "post",
                                            data: {
                                                "type_id" :itemType ,
                                                "company_id": "610e497b852dc227fcce0a5c"


                                            },
                                            success: function(response) {

                                                    drawColorSelect(response.data);

                                            },
                                            error: function(jqXHR, textStatus, errorThrown) {

                                            }
                                            });
                                    }

   
                                    function drawColorSelect(data)
                                    {
                                        $("#colorange").empty();
                                    
                                        var  htmltemplate = "";
                                    
                                        for ( var i =0; i< data.length; i++)
                                        {
                                             var  coloritem =  data[i];
                                             console.log(coloritem);
                                            htmltemplate += '<span style ="background-color:'  + coloritem.hex  + '"' +' onclick=" ' +   'makeupModule.resultChoseImage('+  "'"+ coloritem.makeup_id+ "'"+ ',' + "'" + coloritem.hex + "'" + ')' + '" class="dot"></span>';
                                           
                                         
                                       }
                                        $("#colorange").html(htmltemplate);

                                        
                                        
                                  
                                       
                                     }
                                    function hideTab(uuid) {
                                        setTabVisibility(uuid, false);
                                    }
                                    //==============================================================//
                                    // Utils
                                    //==============================================================//
                                    function squareCropAndResizeImage(url, targetSize = 500) {
                                        return squareCenterCropImage(url).then(function(croppedUrl) {
                                            return resizeImage(croppedUrl, targetSize);
                                        });
                                    }

                                    function squareCenterCropImage(url) {
                                        return new Promise(function(resolve) {
                                            const inputImage = new Image();

                                            inputImage.onload = function() {
                                                const inputWidth = inputImage.naturalWidth;
                                                const inputHeight = inputImage.naturalHeight;

                                                // if it's bigger than our target aspect ratio
                                                let croppedWidth = inputWidth;
                                                let croppedHeight = inputHeight;
                                                if (inputWidth > inputHeight) {
                                                    croppedWidth = inputHeight;
                                                } else if (inputWidth < inputHeight) {
                                                    croppedHeight = inputWidth;
                                                }
                                                // calculate the position to draw the image at
                                                const croppedX = (croppedWidth - inputWidth) * ;
                                                const croppedY = (croppedHeight - inputHeight) * ;

                                                // create a canvas that will present the output image
                                                const canvas = document.createElement('canvas');
                                                canvas.width = croppedWidth;
                                                canvas.height = croppedHeight;

                                                // draw our image at position 0, 0 on the canvas
                                                const context = canvas.getContext('2d');
                                                context.drawImage(inputImage, croppedX, croppedY);

                                                resolve(canvas.toDataURL('image/png'));
                                            };

                                            inputImage.src = url;
                                        });
                                    }

                                    function resizeImage(url, targetSize = 500) {
                                        return new Promise(function(resolve) {
                                            const inputImage = new Image();

                                            inputImage.onload = function() {
                                                var canvas = document.createElement('canvas');
                                                canvas.width = targetSize;
                                                canvas.height = targetSize;

                                                var context = canvas.getContext('2d');
                                                context.drawImage(inputImage, 0, 0, targetSize, targetSize);

                                                resolve(canvas.toDataURL('image/png'));
                                            };

                                            inputImage.src = url;
                                        });
                                    }
                                                                
                                    return {
                                        openCamera: openCamera,
                                        // chooseImage: chooseImage,
                                        uploadImage: uploadImage,
                                        resultChoseImage: resultChoseImage,
                                        loadColorSelect:  loadColorSelect,
                                        drawColorSelect:  drawColorSelect,
                                        showProduct: showProduct,
                                        loadProductAndBrand: loadProductAndBrand,
                                        hideProduct: hideProduct,
                                        showTab: showTab,
                                        showcolorRange: showcolorRange,
                                        hideTab: hideTab,
                                        selectSharedImage: selectSharedImage,
                                        render: render,
                                        startup: startup,
                                        loadProductByColor : loadProductByColor

                                    };
                                })();
                            } else {
                                window.makeupModule.startup('<%=uuid%>');
                            }
                        </script>
                        <script>
                            if (!window.hideTips) {
                                window.hideTips = function() {
                                    var tips = document.getElementById('tips');
                                    tips.style.display = 'none';
                                      makeupModule.loadColorSelect();
                                    makeupModule.openCamera('<%=uuid%>');
                                  
                                };
                            }
                        </script>
    </body>

    </html>