<html lang="en">

<body>
    <%- include('./partials/packages/template.ejs') %>
        <div class="ai-makeup__container">
            <%- include('./partials/navigator.ejs'); %>

                <%-
      include('./partials/pages/products.ejs'); %>
        </div>

        <script>
            $(document).ready(function() {
                loadAllCategory();
            });

            function loadAllCategory() {

                var baseUrl = "https://api-soida.applamdep.com/types/";
                var typeid = "6129ad26e6ad9b5abfbacb8f";
                var typeget = 0;
                var dataCompany = JSON.parse(sessionStorage.getItem("companyData"));
                if (dataCompany == null) {

                } else {
                    typeid = dataCompany._id;
                }
                $.ajax({
                    url: baseUrl + typeid + "/" + typeget,
                    type: "get",
                    data: {

                    },
                    success: function(response) {
                        loadCategory(response.data);
                    },
                    error: function(jqXHR, textStatus, errorThrown) {

                    }
                });
            }

            function loadCategory(data) {
                $("#listCategoryMobile").empty();

                $("#listCategoryMobileNew").empty();



                for (let i = 0; i < data.length; i++) {
                    var productItem = data[i];

                    var htmlAppend = '<div class="category-item-mobile" data-key="' + productItem._id + '" data-id="' + productItem._id + '">\
<img src="' + productItem.image + '"  alt="" class="img">\
<div onclick ="openMakeup(' + "'" + productItem.type_id + "'" + ')" class="des"> ' + productItem.name + ' </div>\
<svg class="icon" width="18" height="18" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg"><g transform="translate(-1 -1)" fill="none" fill-rule="evenodd"><circle stroke="#000" fill="#000" cx="10" cy="10" r="8"></circle><path stroke="#FFF" d="M5.75 10.5l3 2.5 5.5-6.5"></path></g></svg>\
</div>\
';

                    htmlAppend = ' <div class="ai-makeup__products__grid__cell">\
          <div class="ai-makeup__products__item">\
            <div class="ai-makeup__products__item__image" title="HIGH-PIGMENT LONGWEAR EYELINER" style="background-image: url(' + "'" + productItem.image + "'" + ')"></div>\
            <h5 class="ai-makeup__products__item__name">' + productItem.name + '</h5>\
            <button class="ai-makeup__products__item__try" type="button" onclick="openMakeup(' + "'" + productItem.type_id + "'" + ')">\
              Trải nghiệm\
            </button>\
          </div>\
        </div>';
                    $("#listCategoryMobileNew").append(htmlAppend);
                }
            }

            function openMakeup(typeId) {
                window.sessionStorage.setItem("typeId", typeId);
                window.navigateTo('/trangdiem/makeup');
            }
        </script>
</body>

</html>