@import './grid';

.#{$root} {
  &__brands {
    &__grid {
      &__container {
        display: flex;
        flex-wrap: wrap;
        border: {
          top: 1px solid #e0e0e0;
          bottom: 1px solid #e0e0e0;
        }
        .#{$loading} {
          display: none;
        }
        &--loading {
          display: block;
          text-align: center;
          height: 80px;
          .#{$loading} {
            display: inline-block;
          }
        }
      }
      &__cell {
        @extend %cell;
        flex: 0 0 calc(25% + 1px);
        padding: 15px;
        height: 97px;
        &--active {
          @extend %cell-active;
        }
      }
    }
    &__item {
      width: 100%;
      height: 100%;
      background-position: center center;
      background-size: 100% auto;
      background-repeat: no-repeat;
    }
  }
}
