.#{$root} {
  &__separator-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  &__separator-circle {
    width: 10px;
    height: 10px;
    background: #888dff;
    border-radius: 50%;
    margin: 7px;
  }

  &__separator-ellipse {
    width: 33.33px;
    height: 10px;
    background: #888dff;
    border-radius: 6px;
    margin: 7px;
  }
}
