.#{$root} {
    $img_size: size(460);
    &__makeup {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__makeup-option {
        width: size(220);
        height: size(50);
        border-radius: size(30);
        border: none;
        cursor: pointer;
        >span {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            font-family: $base-font-family;
            font-style: normal;
            font-weight: 400;
            font-size: size(22);
            color: #ffffff;
            >img {
                width: size(30);
                height: size(30);
                margin-left: 10px;
            }
        }
    }
    &__makeup-top__choose-image {
        background: #f99dc4;
        margin-right: size(20);
    }
    &__makeup-top__use-camera {
        background: #ffba88;
    }
    &__makeup-image {
        width: $img_size;
        height: $img_size;
        position: relative;
        margin-top: size(25);
        display: block;
        &--active {
            background-color: black;
        }
        &--active>&__background {
            display: none;
        }
        &--inactive>&__background {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__upload-image {
        position: absolute;
        width: 64px;
        height: 64px;
        left: 25px;
        bottom: 66px;
        mix-blend-mode: normal;
        border-radius: 10px;
        >svg {
            width: 100%;
            height: auto;
            background: white;
            position: relative;
            pointer-events: none;
        }
        >input {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
    &__recapture {
        position: absolute;
        width: 30px;
        height: 30px;
        right: 36px;
        bottom: 85px;
        >svg {
            width: 100%;
            height: auto;
            position: relative;
            pointer-events: none;
        }
    }
    &__bottom-actions {
        position: absolute;
        bottom: 0;
        width: 100%;
        max-width: $max-container-width;
        left: 50%;
        transform: translateX(-50%);
    }
    &__makeup-video-player {
        >video {
            width: $img_size;
            height: $img_size;
            align-self: center;
            -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
        }
    }
    &__makeup-image--inactive>&__makeup-video-player {
        display: none;
    }
    &__makeup-image-show {
        .#{$loading} {
            display: none;
        }
        &--loading {
            position: relative;
            .#{$loading} {
                display: inline-block;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
        &--hidden {
            display: none;
        }
        >img[src] {
            width: $img_size;
            height: $img_size;
            display: block;
        }
        >img {
            display: none;
        }
    }
    &__makeup-focus__tl {
        position: absolute;
        top: 0%;
        left: 0%;
    }
    &__makeup-focus__tr {
        position: absolute;
        top: 0%;
        right: 0%;
    }
    &__makeup-focus__bl {
        position: absolute;
        bottom: 0%;
        left: 0%;
    }
    &__makeup-focus__br {
        position: absolute;
        bottom: 0%;
        right: 0%;
    }
    &__makeup-body__button {
        position: relative;
        margin-top: size(27);
        &--capture {
            position: absolute;
            width: 86px;
            height: 86px;
            left: 50%;
            transform: translateX(-50%);
            bottom: 55px;
            /* Gray 6 */
            background: #f2f2f2;
            /* red */
            border: 7px solid #fda0ba;
            border-radius: 50%;
            margin-top: 0;
        }
    }
}