.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 40%;
}

#makeup-brand {
    padding-top: 10px;
    padding-bottom: 10px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
    padding: 2px 16px;
}

.ai-makeup__product__container {
    display: none;
}

.formReward {
    display: none;
}

#formContact {
    padding: 10px 10px 10px 10px;
}

.caption {
    text-align: center;
}

.ai-makeup__product {
    display: none;
}

.ai-makeup__makeup-image__background {
    display: none;
}

.recomendTitleProduct {
    font-size: .6875rem;
}

.title-header {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.375rem;
    line-height: 1.1875rem;
    text-align: center;
    color: black;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #fda0ba;
    color: white;
    text-align: center;
}

.resultHeader {
    flex: 1 0 33.3%;
    text-align: center;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    h4 {
        display: inline-block;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        /* line-height: 24px; */
        align-items: center;
        text-align: center;
    }
    display: none;
    font-weight: bolder;
}

.slick-slide {
    max-height: 80px;
}

.recomendTitleProduct {
    font-size: 2vh;
    text-align: center !important;
    font-weight: 400;
}

.one-product-item {
    width: 50% !important;
    margin: 0 auto !important;
}

.recomend-product-grid-cell {
    border: unset;
}

#brandProduct {
    text-align: center;
    margin: 50px auto;
}

#brandProduct a {
    margin: 0px 20px;
    display: inline-block;
    text-decoration: none;
    color: black;
}

.color-ai-area {
    font-style: normal;
    font-family: "Roboto", sans-serif;
    display: none;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 2.1875rem;
    .title {
        font-weight: 400;
        padding: 10px;
        color: black;
        font-size: 1rem;
    }
}

.ai-makeup__products__tab__header {
    display: none;
}

.dot {
    background-color: red;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 58px !important;
    height: 58px !important;
}

.colorContainer {
    h1 {
        font-size: 16px;
        text-align: center;
    }
}

.category-mobile.show {
    -webkit-transform: translate(0);
    transform: translate(0);
}

.category-mobile {
    z-index: 1001;
    background-color: #fff;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.category-wrap {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    text-align: center;
}

.category-tit-mobile {
    margin-bottom: 8vw;
    .tit {
        font-size: 6.93333vw;
        line-height: 9.86667vw;
        color: #000;
        font-weight: 500;
        padding: 5.33333vw 0 2.13333vw;
    }
    .des {
        font-size: 3.73333vw;
        line-height: 5.33333vw;
        color: rgba(0, 0, 0, .46);
    }
}

.category-list-mobile {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0 16vw;
}

.category-list-mobile {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
}

.category-item-mobile:nth-child(odd) {
    margin-right: 16vw;
}

.category-item-mobile {
    position: relative;
    width: 21.86667vw;
    height: 21.86667vw;
    border: 0.26667vw solid #ccc;
    margin-bottom: 5.33333vw;
    box-sizing: border-box;
    cursor: pointer;
    img {
        width: 21.33333vw;
        height: 21.33333vw;
        -webkit-tap-highlight-color: transparent;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    .des {
        width: 21.33333vw;
        height: 5.33333vw;
        font-size: 2.93333vw;
        font-weight: 400;
        position: absolute;
        bottom: 0;
        color: #fff;
        background-color: rgba(0, 0, 0, .6);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .icon {
        width: 4.8vw;
        height: 4.8vw;
        visibility: hidden;
        opacity: 0;
        position: absolute;
        top: 1.06667vw;
        right: 1.06667vw;
    }
}