.#{$root} {
  $img_size: size(466);

  &__result {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__result-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  &__result-body {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  &__result-image {
    position: relative;
    > img {
      width: $img_size;
      height: $img_size;
    }
  }

  &__result-plot {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__result-plot__box {
    border: 1px solid #000;
    position: absolute;
  }

  &__result-analyze-section {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background-size: cover;
    width: 100%;
    height: size(46);

    > img {
      position: absolute;
      z-index: map-get($zindex, background);
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    > span {
      width: 100%;
      font-family: $second-font-family;
      font-style: normal;
      font-weight: normal;
      font-size: size(28);
      text-align: center;
      color: #ffffff;
      text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.4);
    }
  }

  &__result-analyze-content {
    width: 100%;
    font-family: $base-font-family;
    font-style: normal;
    font-weight: 400;
    font-size: size(21);
    line-height: size(40);
    color: #828282;
  }

  &__result-option {
    width: size(233);
    height: size(55);
    box-shadow: inset 0px -3px 3px rgba(0, 0, 0, 0.25),
      inset 0px 2px 3px rgba(255, 255, 255, 0.4);
    border-radius: size(12);
    border: none;
    cursor: pointer;

    > span {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      font-family: $base-font-family;
      font-style: normal;
      font-weight: 400;
      font-size: size(19);
      display: flex;
      align-items: center;
      text-align: center;
      text-transform: uppercase;
      color: #ffffff;

      > img {
        margin-left: size(8);
        width: size(20);
        height: size(20);
      }
    }
  }

  &__result-bottom__download {
    background: #888dff;
    margin-right: size(14);
  }

  &__result-bottom__share {
    background: #f99dc4;
  }
}
