.#{$root} {
    &__share {
        &__image {
            width: 100%;
            max-width: 414px;
            margin: auto;
            background: {
                repeat: no-repeat;
                position: center center;
                size: cover;
            }
            &::before {
                content: '';
                display: block;
                padding-bottom: 100%;
            }
        }
        &__button {
            width: 312px;
            height: 55px;
            display: block;
            margin: 28px auto 0;
            padding: 16px 41px 16px 16px;
            box-shadow: 1px 7px 16px rgba(180, 180, 193, 0.68);
            border-radius: 30px;
            border: none;
            position: relative;
            overflow: hidden;
            color: black;
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 22px;
            text-align: left;
            letter-spacing: 0.5px;
            text-transform: uppercase;
            &:active,
            &:focus {
                outline: none;
            }
            &::after {
                content: '';
                display: block;
                width: 45px;
                height: 45px;
                position: absolute;
                right: 6px;
                top: (55px - 45px) / 2;
                background: {
                    repeat: no-repeat;
                    position: center center;
                }
            }
            &--download {
                background: #fda0ba;
                color: white;
                &::after {
                    background-image: url('../img/icons/download-arrow.svg');
                }
            }
            &--facebook {
                background: white;
                &::after {
                    background-image: url('../img/icons/facebook.svg');
                }
            }
            &--google {
                background: white;
                &::after {
                    background-image: url('../img/icons/google.svg');
                }
            }
        }
    }
}