@import './mixin';
@import './variables';
@import './loading';
@import './layout';
@import './banner';
@import './navigator';
@import './acne';
@import './brands-grid';
@import './products-grid';
@import './product-item';
@import './products-tabs';
@import './section';
@import './header';
@import './welcome';
@import './makeup';
@import './result';
@import './share';
@import './tips';
@import './mobile';
@import './desktop';
html {
    font-size: size(10);
}

body {
    margin: 0;
    padding-bottom: 30px
}

html,
body {
    height: 100%;
}

@media screen and (min-width: 414px) {
    html {
        font-size: size(13);
    }
}

@media screen and (min-width: 1000px) {
    html {
        font-size: size(16);
    }
}