<html lang="en">

<body>
  <div class='container-fluid px-0'>
    <%- include('./partials/header.ejs'); %>
      <div class="ai-skin__container">
        <%- include('./partials/pages/result.ejs'); %>
          <%- include('./partials/contact.ejs'); %>
      </div>
      <%- include('./partials/footer.ejs'); %>
  </div>
</body>
<script>
  /* JSONPath 0.8.0 - XPath for JSON
   *
   * Copyright (c) 2007 Stefan Goessner (goessner.net)
   * Licensed under the MIT (MIT-LICENSE.txt) licence.
   */
  function jsonPath(obj, expr, arg) {
    var P = {
      resultType: (arg && arg.resultType) || "VALUE",
      result: [],
      normalize: function (expr) {
        var subx = [];
        return expr
          .replace(/[\['](\??\(.*?\))[\]']/g, function ($0, $1) {
            return "[#" + (subx.push($1) - 1) + "]";
          })
          .replace(/'?\.'?|\['?/g, ";")
          .replace(/;;;|;;/g, ";..;")
          .replace(/;$|'?\]|'$/g, "")
          .replace(/#([0-9]+)/g, function ($0, $1) {
            return subx[$1];
          });
      },
      asPath: function (path) {
        var x = path.split(";"),
          p = "$";
        for (var i = 1, n = x.length; i < n; i++)
          p += /^[0-9*]+$/.test(x[i]) ? "[" + x[i] + "]" : "['" + x[i] + "']";
        return p;
      },
      store: function (p, v) {
        if (p)
          P.result[P.result.length] =
            P.resultType == "PATH" ? P.asPath(p) : v;
        return !!p;
      },
      trace: function (expr, val, path) {
        if (expr) {
          var x = expr.split(";"),
            loc = x.shift();
          x = x.join(";");
          if (val && val.hasOwnProperty(loc))
            P.trace(x, val[loc], path + ";" + loc);
          else if (loc === "*")
            P.walk(loc, x, val, path, function (m, l, x, v, p) {
              P.trace(m + ";" + x, v, p);
            });
          else if (loc === "..") {
            P.trace(x, val, path);
            P.walk(loc, x, val, path, function (m, l, x, v, p) {
              typeof v[m] === "object" &&
                P.trace("..;" + x, v[m], p + ";" + m);
            });
          } else if (/,/.test(loc)) {
            // [name1,name2,...]
            for (var s = loc.split(/'?,'?/), i = 0, n = s.length; i < n; i++)
              P.trace(s[i] + ";" + x, val, path);
          } else if (/^\(.*?\)$/.test(loc))
            // [(expr)]
            P.trace(
              P.eval(loc, val, path.substr(path.lastIndexOf(";") + 1)) +
              ";" +
              x,
              val,
              path
            );
          else if (/^\?\(.*?\)$/.test(loc))
            // [?(expr)]
            P.walk(loc, x, val, path, function (m, l, x, v, p) {
              if (P.eval(l.replace(/^\?\((.*?)\)$/, "$1"), v[m], m))
                P.trace(m + ";" + x, v, p);
            });
          else if (/^(-?[0-9]*):(-?[0-9]*):?([0-9]*)$/.test(loc))
            // [start:end:step]  phyton slice syntax
            P.slice(loc, x, val, path);
        } else P.store(path, val);
      },
      walk: function (loc, expr, val, path, f) {
        if (val instanceof Array) {
          for (var i = 0, n = val.length; i < n; i++)
            if (i in val) f(i, loc, expr, val, path);
        } else if (typeof val === "object") {
          for (var m in val)
            if (val.hasOwnProperty(m)) f(m, loc, expr, val, path);
        }
      },
      slice: function (loc, expr, val, path) {
        if (val instanceof Array) {
          var len = val.length,
            start = 0,
            end = len,
            step = 1;
          loc.replace(
            /^(-?[0-9]*):(-?[0-9]*):?(-?[0-9]*)$/g,
            function ($0, $1, $2, $3) {
              start = parseInt($1 || start);
              end = parseInt($2 || end);
              step = parseInt($3 || step);
            }
          );
          start = start < 0 ? Math.max(0, start + len) : Math.min(len, start);
          end = end < 0 ? Math.max(0, end + len) : Math.min(len, end);
          for (var i = start; i < end; i += step)
            P.trace(i + ";" + expr, val, path);
        }
      },
      eval: function (x, _v, _vname) {
        try {
          return $ && _v && eval(x.replace(/@/g, "_v"));
        } catch (e) {
          throw new SyntaxError(
            "jsonPath: " +
            e.message +
            ": " +
            x.replace(/@/g, "_v").replace(/\^/g, "_a")
          );
        }
      },
    };

    var $ = obj;
    if (expr && obj && (P.resultType == "VALUE" || P.resultType == "PATH")) {
      P.trace(P.normalize(expr).replace(/^\$;/, ""), obj, "$");
      return P.result.length ? P.result : false;
    }
  }
</script>
<script>
  var resultModule = (function () {
    const IMAGE_INFO_SELECTOR = "$.data.facedata.['image_info']";
    const SKIN_SPOT_SELECTOR =
      "$.data.facedata.specialResult.data[*].data[?(@.key == 'SkinSpot')]";
    const SKIN_ACNE_SELECTOR =
      "$.data.facedata.specialResult.data[*].data[?(@.key == 'SkinAcne')]";
    const SKIN_PIMPLE_SELECTOR =
      "$.data.facedata.specialResult.data[*].data[?(@.key == 'SkinPimple')]";
    const SKIN_BLACKHEADS_SELECTOR =
      "$.data.facedata.specialResult.data[*].data[?(@.key == 'SkinBlackHeads')]";
    const SKIN_MOLE_SELECTOR =
      "$.data.facedata.generalResult.data[*].data[?(@.key == 'SkinMole')]";
    // "$.data.facedata.generalConclusion.data[*].data[?(@.key == 'SkinMole')]";

    const SKIN_DRAWERS = [
      {
        selector: SKIN_SPOT_SELECTOR,
        checkboxId: "myCheckSpot",
        plotContainerId: "spotContainer",
        plotColor: "#FEA500",
      },
      {
        selector: SKIN_ACNE_SELECTOR,
        checkboxId: "myCheckAcne",
        plotContainerId: "acneContainer",
        plotColor: "#FFFF00",
      },
      {
        selector: SKIN_PIMPLE_SELECTOR,
        checkboxId: "myCheckPimple",
        plotContainerId: "pimpleContainer",
        plotColor: "##00A853",
      },
      {
        selector: SKIN_BLACKHEADS_SELECTOR,
        checkboxId: "myCheckBlackhead",
        plotContainerId: "blackHeadContainer",
        plotColor: "#FF50AF",
      },
      {
        selector: SKIN_MOLE_SELECTOR,
        checkboxId: "myCheckMole",
        plotContainerId: "moleContainer",
        plotColor: "#FE0000",
      },
    ];

    var dataJson = null;

    startup();

    return {
      toggleAcne: toggleAcne,
      toggleBlackhead: toggleBlackhead,
      toggleMole: toggleMole,
      togglePimple: togglePimple,
      toggleSpot: toggleSpot,
    };

    function startup() {
      var decoded = sessionStorage.getItem("_t");

      try {
        dataJson = JSON.parse(decoded);
      } catch (e) {
        console.error(e);
      }
      dataJson && showResult(dataJson);

      const imageSizeChangedObserver = new ResizeObserver(function () {
        dataJson && renderSkinIssues(dataJson);
      });
      imageSizeChangedObserver.observe(
        document.getElementById("imageResult")
      );

      sessionStorage.removeItem("_t");
    }

    function showResult(dataJSON) {
      dataJSON.data.facedata.generalConclusion.data = dataJSON.data.facedata.generalConclusion.data.slice(0, 2)
      renderSkinIssues(dataJSON);
      renderData(dataJSON.data.facedata.generalResult, "generalResult");
      renderData(
        dataJSON.data.facedata.specialResult,
        "specialResult",
        "Kết quả từng phần"
      );
      renderData(
        dataJSON.data.facedata.generalConclusion,
        "generalConclusion"
      );
      renderSpecialData(
        dataJSON.data.facedata.specialConclusion,
        "specialConclusion"
      );
    }

    function renderSkinIssues(data) {
      const imageInfos = jsonPath(data, IMAGE_INFO_SELECTOR);
      const imageInfo = imageInfos && imageInfos[0];
      if (!imageInfo) return;
      const img = document.getElementById("imageResult");
      img.src = imageInfo.url;

      const imagePlottedWidth = img.width;
      const originalWidth = imageInfo.width;
      const scaleRatio = imagePlottedWidth / originalWidth;

      clearDrawData();
      SKIN_DRAWERS.forEach(function (item) {
        const skinItems = jsonPath(data, item.selector);
        const skinItem = skinItems && skinItems[0];

        if (skinItem && skinItem.value > 0) {
          document
            .getElementById(item.checkboxId)
            .setAttribute("checked", true);

          drawData(
            skinItem.drawArr,
            item.plotContainerId,
            item.plotColor,
            scaleRatio
          );
        }
      });
    }

    function renderData(itemInput, idParse = "demo", titleDefault = "") {
      var outputs = "";
      outputs += "<details>"
      if (itemInput.title !== undefined) {
        outputs += "<summary class='summary-txt'>" +
          itemInput.title.vi + "\n" + "</summary>";
      } else if (titleDefault !== "") {
        outputs += "<summary class='summary-txt'>" + titleDefault
        outputs += "</summary>";
      }
      // console.log('outputs', outputs)
      let dataInput1 = ""
      for (var i = 0; i < itemInput.data.length; i++) {
        let itemData = itemInput.data[i];
        // console.log('itemData', itemData)
        if (itemData !== null) {
          let itemOutput = "";
          if (itemData.title !== undefined && itemData.title.vi !== undefined) {
            itemOutput += "<li class='title-txt'>" + itemData.title.vi + ": " + "\n" + "</li>";
          }
          {
            itemData.data !== undefined
              ? itemData.data.forEach((item, i) => {
                itemOutput += "<li class='description-txt'>" + item.valueVI + "\n" + "</li>";
              })
              : null;
          }
          {
            itemData.valueEN !== undefined && itemData.valueVI !== undefined
              ? (itemOutput += "<li class='description-txt'>" + itemData.valueVI + "\n" + "</li>")
              : null;
          }
          // console.log('itemOutput', itemOutput)
          dataInput1 += "<ul>" + itemOutput + "</ul>";
        }
      }
      outputs += dataInput1 + "</details>"

      document.getElementById(idParse).innerHTML = outputs;
    }

    function renderSpecialData(itemInput, idParse = "demo") {
      var outputs = "";
      outputs += "<details>"
      if (itemInput.title !== undefined) {
        outputs +=
          "<summary class='summary-txt'>" +
          itemInput.title.vi +
          "</summary>";
      }
      let dataInput1 = ""
      for (let j = 0; j < itemInput.data.length; j++) {
        let tempData = itemInput.data[j];
        for (let k = 0; k < tempData.length; k++) {
          let itemData = tempData[k];
          if (itemData.data !== undefined) {
            if (itemData !== null) {
              // outputs += "<li>" + "-------------" + "</li>";
              let itemOutput = "";
              if (itemData.title !== undefined) {
                itemOutput += "<li class='title-txt'>" + itemData.title.vi + "\n" + "</li>";
              }
              {
                itemData.data !== undefined
                  ? itemData.data.vi.forEach((item, i) => {
                    itemOutput += "<li class='description-txt'>" + item + "\n" + "</li>";
                  })
                  : null;
              }
              {
                itemData.valueEN !== undefined &&
                  itemData.valueVI !== undefined
                  ? (itemOutput += "<li class='description-txt'>" + itemData.valueVI + "\n" + "</li>")
                  : null;
              }
              outputs += "<ul>" + itemOutput + "</ul>";
            }
          }
        }
      }
      outputs += dataInput1 + "</details>"

      document.getElementById(idParse).innerHTML = outputs;
    }

    function drawData(arr, itemId, color = "red", scaleRatio = 1) {
      if (arr && arr.length > 0) {
        for (var i = 0; i < arr.length; i++) {
          renderDivItem(itemId, arr[i], scaleRatio, color);
        }
      }
    }

    function clearDrawData() {
      document
        .querySelectorAll(".ai-skin__result-plot__box")
        .forEach(function (item) {
          item.remove();
        });
    }

    function renderDivItem(itemId, data, scaleRatio = 1, color = "red") {
      var div = document.createElement("div");

      div.style.width = data.width * scaleRatio + "px";
      div.style.height = data.height * scaleRatio + "px";
      div.style.top = data.top * scaleRatio + "px";
      div.style.left = data.left * scaleRatio + "px";
      div.style.color = color;
      div.style.borderColor = color;

      div.className = "ai-skin__result-plot__box";
      let el = document.getElementById(itemId);
      el.appendChild(div);
    }

    function toggleSpot() {
      toggleSkinIssue("myCheckSpot", "spotContainer");
    }

    function toggleAcne() {
      toggleSkinIssue("myCheckAcne", "acneContainer");
    }

    function togglePimple() {
      toggleSkinIssue("myCheckPimple", "pimpleContainer");
    }

    function toggleBlackhead() {
      toggleSkinIssue("myCheckBlackhead", "blackHeadContainer");
    }

    function toggleMole() {
      toggleSkinIssue("myCheckMole", "moleContainer");
    }

    function toggleSkinIssue(toggleId, containerId) {
      var checkBox = document.getElementById(toggleId);
      var plotContainer = document.getElementById(containerId);

      if (checkBox.checked == true) {
        plotContainer.style.display = "block";
      } else {
        plotContainer.style.display = "none";
      }
    }

  })();
</script>
<script>
  function capture() {
    const capture = document.getElementById('output')
    window.scrollTo(0, 0);
    html2canvas(capture, {
      scrollX: 0,
      scrollY: 0,
      allowTaint: true,
      useCORS: true
    })
      .then(canvas => {
        document.body.appendChild(canvas)
        canvas.style.display = 'none'
        return canvas
      })
      .then(canvas => {
        const image = canvas.toDataURL('image/png').replace('image/png', 'image/octet-stream')
        const a = document.createElement('a')
        let date = new Date().toLocaleString()
        a.setAttribute('download', 'skinimage-' + date + '.png')
        a.setAttribute('href', image)
        a.click()
        canvas.remove()
        window.open(img);
      })
    window.scrollTo(0, document.body.scrollHeight || document.documentElement.scrollHeight);
  }

  function saveImage() {
    capture()
  }

</script>
<script>
  // Check for valid email syntax
  function validateEmail(email) {
    var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
    return re.test(email);
  }

  function closeForm() {
    document.contactform.name.value = '';
    document.contactform.email.value = '';
    document.contactform.message.value = '';
    document.contactform.phone.value = '';
    document.contactform.address.value = '';

    $('.email').removeClass('typing');
    $('.name').removeClass('typing');
    $('.message').removeClass('typing');
    $('.phone').removeClass('typing');
    $('.address').removeClass('typing');

    $('.cd-popup').removeClass('is-visible');
    $('.notification').addClass('is-visible');
    $('#notification-text').html("Cám ơn bạn đã tin dùng dịch vụ chúng tôi!");
  }

  $(document).ready(function ($) {

    /* ------------------------- */
    /* Contact Form Interactions */
    /* ------------------------- */
    $('#contact').on('click', function (event) {
      event.preventDefault();

      $('#contactblurb').html('Tất cả các câu hỏi, đề xuất và thông tin cần giải đáp chúng tôi sẽ tiếp nhận và phản hồi sớm nhất.');
      $('.contact').addClass('is-visible');

      if ($('#name').val().length != 0) {
        $('.name').addClass('typing');
      }
      if ($('#email').val().length != 0) {
        $('.email').addClass('typing');
      }
      if ($('#message').val().length != 0) {
        $('.message').addClass('typing');
      }
      if ($('#phone').val().length != 0) {
        $('.phone').addClass('typing');
      }
      if ($('#address').val().length != 0) {
        $('.address').addClass('typing');
      }
    });

    //close popup when clicking x or off popup
    $('.cd-popup').on('click', function (event) {
      if ($(event.target).is('.cd-popup-close') || $(event.target).is('.cd-popup')) {
        event.preventDefault();
        $(this).removeClass('is-visible');
      }
    });

    //close popup when clicking the esc keyboard button
    $(document).keyup(function (event) {
      if (event.which == '27') {
        $('.cd-popup').removeClass('is-visible');
      }
    });

    /* ------------------- */
    /* Contact Form Labels */
    /* ------------------- */
    $('#name').keyup(function () {
      $('.name').addClass('typing');
      if ($(this).val().length == 0) {
        $('.name').removeClass('typing');
      }
    });
    $('#email').keyup(function () {
      $('.email').addClass('typing');
      if ($(this).val().length == 0) {
        $('.email').removeClass('typing');
      }
    });
    $('#message').keyup(function () {
      $('.message').addClass('typing');
      if ($(this).val().length == 0) {
        $('.message').removeClass('typing');
      }
    });
    $('#phone').keyup(function () {
      $('.phone').addClass('typing');
      if ($(this).val().length == 0) {
        $('.phone').removeClass('typing');
      }
    });
    $('#address').keyup(function () {
      $('.address').addClass('typing');
      if ($(this).val().length == 0) {
        $('.address').removeClass('typing');
      }
    });

    /* ----------------- */
    /* Handle submission */
    /* ----------------- */
    $('#contactform').submit(function () {
      var name = $('#name').val();
      var email = $('#email').val();
      var message = $('#message').val();
      var phone = $('#phone').val();
      var address = $('#address').val();
      var human = $('#human:checked').val();

      if (human) {
        if (validateEmail(email)) {
          if (name) {
            if (message) {

              // Handle submitting data somewhere
              // For a tutorial on submitting the form to a Google Spreadsheet, see:
              // https://notnaturaltutorials.wordpress.com/2016/03/20/submit-form-to-spreadsheet/

              /*
                          var googleFormsURL = "https://docs.google.com/forms/d/1dHaFG67d7wwatDtiVNOL98R-FwW1rwdDwdFqqKJggBM3nFB4/formResponse";
                          // replace these example entry numbers
                          var spreadsheetFields = {
                            "entry.212312005": name,
                            "entry.1226278897": email,
                            "entry.1835345325": message
                          }
                          $.ajax({
                            url: googleFormsURL,
                            data: spreadsheetFields,
                            type: "POST",
                            dataType: "xml",
                            statusCode: {
                              0: function() {
              
                              },
                              200: function() {
              
                              }
                            }
                          });
              */

              closeForm();

            } else {
              $('#notification-text').html("<strong>Xin vui lòng cho chúng tôi biết cảm nghĩ của bạn! </strong>");
              $('.notification').addClass('is-visible');
            }
          } else {
            $('#notification-text').html('<strong>Xin vui lòng cung cấp những chỗ còn thiếu.</strong>');
            $('.notification').addClass('is-visible');
          }
        } else {
          $('#notification-text').html('<strong>Xin vui lòng cung cấp những chỗ còn thiếu.</strong>');
          $('.notification').addClass('is-visible');
        }
      } else {
        $('#notification-text').html('<h3><strong><em>Warning: Hãy  để chúng tôi biết bạn là người chứ không phải rô bốt .</em></strong></h3>');
        $('.notification').addClass('is-visible');
      }

      return false;
    });
  });
</script>
<script>
  var slideIndex = 1;
  showSlides(slideIndex);

  function plusSlides(n) {
    showSlides(slideIndex += n);
  }

  function currentSlide(n) {
    showSlides(slideIndex = n);
  }

  function showSlides(n) {
    var i;
    var slides = document.getElementsByClassName("mySlides");
    var dots = document.getElementsByClassName("dot");
    if (slides.length > 0) {
      if (n > slides.length) { slideIndex = 1 }
      if (n < 1) { slideIndex = slides.length }
      for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";
      }
      for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" active", "");
      }
      slides[slideIndex - 1].style.display = "block";
      dots[slideIndex - 1].className += " active";
    }
  }

</script>
<script>
  try {
    var dataRes = [
      {
        "_id": "60b25b52e48aea1912e179e2",
        "name": "SP3",
        "image": "https://i.postimg.cc/QMSbQ3Qp/Icon.png",
        "title": "Kem dưỡng Eucerin Q10 ACTIVE ban ngày dành cho da khô",
        "description": "",
        "linkdetail": "https://www.eucerin.vn/san-pham/q10-active/day-cream-for-dry-skin",
        "level": "K6",
        "sdktype": "4",
        "companyid": "",
        "__v": 0
      },
      {
        "_id": "60b260fde48aea1912e179e3",
        "name": "SP1",
        "image": " https://i.postimg.cc/QMSbQ3Qp/Icon.png",
        "title": "Kem dưỡng Eucerin Q10 ACTIVE ban ngày dành cho da khô",
        "description": " ",
        "linkdetail": "https://www.eucerin.vn/san-pham/q10-active/day-cream-for-dry-skin",
        "level": "K1",
        "sdktype": "1",
        "companyid": "",
        "__v": 0
      },
      {
        "_id": "60ba636c268d6b3268337a18",
        "name": "SP4",
        "image": "https://i.postimg.cc/QMSbQ3Qp/Icon.png",
        "title": "SP4",
        "description": "",
        "linkdetail": "https://www.eucerin.vn/san-pham/q10-active/day-cream-for-dry-skin",
        "level": "K1",
        "sdktype": "1",
        "companyid": "",
        "__v": 0
      },
      {
        "_id": "60bbb8ce31f5100fd8cb8f8a",
        "name": "SP3",
        "image": "https://i.postimg.cc/QMSbQ3Qp/Icon.png",
        "title": "Kem dưỡng Eucerin Q10 ACTIVE ban ngày dành cho da khô",
        "description": " ",
        "linkdetail": "https://www.eucerin.vn/san-pham/q10-active/day-cream-for-dry-skin",
        "level": "K2",
        "sdktype": "1",
        "companyid": "",
        "__v": 0
      }
    ]

    $.ajax({
      type: "GET",
      dataType: "json",
      url: "https://csgvietnam.com/itemSdk",
      success: function (data) {
        let res = data
        if (res.data !== undefined) {
          loadRecommendData(res.data)
          showSlides(1)
        }
      },
      error: function (error) {
        jsonValue = jQuery.parseJSON(error.responseText);
      }
    });
    function loadRecommendData(data) {
      var slideItemData = ''
      var slideControlItem = ''
      var slidesDiv = document.getElementById("slideshow-container");
      var dotsDiv = document.getElementById("slideshow-control");
      try {
        for (i = 0; i < data.length; i++) {
          slideItemData += `<div class="mySlides fade">
     <div class="numbertext">${(i + 1) + '/' + data.length}</div>
     <img src=${data[i].image} style="width:100% ; max-width:300px">
     <div class="text">${data[i].title}</div>
   </div>`
          slideControlItem += `<span class="dot" onclick="currentSlide(${i + 1})"></span>`
        }
        slideItemData += `<a class="prev" onclick="plusSlides(-1)">❮</a>
   <a class="next" onclick="plusSlides(1)">❯</a>`
        slidesDiv.innerHTML = slideItemData
        dotsDiv.innerHTML = slideControlItem
      } catch (e) {
        console.log('e', e)
      }

    }
  } catch (e) {
    console.log('error', e)
  }

</script>

</html>