<html lang="en">

<body>
  <div class='container-fluid px-0'>
    <%- include('./partials/header.ejs'); %>
      <div class="ai-skin__container ">
        <%- include('./partials/pages/skin.ejs'); %>
          <%- include('./partials/tips.ejs'); %>
      </div>
      <%- include('./partials/footer.ejs'); %>
  </div>

</body>
<script>
  window.scrollTo({ top: 0, behavior: 'smooth' });
</script>
<script>
  function hideTips() {
    var tips = document.getElementById("tips");
    tips.style.display = "none";
  }
</script>
<script>
  var skinModule = (function () {
    var width = 320; // We will scale the video width to this
    var height = 0; // This will be computed based on the input stream

    var streaming = false;

    var video = null;
    var canvas = null;
    var captureBtn = null;
    var imageShow = null;
    var imageProcess = null;
    var skinImage = null;
    var videoPlayer = null;
    var uploadBtn = null;
    var captureBtn = null;
    var localImageInput = null;
    var nativeCameraInput = null;
    var uploadingBtn = null;
    var uploading = false;

    startup();

    return {
      openCamera: openCamera,
      chooseImage: chooseImage,
      uploadImage: uploadImage,
    };

    function startup() {
      video = document.getElementById("video");
      canvas = document.getElementById("canvas");
      imageShow = document.getElementById("imageShow");
      imageProcess = document.getElementById("output");
      skinImage = document.getElementById("skinImage");
      videoPlayer = document.getElementById("videoPlayer");
      uploadBtn = document.getElementById("uploadBtn");
      captureBtn = document.getElementById("captureBtn");
      uploadingBtn = document.getElementById("uploadingBtn");
      localImageInput = document.getElementById("localImageInput");
      nativeCameraInput = document.getElementById("nativeCameraInput");

      addEventListenerForCamera();
      addEventListenerForChooseImage();
    }

    function isIOSMoble() {
      return [
        'iPad Simulator',
        'iPhone Simulator',
        'iPod Simulator',
        'iPad',
        'iPhone',
        'iPod'
      ].includes(navigator.platform)
        // iPad on iOS 13 detection
        || (navigator.userAgent.includes("Mac") && "ontouchend" in document)
    }


    function openCamera() {
      // Do nothing when video is streaming or image are being uploaded to server
      if (streaming || uploading) return;

      clearImageFromPreviousSession();
      var isMobile = /iPhone|iPad|iPod|Android/i.test(navigator.userAgent);
      // Support for old browsers which do not support WebRTC
      const supported = "mediaDevices" in navigator;
      if (!supported || isMobile) {
        // toggleVideoPlayer((show = false));
        // toggleUploadBtn((show = true));
        // enableUploadBtn();
        toggleSkinImage((active = true));
        toggleVideoPlayer((show = false));
        toggleUploadBtn((show = true));
        enableUploadBtn();
        nativeCameraInput.click();

        return;
      }

      navigator.mediaDevices
        .getUserMedia({ video: true, audio: false })
        .then(function (stream) {
          toggleSkinImage((active = true));
          toggleCaptureBtn((show = true));
          toggleVideoPlayer((show = true));
          toggleUploadBtn((show = false));
          video.srcObject = stream;
          video.play();
        })
        .catch(function (err) {
          //if there's no compatible camera connected, or the user denied access
          console.error(err);
          alert("Không thể kết nối camera");
        });
    }


    function chooseImage() {
      // Do nothing when video is streaming or image are being uploaded to server
      if (streaming || uploading) return;

      clearImageFromPreviousSession();
      toggleSkinImage((active = true));
      toggleVideoPlayer((show = false));
      toggleUploadBtn((show = true));
      enableUploadBtn();

      localImageInput.click();
    }

    function uploadImage() {
      const getConfigSkinAI = function () {
        return makeRequest(
          "https://raw.githubusercontent.com/ktpm489/admin-demo/master/config3.js",
          "GET"
        );
      };

      const postImageToSkinAI = function (config) {
        const dataInput = imageProcess.src;
        const jdata = {
          email: config.configSkin.email,
          image_base64:
            dataInput.substr(dataInput.indexOf("base64,") + 7) + "",
        };

        const headers = {
          "Content-Type": "application/json",
          apikey: config.configSkin.key,
        };

        return makeRequest(
          config.configSkin.link,
          "POST",
          headers,
          JSON.stringify(jdata)
        );
      };

      uploading = true;
      toggleUploadBtn((show = false));
      toggleUploadingBtn((show = true));

      getConfigSkinAI()
        .then(function (firstResponse) {
          var config = JSON.parse(firstResponse.responseText);
          return postImageToSkinAI(config);
        })
        .then(function (secondResponse) {
          // Store response before navigating to result page.
          const encodedData = JSON.stringify(
            JSON.parse(secondResponse.responseText)
          );
          sessionStorage.setItem("_t", encodedData);

          navigateTo("/soida/result");
        })
        .catch(function (err) {
          console.error(err);
          alert("Xin vui lòng thử lại");
        })
        .finally(function () {
          uploading = false;
          toggleUploadBtn((show = true));
          toggleUploadingBtn((show = false));
        });
    }

    function addEventListenerForChooseImage() {
      function handler(e) {
        const files = e.target.files;

        if (files.length) {
          const reader = new FileReader();

          reader.onloadend = function () {
            imageShow.src = reader.result;
            imageShow.className = isIOSMoble() ? 'rotation-class' : ''
          };

          reader.readAsDataURL(files[0]);
          processLocalImage(files[0]);
        }
      }

      localImageInput.addEventListener("change", handler, false);
      nativeCameraInput.addEventListener("change", handler, false);
    }

    function addEventListenerForCamera() {
      video.addEventListener(
        "canplay",
        function (ev) {
          if (!streaming) {
            height = video.videoHeight / (video.videoWidth / width);

            if (isNaN(height)) {
              height = width / (4 / 3);
            }

            video.setAttribute("width", width);
            video.setAttribute("height", height);
            canvas.setAttribute("width", width);
            canvas.setAttribute("height", height);
            streaming = true;
          }
        },
        false
      );

      captureBtn.addEventListener(
        "click",
        function (ev) {
          takePicture();
          ev.preventDefault();
        },
        false
      );
    }

    function takePicture() {
      const context = canvas.getContext("2d");
      if (width && height) {
        canvas.width = width;
        canvas.height = height;
        context.translate(width, 0);
        context.scale(-1, 1);
        context.drawImage(video, 0, 0, width, height);

        const imgUrl = canvas.toDataURL("image/png");
        imageShow.setAttribute("src", imgUrl);

        processCaptureImage(imgUrl);
      }

      toggleCaptureBtn((show = false));
      toggleVideoPlayer((show = false));
      toggleUploadBtn((show = true));
      enableUploadBtn();

      // Attempt to fix not response on Chrome Android after capture photo
      setTimeout(function () {
        stopVideo();
      }, 1000);
    }

    function stopVideo() {
      const mediaStream = video.srcObject;
      const tracks = mediaStream.getTracks();

      streaming = false;
      tracks.forEach(function (track) {
        track.stop();
      });
    }

    function processCaptureImage(imgUrl) {
      squareCropAndResizeImage(imgUrl, 500)
        .then(function (outputUrl) {
          imageProcess.setAttribute("src", outputUrl);
        })
        .catch(function (err) {
          console.error("Error ocurred when cropping image: ", err);
        });
    }

    function processLocalImage(file) {
      if (file) {
        const reader = new FileReader();

        reader.onload = function (e) {
          squareCropAndResizeImage(e.target.result, 500)
            .then(function (outputUrl) {
              imageProcess.setAttribute("src", outputUrl);
            })
            .catch(function (err) {
              console.error("Error ocurred when cropping image: ", err);
            });
        };

        reader.readAsDataURL(file);
      }
    }

    function clearImageFromPreviousSession() {
      imageShow.removeAttribute("src");
      imageProcess.removeAttribute("src");
    }

    function toggleSkinImage(active) {
      if (active) {
        skinImage.classList.remove("ai-skin__skin-image--inactive");
        skinImage.classList.add("ai-skin__skin-image--active");
      } else {
        skinImage.classList.remove("ai-skin__skin-image--active");
        skinImage.classList.add("ai-skin__skin-image--inactive");
      }
    }

    function toggleCaptureBtn(show) {
      if (show) {
        captureBtn.classList.remove("ai-skin__button--hidden");
      } else {
        captureBtn.classList.add("ai-skin__button--hidden");
      }
    }

    function toggleVideoPlayer(show) {
      if (show) {
        videoPlayer.style.display = "block";
      } else {
        videoPlayer.style.display = "none";
      }
    }

    function enableUploadBtn() {
      uploadBtn.classList.remove("ai-skin__button--disabled");
    }

    function toggleUploadBtn(show) {
      if (show) {
        uploadBtn.style.display = "block";
      } else {
        uploadBtn.style.display = "none";
      }
    }

    function toggleUploadingBtn(show) {
      if (show) {
        uploadingBtn.classList.remove("ai-skin__button--hidden");
      } else {
        uploadingBtn.classList.add("ai-skin__button--hidden");
      }
    }

    //==============================================================//
    // Utils
    //==============================================================//
    function makeRequest(url, method, headers, data) {
      var request = new XMLHttpRequest();

      return new Promise(function (resolve, reject) {
        request.onreadystatechange = function () {
          // Only run when request is completed
          if (request.readyState != 4) return;

          if (request.status >= 200 && request.status < 300) {
            resolve(request);
          } else {
            reject({
              status: request.status,
              statusText: request.statusText,
            });
          }
        };

        request.onerror = function (error) {
          reject(error);
        };

        request.open(method || "GET", url, true);

        if (headers) {
          for (var key in headers) {
            request.setRequestHeader(key, headers[key]);
          }
        }

        if (data) {
          request.send(data);
        } else {
          request.send();
        }
      });
    }

    function squareCropAndResizeImage(url, targetSize = 500) {
      return squareCenterCropImage(url).then(function (croppedUrl) {
        return resizeImage(croppedUrl, targetSize);
      });
    }

    function squareCenterCropImage(url) {
      return new Promise(function (resolve) {
        const inputImage = new Image();
        inputImage.onload = function () {
          const inputWidth = inputImage.naturalWidth;
          const inputHeight = inputImage.naturalHeight;

          // if it's bigger than our target aspect ratio
          let croppedWidth = inputWidth;
          let croppedHeight = inputHeight;
          if (inputWidth > inputHeight) {
            croppedWidth = inputHeight;
          } else if (inputWidth < inputHeight) {
            croppedHeight = inputWidth;
          }
          // calculate the position to draw the image at
          const croppedX = (croppedWidth - inputWidth) * 0.5;
          const croppedY = (croppedHeight - inputHeight) * 0.5;

          // create a canvas that will present the output image
          const canvas = document.createElement("canvas");
          canvas.width = croppedWidth;
          canvas.height = croppedHeight;

          // draw our image at position 0, 0 on the canvas
          const context = canvas.getContext("2d");

          context.drawImage(inputImage, croppedX, croppedY);
          resolve(canvas.toDataURL("image/png"));
        };

        inputImage.src = url;
      });
    }

    function resizeImage(url, targetSize = 500) {
      return new Promise(function (resolve) {
        const inputImage = new Image();
        inputImage.onload = function () {
          var canvas = document.createElement("canvas");
          canvas.width = targetSize;
          canvas.height = targetSize;
          var context = canvas.getContext("2d");

          if (isIOSMoble()) {
            context.save();
            context.scale(-1, 1);
            context.drawImage(inputImage, -targetSize, 0, targetSize, targetSize);
            context.restore();
          } else {
            context.drawImage(inputImage, 0, 0, targetSize, targetSize);
          }


          resolve(canvas.toDataURL("image/png"));
        };

        inputImage.src = url;
      });
    }
  })();
</script>

</html>