<html lang="en">

<body>
  <div class='container-fluid px-0'>
    <%- include('./partials/header.ejs'); %>
      <div class="ai-skin__container">
        <%- include('./partials/pages/welcome.ejs'); %>
      </div>
      <%- include('./partials/footer.ejs'); %>
  </div>


</body>

</html>