<% if (typeof uuid === 'undefined'){ var [t, tt] = process.hrtime(); var uuid =
t * 1000000000 + tt;}%> <% var cellTemplateId= 'aiMakeupBrandGridCell'; var
containerTemplateId= 'aiMakeupBrandGridContainerTemplate'; var gridId =
'aiMakeupBrandGrid' %>
<div class="ai-makeup__brands__grid" id="<%=gridId%><%=uuid%>">
  <template id="<%=containerTemplateId%><%=uuid%>">
    <div
      class="ai-makeup__brands__grid__container <%%=containerLoadingClass%>"
      id="aiMakeupBrandGridContainer<%= uuid %>"
    >
      <%- include('../loading.ejs'); %>
      <template id="<%=cellTemplateId%><%= uuid %>">
        <div class="ai-makeup__brands__grid__cell <%%=activatedBrandClass%>">
          <div
            class="ai-makeup__brands__item"
            title="<%%=brand.name%>"
            style="background-image: url('<%%=brand.image%>')"
            data-id="<%%=brand._id%>"
            data-on-click="toggleActive($e, '<%=uuid%>','<%%=brand._id%>')"
          ></div>
        </div>
      </template>
    </div>
  </template>
</div>
<%- include('../packages/make-request.ejs') %>
<script>
  if (!window.brandsGridModule) {
    window.brandsGridModule = (function () {
      var apiEndpoint = 'https://csgvietnam.com/api';
      var cellTemplateId = '<%=cellTemplateId%>';
      var gridId = '<%=gridId%>';
      var containerTemplateId = '<%=containerTemplateId%>';
      var cachedRequest;
      var cachedData;
      var activatedBrandIds = {};
      var overriddenHandlers = {};
      var gridLoadings = {};
      var brands = {};
      var handlers = {
        toggleActive: function (e, uuid) {
          e.preventDefault();
          e.stopPropagation();
          setActivatedBrandId(uuid, e.target.dataset.id);
          render(uuid);
        },
        setBrands: function (brands, uuid) {},
      };
      function setGridLoading(uuid, gridLoading) {
        gridLoadings[uuid] = gridLoading;
        render(uuid);
      }
      function getGridLoading(uuid) {
        return gridLoadings[uuid];
      }
      function setBrands(uuid, brs) {
        brands[uuid] = brs;
        render(uuid);
        overriddenHandlers[uuid].setBrands(brs, uuid);
      }
      function getBrands(uuid) {
        return brands[uuid];
      }
      function purgeCache() {
        cachedRequest = undefined;
        cachedData = undefined;
      }
      function startup(uuid) {
        if (!uuid) {
          uuid = '<%= uuid %>';
        }
        if (!cachedRequest) {
          cachedRequest = makeRequest(apiEndpoint + '/brand-list');
        }
        setGridLoading(uuid, true);
        getBrandList().then(function (brs) {
          setBrands(uuid, brs);
        });
        render(uuid);
      }
      function getBrandList() {
        if (cachedData) {
          return new Promise(function (resolve) {
            return resolve(cachedData);
          });
        }
        return cachedRequest.then(function (data) {
          cachedData = JSON.parse(data.responseText).data;
          return cachedData;
        });
      }
      function getActivatedBrandId(uuid) {
        return activatedBrandIds[uuid];
      }
      function setActivatedBrandId(uuid, id) {
        activatedBrandIds[uuid] = id;
        render(uuid);
      }
      function registerHandlers(uuid, newHandlers) {
        overriddenHandlers[uuid] = template.registerHandler(
          uuid,
          handlers,
          newHandlers
        );
      }
      function renderGrid(uuid) {
        var grid = document.getElementById(gridId + uuid);
        if (!grid) {
          return;
        }
        template.renderChildren(
          grid,
          containerTemplateId,
          uuid,
          [
            {
              containerLoadingClass: getGridLoading(uuid)
                ? 'ai-makeup__brands__grid__container--loading'
                : '',
            },
          ],
          handlers,
          overriddenHandlers
        );
      }
      function renderContainer(uuid) {
        var container = document.getElementById(
          'aiMakeupBrandGridContainer' + uuid
        );
        if (!container) {
          return;
        }
        var brandLists = getBrands(uuid);
        if (!brandLists || !brandLists.length) {
          return;
        }
        template.renderChildren(
          container,
          cellTemplateId,
          uuid,
          brandLists.map(function (brand) {
            return {
              brand: brand,
              activatedBrandClass:
                brand._id === getActivatedBrandId(uuid)
                  ? 'ai-makeup__brands__grid__cell--active'
                  : '',
            };
          }),
          handlers,
          overriddenHandlers
        );
        if (getGridLoading(uuid)) {
          setGridLoading(uuid, false);
        }
      }
      function render(uuid) {
        if (!uuid) {
          uuid = '<%= uuid %>';
        }
        renderGrid(uuid);
        renderContainer(uuid);
      }

      startup();
      return {
        startup: startup,
        render: render,
        registerHandlers: registerHandlers,
        getActivatedBrandId: getActivatedBrandId,
        setActivatedBrandId: setActivatedBrandId,
        setBrands: setBrands,
        getBrands: getBrands,
      };
    })();
  } else {
    window.brandsGridModule.startup('<%= uuid %>');
  }
</script>
