<% if (typeof uuid === 'undefined') { var [t, tt] = process.hrtime(); var uuid =
t * 1000000000 + tt; }; var imageId = 'aiMakeupImage'; var imageTemplateId =
'aiMakeupImageTemplate'; var imageUploadInputId = 'aiMakeupImageUploadInput';
var imageUploadTemplateId= 'aiMakeupImageUploadTemplate'; var imageUploadId =
'aiMakeupImageUpload';var imageRecaptureTemplateId=
'aiMakeupImageRecaptureTemplate'; var imageRecaptureId =
'aiMakeupImageRecapture' %>
<div class="ai-makeup__makeup">
  <div class="ai-makeup-makeup-body">
    <div
      class="ai-makeup__makeup-image ai-makeup__makeup-image--inactive"
      id="makeupImage"
    >
      <img
        class="ai-makeup__makeup-image__background" id ="place_holderbg"
        data-src="./trangdiem/contain/img/placeholders/makeup-capture-placeholder.png"
      />
      <div class="ai-makeup__makeup-video-player" id="videoPlayer">
        <video id="video" autoplay muted playsInline>No video available</video>
        <canvas id="canvas" hidden></canvas>
      </div>
      <div id="<%=imageId%><%=uuid%>">
        <template id="<%=imageTemplateId%><%=uuid%>">
          <div
            class="
              ai-makeup__makeup-image-show ai-makeup__image--cropped
              <%%=imageLoadingClass%>
              <%%=imageVisibilityClass%>
            "
          >
            <%-include('../loading.ejs') %>
            <img id="imageShow" src="<%%=imageSrc%>" />
          </div>
        </template>
      </div>
      <img id="output" hidden />

      <div class ="color-ai-area">
          <%-include('../colorrange.ejs') %>
      </div>

      <%-include('./reward.ejs') %>     


    </div>
  </div>
  <div class="ai-makeup__bottom-actions">
    <div id="<%=imageUploadId%><%=uuid%>">
      <template id="<%=imageUploadTemplateId%><%=uuid%>">
        <div class="ai-makeup__upload-image">
          <input
            id="<%=imageUploadInputId%><%=uuid%>"
            type="file"
            data-on-change="changeFile($e,'<%=uuid%>')"
          />
          <svg
            width="512"
            height="475"
            viewBox="0 0 512 475"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M432 0H80C35.8867 0 0 35.7764 0 79.754V358.893C0 402.871 35.8867 438.647 80 438.647H353C364.047 438.647 373 429.722 373 418.709C373 407.696 364.047 398.77 353 398.77H279.336L233.352 339.297L379.074 154.52L477.172 262.608C482.719 268.726 491.473 270.802 499.191 267.838C506.906 264.871 512 257.475 512 249.231V79.754C512 35.7764 476.113 0 432 0ZM472 197.477L392.832 110.242C388.879 105.884 383.191 103.478 377.309 103.692C371.422 103.898 365.922 106.679 362.277 111.297L208.16 306.718L155.84 239.052C152.055 234.157 146.203 231.287 140 231.287C139.996 231.287 139.992 231.287 139.988 231.287C133.785 231.291 127.93 234.165 124.148 239.067L80.1328 296.11C73.3984 304.841 75.0352 317.357 83.7891 324.071C92.5469 330.788 105.102 329.153 111.84 320.426L140.016 283.906L228.832 398.77H80C57.9453 398.77 40 380.88 40 358.893V79.754C40 57.7672 57.9453 39.877 80 39.877H432C454.055 39.877 472 57.7672 472 79.754V197.477Z"
              fill="black"
            />
            <path
              d="M140 71.7786C106.914 71.7786 80 98.61 80 131.594C80 164.578 106.914 191.41 140 191.41C173.086 191.41 200 164.578 200 131.594C200 98.61 173.086 71.7786 140 71.7786ZM140 151.533C128.973 151.533 120 142.588 120 131.594C120 120.601 128.973 111.656 140 111.656C151.027 111.656 160 120.601 160 131.594C160 142.588 151.027 151.533 140 151.533Z"
              fill="black"
            />
            <path
              d="M468.477 302.01C468.418 301.952 468.359 301.889 468.301 301.831C458.848 292.341 446.273 287.115 432.891 287.115C419.547 287.115 407.008 292.309 397.566 301.745L358.953 339.714C351.09 347.444 351.004 360.069 358.762 367.908C366.516 375.747 379.18 375.837 387.043 368.103L412.891 342.689V454.598C412.891 465.611 421.844 474.537 432.891 474.537C443.937 474.537 452.891 465.611 452.891 454.598V343.297L477.629 368.773C481.551 372.815 486.773 374.844 492 374.844C497.012 374.844 502.027 372.979 505.91 369.232C513.848 361.572 514.051 348.951 506.367 341.038L468.477 302.01Z"
              fill="black"
            />
          </svg></div
      ></template>
    </div>
    <div
      class="
        ai-makeup__button
        ai-makeup__button--hidden
        ai-makeup__makeup-body__button--capture
      "
      id="captureBtn"
    ></div>
    <div id="<%=imageRecaptureId%><%=uuid%>">
      <template id="<%=imageRecaptureTemplateId%><%=uuid%>">
        <div
          class="ai-makeup__recapture"
          data-on-click="recapture('<%=uuid%>')"
        >
          <svg
            width="30"
            height="28"
            viewBox="0 0 30 28"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M27.6563 16.5234V8.90625C27.6563 7.61398 26.6048 6.5625 25.3125 6.5625H23.5336C22.028 6.5625 20.6905 5.60486 20.2055 4.17961L19.8509 3.13797C19.6891 2.66304 19.2432 2.34375 18.7415 2.34375H11.2548C10.7627 2.34375 10.3198 2.6548 10.1527 3.1176L9.74693 4.24095C9.24568 5.62958 7.91679 6.5625 6.44051 6.5625H4.6875C3.39523 6.5625 2.34375 7.61398 2.34375 8.90625V22.3828C2.34375 23.6751 3.39523 24.7266 4.6875 24.7266H25.3125C26.6048 24.7266 27.6563 23.6751 27.6563 22.3828C27.6563 21.7355 28.1808 21.2109 28.8281 21.2109C29.4754 21.2109 30 21.7355 30 22.3828C30 24.9676 27.8973 27.0703 25.3125 27.0703H4.6875C2.10274 27.0703 0 24.9676 0 22.3828V8.90625C0 6.32149 2.10274 4.21875 4.6875 4.21875H6.44051C6.9326 4.21875 7.37549 3.9077 7.54257 3.4449L7.94838 2.32155C8.44963 0.932922 9.77852 0 11.2548 0H18.7415C20.2469 0 21.5845 0.957642 22.0695 2.38266L22.424 3.42453C22.5858 3.89969 23.0317 4.21875 23.5336 4.21875H25.3125C27.8973 4.21875 30 6.32149 30 8.90625V16.5234C30 17.1707 29.4754 17.6953 28.8281 17.6953C28.1808 17.6953 27.6563 17.1707 27.6563 16.5234ZM13.4287 16.6992C13.4287 16.0519 12.9041 15.5273 12.2569 15.5273H9.26857C7.97035 15.5273 6.91406 16.5788 6.91406 17.8711V20.8008C6.91406 21.4481 7.43866 21.9727 8.08594 21.9727C8.73322 21.9727 9.25781 21.4481 9.25781 20.8008V19.6495C10.621 21.4737 12.7927 22.6172 15.1758 22.6172C19.2467 22.6172 22.5586 19.3053 22.5586 15.2344C22.5586 11.1635 19.2467 7.85156 15.1758 7.85156C12.5484 7.85156 10.0983 9.26582 8.78128 11.5421C8.45741 12.1024 8.64876 12.8192 9.20906 13.1433C9.76913 13.4674 10.486 13.2758 10.8101 12.7158C11.7094 11.161 13.3823 10.1953 15.1758 10.1953C17.9544 10.1953 20.2148 12.4558 20.2148 15.2344C20.2148 18.013 17.9544 20.2734 15.1758 20.2734C13.39 20.2734 11.7776 19.3339 10.8792 17.8711H12.2569C12.9041 17.8711 13.4287 17.3465 13.4287 16.6992Z"
              fill="black"
            />
          </svg>
        </div>
      </template>
    </div>
  </div>
</div>
<script>
  if (!window.makeupPageModule) {
    window.makeupPageModule = (function () {
      var handlers = {
        changeFile: function (e, uuid) {
          $("#place_holderbg").hide();
        
          setImageFile(uuid, e.target.files);
        },
        recapture: function (uuid) {
          console.log('placeholder for recapture handler');
        },
      };
      var overriddenHandlers = {};
      var imageId = '<%=imageId%>';
      var imageTemplateId = '<%=imageTemplateId%>';
      var imageUploadInputId = '<%=imageUploadInputId%>';
      var imageUploadTemplateId = '<%=imageUploadTemplateId%>';
      var imageUploadId = '<%=imageUploadId%>';
      var imageRecaptureTemplateId = '<%=imageRecaptureTemplateId%>';
      var imageRecaptureId = '<%=imageRecaptureId%>';
      var imageLoadings = {};
      var imageSrcs = {};
      var imageVisibilities = {};
      var imageFiles = {};
      function getImageLoading(uuid) {
        return imageLoadings[uuid];
      }
      function setImageLoading(uuid, imageLoading) {
        imageLoadings[uuid] = imageLoading;
        render(uuid);
      }
      function getImageSrc(uuid) {
        return imageSrcs[uuid];
      }
      function setImageSrc(uuid, imageSrc) {
        imageSrcs[uuid] = imageSrc;
        render(uuid);
      }
      function getImageVisibility(uuid) {
        return imageVisibilities[uuid];
      }
      function setImageVisibility(uuid, visibility) {
        imageVisibilities[uuid] = visibility;
        render(uuid);
      }
      function getImageFile(uuid) {
        return imageFiles[uuid];
      }
      function setImageFile(uuid, file) {
      
        imageFiles[uuid] = file;
        render(uuid);
      }
      function startup(uuid) {
        if (!uuid) {
          uuid = '<%=uuid%>';
        }
        render(uuid);
      }
      function renderImage(uuid) {
        var imageContainer = document.getElementById(imageId + uuid);
        if (!imageContainer) {
          return;
        }
        template.renderChildren(
          imageContainer,
          imageTemplateId,
          uuid,
          [
            {
              imageLoadingClass: getImageLoading(uuid)
                ? 'ai-makeup__makeup-image-show--loading'
                : '',
              imageSrc: getImageSrc(uuid),
              imageVisibilityClass: !getImageVisibility(uuid)
                ? 'ai-makeup__makeup-image-show--hidden'
                : '',
            },
          ],
          handlers,
          overriddenHandlers
        );
      }
      function renderImageUpload(uuid) {
        var imageUploadContainer = document.getElementById(
          imageUploadId + uuid
        );
        if (!imageUploadContainer) {
          return;
        }
        template.renderChildren(
          imageUploadContainer,
          imageUploadTemplateId,
          uuid,
          [{}],
          handlers,
          overriddenHandlers
        );
      }
      function renderImageRecapture(uuid) {
        var imageRecaptureContainer = document.getElementById(
          imageRecaptureId + uuid
        );
        if (!imageRecaptureContainer) {
          return;
        }
        template.renderChildren(
          imageRecaptureContainer,
          imageRecaptureTemplateId,
          uuid,
          [{}],
          handlers,
          overriddenHandlers
        );
      }
      function registerHandlers(uuid, newHandlers) {
        overriddenHandlers[uuid] = template.registerHandler(
          uuid,
          handlers,
          newHandlers
        );
      }
      function render(uuid) {
        if (!uuid) {
          uuid = '<%=uuid%>';
        }
        renderImage(uuid);
        renderImageUpload(uuid);
        renderImageRecapture(uuid);
      }
      return {
        startup: startup,
        render: render,
        registerHandlers: registerHandlers,
        setImageLoading: setImageLoading,
        getImageLoading: getImageLoading,
        setImageSrc: setImageSrc,
        getImageSrc: getImageSrc,
        setImageVisibility: setImageVisibility,
        getImageVisibility: getImageVisibility,
        setImageFile: setImageFile,
        getImageFile: getImageFile,
      };
    })();
  } else {
    window.makeupPageModule.startup('<%=uuid%>');
  }
</script>
