<div class="row mx-0 justify-content-center mb-3">
    <div class="titleProductRecomend">Chăm Sóc Da Hằng Ngày</div>
</div>
<div class="ai-skin__container" style="padding-left: 10px; padding-right: 10px">
    <div class="slick-carousel mb-3">
        <div class="card mr-2">
            <img src="https://postimg.cc/dkCNTH3f" alt="" />
            <div class="product-title">
                <div>SP1</div>
            </div>
        </div>
    </div>
</div>
<div class="row mx-0 justify-content-center mb-3">
    <div class="titleProductRecomend">Hỗ trợ Giảm Lão Hóa Da</div>
</div>
<div class="ai-skin__container" style="padding-left: 10px; padding-right: 10px">
    <div class="slick-carousel mb-3">
        <div class="card mr-2">
            <img src="https://i.postimg.cc/W3WBCxvs/KEM-D-NG-BAN-M-Q10.jpg" alt="" />
            <div class="product-title">
                <div>SP1</div>
            </div>
        </div>
        <div class="card mr-2">
            <img src="https://i.postimg.cc/W3WBCxvs/KEM-D-NG-BAN-M-Q10.jpg" alt="" />
            <div class="product-title">
                <div>SP2</div>
            </div>
        </div>
        <div class="card mr-2">
            <img src="https://i.postimg.cc/W3WBCxvs/KEM-D-NG-BAN-M-Q10.jpg" alt="" />
            <div class="product-title">
                <div>SP3</div>
            </div>
        </div>
    </div>
</div>