.banner__desc b a {
	color: rgba(229, 235, 255, .8);
	text-decoration: none;
}

/* Message blocks */
.block_message            { background-color: #ffffff; padding-bottom: 16px; }

.base_message             { color: #616366; box-sizing: border-box; width: 100%; font-size: 15px; line-height: 25px; margin: 0px auto 10px auto; padding: 15px; text-align: left; border: 1px solid #000000; border-radius: 5px; overflow: hidden; }
.success_message          { color: #5ba65f; border-color: #66bb6a; }
.warning_message          { color: #fca426; border-color: #ffb13d; }
.error_message            { color: #e53935; border-color: #ff4d4a; }
.info_message             { color: #1e88e5; border-color: #54aaff; }

@media (max-width:751px) {
	.resources__navbar-inner {
		padding-left: 15px;
	}
	.resources__navbar-inner .resources__burger {
		min-width: 48px;
	}
	body {
		overflow-x: hidden;
	}
}

@media (max-width:450px) {
	.resources__navbar-inner .container {
		padding-left: 0;
	}
	.resources__content>.resources__header {
		padding: 36px 0 0;
	}
	.article .top__desc .tags-list {
		max-width: 100px;
		display: table-row;
	}
	.article .top__desc .tags-list__item {
		white-space: nowrap;
		margin-top: 5px;
	}
	.article .top__desc .tags-list__item:first-of-type {
		float: left;
	}
}

.nav-bar-bg {
	background: linear-gradient(90deg,#021048,#1e38a3);
}

@media (max-width: 1011px) {
	.scroll-up .site-navbar.navbar.navbar--h.navbar--main {
		background: #FFF !important;
	}
	.site-navbar.navbar.navbar--h.navbar--main {
		background: unset;
	}
}

@media (max-width:649px) {
	.resources__navbar-inner .resources__nav {
		display: block;
	}
	.breadcrumb__item.is-active span.is-active {
		display: inline-block;
		min-width: 0;
		white-space: nowrap;
		overflow-x: hidden;
		text-overflow: ellipsis;
	}
	.resources__brand, .resources__navbar:not(.resources__navbar--faq) .container {
		display: inline-block;
	}
	.resources .resources__brand {
		display: none;
	}
	ul.breadcrumb {
		flex: 0 1 auto;
	}
	.breadcrumb__item.is-active {
		flex: 1;
		min-width: 0;
	}

}
@media (max-width:1011px) {
	.section.section--our-mission ~ .section.section--our-mission {
		border-bottom: none;
	}
	.features--other-features {
		padding-bottom: 100px;
	}
}

h3.article_search_title, p.article_search_title {
	color: #007bfc;
	margin: 0px;
	font-weight: normal;
	font-style: normal;
	word-break: break-word;
}

h3.article_search_title em{
	font-weight: bold;
	font-style: normal;
	word-break: break-word;
}

h3.doc_section_search_title {
	color: black;
	font-size: 15px;
	font-weight: lighter;
	margin: 0px;
}

h3.doc_section_search_title p{
	padding: 0px;
	margin: 0px;
	color: black;
	word-break: break-word;
	font-weight: lighter;
	font-style: normal;
}

h3.doc_section_search_title em{
	color: black;
	font-weight: bolder;
	font-style: normal;
	word-break: break-word;
}

p.article_search_summary {
	color: black;
	font-style: normal;
}

p.article_search_summary em{
	color: black;
	font-weight: bolder;
	font-style: normal;
	word-break: break-word;
}

p.docs_section_search_summary {
	color: #525666;
	font-size: 12px;
	word-break: break-word;
	margin: 0px;
	padding: 0px;
	line-height: normal;
	font-style: normal;
}

p.docs_section_search_summary em{
	color: #525666;
	font-size: 12px;
	font-weight: bold;
	font-style: normal;
	margin: 0px;
}

.search__results {
	background: #FFFFFF;
	max-width: 648px;
	position: absolute;
	width: 100%;
	text-align: left;
	margin-top: 5px;
	border-radius: 3px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media (max-width: 1011px) {
	.search__results {
		background: #FFFFFF;
		position: absolute;
		width: 267px;
		text-align: left;
		margin-top: 5px;
		border-radius: 3px;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}
}

@media (max-width: 750px) {
	.search__results {
		background: #FFFFFF;
		position: relative;
		width: 267px;
		text-align: left;
		margin-top: 5px;
		border-radius: 3px;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}
}

@media (max-width: 330px) {
	.search__results {
		width: 100%;
	}
}

h6.search__results_no_results {
	color:#142149;
	margin: 0;
	padding: 12px;
}

.resources__content > .resources__archived {
	margin-top: 75px;
}

video.news_video {
	margin-left: auto;
	margin-right: auto;
	display: block;
	max-width: 100%;
}

.toggle-button {
	background-color: #007bfc;
	/*margin: 1px 0;*/
	border-radius: 20px;
	border: 2px solid #007bfc;
	height: 25px;
	cursor: pointer;
	width: 60px;
	position: relative;
	top: 9px;
	display: inline-block;
	user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
}

.toggle-button button {
	cursor: pointer;
	outline: 0;
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	border-radius: 100%;
	width: 25px;
	height: 25px;
	background-color: white;
	float: left;
	margin: -2px 0 0 -2px;
	border: 2px solid #007bfc;
	transition: left 0.2s;
}

.toggle-button-selected {
	background-color: #3BA3FF;
	border: 2px solid #3BA3FF;
}

.toggle-button-selected button {
	left: 35px;
	top: 0;
  margin: -2px 0 0 -2px;
	border: 2px solid #007bfc;
	width: 25px;
	height: 25px;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

#ipv4label {
	color: white;
	font-weight: bold;
  position: relative;
  left: -35px;
}

#ipv6label {
	color: white;
	font-weight: bold;
  position: relative;
  left: -57px;
}

.list-group--collapse-simple .list-group__content {
	width: 100%;
}

.btn--speedtest {
	margin-right: 30px;
}

.btn--speedtest .btn__text {
	color:#fff;
}

div.speedtest {
	margin-left: 15px;
}

.selectize-control .selectize-input .item {
	text-overflow: ellipsis;
	overflow:hidden;
}

.resources__section .resources__list {
	min-height: 200px;
}

/* status */
.sn__section.sn__section--ongoing-issues .sn__issue-title.alert__closed:before { background: #4cc159; }
.sn__section.sn__section--ongoing-issues .sn__issue-title.alert__closed:after  { border-color: #4cc159; }
.sn__section.sn__section--ongoing-issues .sn__issue-title.fo_alert__resolved:before { background: #4cc159; }
.sn__section.sn__section--ongoing-issues .sn__issue-title.fo_alert__resolved:after  { border-color: #4cc159; }

.feature__desc + .feature__actions .btn--link {
  overflow: inherit;
  white-space: pre-wrap;
}

@media all and (max-width: 375px) {
  .section--block-center [class^=col] {
    flex-direction: inherit;
  }
}

div.team-member__photo {
	background-color: white;
	min-width: 265px !important;
}

.team-member__content {
	padding: 22px 0px 0px;
	padding-right: 20px;
}

.team-member__name {
	margin: 2px 0 24px !important;
}

.team-member__role {
	font-size: 16px !important;
	font-weight: 400 !important;
}

@media all and (min-width: 1012px) and (max-width: 1231px) {
	.team-member__photo {
		justify-content: center;
	}
	.team-member__photo img {
		margin: 0;
	}
}

@media (min-width: 752px) {
	.banner--resources-main .banner__background {
	    min-height: 875px;
	}
}

/* navbar with open search */
.resources__navbar.is-sticky .resources__navbar-opensearchform {
	display: block !important
}

.resources__navbar.is-sticky .resources__navbar-opensearchform .input-group {
	border: none
}

.resources__navbar-opensearchform {
	margin-left: auto;
	width: 380px;
	border: 1px solid #e6e7eb;
	border-width: 0 1px
}

.resources__navbar-opensearchform .input-group {
	border: 0;
	border-radius: 0;
}

.resources__navbar-opensearchform .input-group:hover {
	border: 0
}

.resources__navbar-opensearchform .input-group__icon {
	cursor: pointer;
}

@media (max-width: 775px) {
	.resources__navbar-opensearchform .input-group input {
		padding-left: 0;
	}

	.resources__navbar--opensearchbar .container {
		display: inline-block;
	}
	.resources__navbar--opensearchbar .resources__navbar-inner .resources__nav {
		display: block;
	}
	.resources__navbar--opensearchbar .breadcrumb__item.is-active span.is-active {
		display: inline-block;
		min-width: 0;
		white-space: nowrap;
		overflow-x: hidden;
		text-overflow: ellipsis;
	}
	.resources .resources__navbar--opensearchbar .resources__brand {
		display: none;
	}
	.resources__navbar--opensearchbar ul.breadcrumb {
		flex: 0 1 auto;
	}
	.resources__navbar--opensearchbar .breadcrumb__item.is-active {
		flex: 1;
		min-width: 0;
	}
}

@media (max-width: 1011px) {
	.resources__navbar-opensearchform {
		border: none
	}

	.resources__navbar-opensearchform .input-group__icon {
		margin-left: auto;
		margin-right: 0;
		color: #8692b0
	}

	.resources__navbar-opensearchform {
		margin-left: 0;
		width: 100%;
		display: block
	}
	.illustration--high-frequency .svg-illustration--dash {
		display:none;
	}
}

ul.workable_description {
	list-style: initial;
}

/* Resizable Textbox and min-height*/
textarea.preview_text
{
	min-height: 500px;
	resize: vertical;
}

/* BENCHMARKS */
.benchmark__bar .benchmark__bar-value {
    top: -35px;
}
.benchmark__bar-title {
    font-size: 12px;
    white-space: nowrap;
}
.benchmark__bar {
    z-index: 10;
    bottom: 0;
    width: 40px;
    height: 5%;
    will-change: height;
    background: linear-gradient(180deg,#007bfc,#05c1fe);
    left: 8%;
}

.benchmark__bar:nth-child(2) {
    left: 42%;
    background: linear-gradient(180deg,#007bfc,#05c1fe);
}
.benchmark__bar:nth-child(3) {
    left: 76%;
    background: linear-gradient(180deg,#c7cdde,#dfe3ed);
}
.benchmark__bar:nth-child(3) .benchmark__bar-value {
    top: -30px;
}

@media (max-width: 1231px){
	.benchmark__bar {
	    width: 32px;
	    margin-left: 0px;
	}
	.benchmark__bar:nth-child(2) {
	    margin-left: 0px;
	}
	.benchmark__bar .benchmark__bar-value {
	    top: -30px;
	}
}

@media (max-width: 1011px) {
	.benchmark__bar {
	    left: 8%;
	}
	.benchmark {
	    box-shadow: 0 8px 16px 0 rgba(10,14,29,.02), 0 8px 40px 0 rgba(10,14,29,.06);
	}

	.benchmark__bar:nth-child(3) {
	    left: 76%;
	}
	.section--benchmark .rail>*+* {
	    margin-left: 32px;
	}
	.section--dark-md .illustration--high-frequency .illustration__left-element, .section--dark-md .illustration--high-frequency .illustration__right-element {
    	top: -67px;
	}
	.section--dark-md .illustration--high-frequency .illustration__center-element {
	    bottom: -23px;
	}
}

@media (max-width: 751px) {
	.benchmark__section {
	    padding: 24px 8px;
	}
	.section .illustration--high-frequency .illustration__left-element, .section .illustration--high-frequency .illustration__right-element {
	    top: -41px;
	}
	.section .illustration--high-frequency .illustration__right-element {
	    right: 52px;
	}
	.section .illustration--high-frequency .illustration__left-element {
	    left: 52px;
	}
	.p-3 {
		font-size: 12px;
	}
	.p-2 {
		font-size: 14px;
	}
}

.obj-storage-link {
	text-decoration: none;
}


#abuse_or_dmca_note {
	display:none;
}

@media (max-width: 1011px) {
	.section.section--apps-packages {
		padding-top: 100px !important;
	}
}

.storage-calculator {
	display: flex;
	align-items: center;
	background-color:transparent;
	height: 274px;
	width: 100%;
	margin-bottom: 16px;
  }

  .storage-calculator__content {
	position: relative;
	z-index: 3;
	flex: 1;
	padding: 32px 80px 32px 32px;
	width: 100%;
	max-width: 760px;
	margin-left: 25px;
  }

  .storage-calculator__calc {
	display: flex;
	margin-top: 80px;
  }

  .storage-calculator__btn {
	width: 180px;
	overflow: hidden;
	border: none;
	color: #fff;
	background: #007bfc;
	font-size: 19px;
	position:absolute;
	height: 60px;
	border-radius: 3px;
	top: 45%;
	margin-left: 100px;

  }

  .storage-calculator__calc > div {
	color: #142149;
	font-size: 20px;
	max-width: 100%;
	padding-right: 16px;
  }

  .storage-calculator__calc > div .value {
	position: absolute;
	color:  #142149;
	font-size: 36px;
	font-weight: 300;
	margin-left: -20px;
	top: 55%;
  }

  .storage-calculator__calc > div .value-price {
	color: #007bfc;
	font-weight: 500;
  }

  .storage-calculator__calc > div .value .cycle {
	font-size: 24px;
	font-weight: 400;
  }

  .storage-calculator .range-slider {
	position: relative;
	-webkit-user-select: none;
	   -moz-user-select: none;
		-ms-user-select: none;
			user-select: none;
	touch-action: none;
	width: 100%;
  }

  .storage-calculator .range-slider * {
	touch-action: none;
	-webkit-user-select: none;
	   -moz-user-select: none;
		-ms-user-select: none;
			user-select: none;
  }

  .storage-calculator .range-slider[disabled] .range-slider-connect {
	background: #B8B8B8;
  }

  .storage-calculator .range-slider[disabled].range-slider, .storage-calculator .range-slider[disabled].range-slider-handle, .storage-calculator .range-slider[disabled].range-slider-handle {
	cursor: not-allowed;
  }

  .storage-calculator .range-slider__base {
	cursor: pointer;
	z-index: 999;
  }

  .storage-calculator .range-slider__base, .storage-calculator .range-slider__connects {
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 1;
	margin-left: -5px;
  }

  .storage-calculator .range-slider__base:before, .storage-calculator .range-slider__base:after {
	content: '';
	position: absolute;
	top: -1px;
	width: 20px;
	height: 100%;
  }

  .storage-calculator .range-slider__base:before {
	border-top-right-radius: 100px;
	border-bottom-right-radius: 100px;
	right: -16px;
	border-left: none;
  }

  .storage-calculator .range-slider__base:after {
	left: auto;
	border-top-left-radius: 100px;
	border-bottom-left-radius: 100px;
	border-right: none;
  }

  .storage-calculator .range-slider__connects:before {
	content: '';
	position: absolute;
	z-index: 3;
	top: 3px;
	left: -11px;
	width: 16px;
	height: 8px;
	background: #007bfc;
	border-radius: 8px;
  }

  .storage-calculator .range-slider__connect {
	will-change: transform;
	position: absolute;
	z-index: 1;
	left: 3px;
	width: 100%;
	transform-origin: 0 0;
	height: 16px;
	background: linear-gradient(-270deg,#007bfc,#05c1fe);
  }

  .storage-calculator .range-slider__origin {
	will-change: transform;
	position: absolute;
	border-radius: 200px;
	box-shadow: 0 1px 15px rgba(15,24,51,.11);
	z-index: 1;
	top: 0;
	right: 0;
	height: 100%;
	width: 100%;
	transform-origin: 0 0;
	left: auto;
  }

  .storage-calculator .range-slider__handle {
	position: absolute;
	right: -19px;
	left: auto;
	width: 38px;
	height: 32px;
	top: 0;
	bottom: 0;
	margin: auto;
	box-shadow: 0 3px 8px 0px rgba(10, 14, 29, 0.04), 0px 8px 24px 0px rgba(10, 14, 29, 0.08);
	background-color: #007bfc;
	background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyMy45NzkgMTEuOTgiPjxwYXRoIGRhdGEtbmFtZT0iUHJvc3Rva8SFdCAxIGtvcGlhIDQiIGQ9Ik0xNy45ODkgMTEuOThsLTEtMSA0Ljk5LTQuOTktNC45OS00Ljk5MSAxLTEgNS45OSA1Ljk5LTUuOTkgNS45OXptLTEyIDBMMCA1Ljk4OWw1Ljk5LTUuOTkgMSAxTDIgNS45ODlsNC45OSA0Ljk5LTEgMXoiIGZpbGw9IiNmZmYiLz48L3N2Zz4=);
	background-repeat: no-repeat;
	background-position: 50%;
	background-size: 20px 10px;
	border-radius: 3px;
  }

  .storage-calculator .range-slider__handle:hover, .storage-calculator .range-slider__handle:focus, .storage-calculator .range-slider__handle:active {
	outline: none;
	cursor: pointer;
  }

  .storage-calculator .range-slider__state-tap {
	transition: transform 0.3s;
  }

  .storage-calculator .range-slider__state-tap .range-slider-connect,
  .storage-calculator .range-slider__state-tap .range-slider-origin {
	transition: transform 0.3s;
  }

  .storage-calculator .range-slider__state-drag * {
	cursor: inherit !important;
  }

  .storage-calculator .range-slider--horizontal {
	height: 16px;
	margin-left: 16px;
	background-color:transparent;
  }

  .storage-calculator .range-slider__pips {
	display: none;
  }

  .storage-calculator .range-slider__marker {
	display: none;
  }

  .storage-calculator .range-slider__value {
	top: 0;
	position: absolute;
	white-space: nowrap;
	text-align: center;
	font-size: 13px;
	cursor: pointer;
	padding: 8px 0 0;
	transform: translate(-50%, 50%);
	transition: color ease 0.2s;
  }

  .storage-calculator .range-slider__value:before {
	position: absolute;
	top: 0px;
	left: 50%;
	display: block;
	content: "";
	width: 4px;
	height: 4px;
	margin-left: -2px;
	background: transparent;
	border-radius: 100%;
	transition: all ease 0.2s;
  }

  .storage-calculator .range-slider__value.is-active {
	color: #D3D6E2;
  }

  .storage-calculator .range-slider__value.is-active:before {
	background: #D3D6E2;
  }

  .storage-calculator .range-slider__value:hover {
	color: #007bfc;
  }

  .storage-calculator .range-slider-container__top {
	margin-bottom: 16px;
	display: flex;
	justify-content: space-between;
	width: calc(100% + 32px);
	font-size: 17px;
  }

  .storage-calculator .range-slider-container__price {
	color:#D3D6E2;
  }

  .storage-calculator .storage-calculator__calc > div {
	color:#007bfc;
	font-size: 20px;
	font-weight: bold;
	max-width: 100%;
	padding-right: 100px;
  }


  .storage-calculator .sign {
	width: 24px;
	height: 24px;
	border: 1px solid #D3D6E2;
	border-radius: 100px;
	position: relative;
	cursor: pointer;
	transition: all ease-in .15s;
  }

  .storage-calculator .sign:hover,
  .storage-calculator .sign:focus,
  .storage-calculator .sign:active {
	border-color: #007bfc;
  }

  .storage-calculator .sign:after,
  .storage-calculator .sign:before {
	background:#8c8d8d;
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
	width: 10px;
	height: 10px;
  }

  .storage-calculator .sign-minus:after {
	height: 2px;
  }

  .storage-calculator .sign-minus:before {
	display: none;
  }

  .storage-calculator .sign-plus:after {
	height: 2px;
  }

  .storage-calculator .sign-plus:before {
	width: 2px;
  }

  .storage-calculator__calc > div:first-child {
	min-width: 250px;
	padding-left: 20px;
  }

  .storage-calculator__calc .storage-calculator__label {
	  position: absolute;
	  top: 40%;
	  font-size: 20px;
	  font-weight: normal;
	  min-width: 250px;
	  color: #142149;
	  margin-left: -20px;
  }

  .storage-calculator__calc > div .value .sign + * {
	  margin-left: 8px;
	  font-weight: normal;
	  color: #142149;
  }

  .storage-calculator__calc > div .value * + .sign {
	  margin-left: 8px;
  }

  .storage-calculator__input {
	  outline: none;
  }

  .storage-calculator-sm {
	height: 224px;
  }

  .storage-calculator-sm .storage-calculator__content {
	padding: 24px 80px 24px 16px;
  }

  .storage-calculator-sm .storage-calculator__title {
	margin-bottom: 20px;
  }

  .storage-calculator-sm .storage-calculator__calc {
	margin-top: 64px;
  }

  .storage-calculator-sm .storage-calculator__calc > div .value {
	display: flex;
	margin-top: 10px;
	font-size: 36px;
	font-weight: 300;
  }

  .storage-calculator-sm .storage-calculator__calc > div .value-price {
	font-weight: 500;
  }

  .storage-calculator-sm .storage-calculator__calc > div .value .cycle {
	font-size: 24px;
  }

  .storage-calculator-sm .storage-calculator__illustration {
	width: 260px;
	margin-left: auto;
  }

  .storage-calculator-sm .storage-calculator__illustration .svg-container {
	height: 320px;
	min-width: 426px;
  }

  .storage-calculator-sm .storage-calculator__illustration .svg-illustration {
	position: absolute;
	bottom: -50px;
  }

  .storage-calculator-sm .storage-calculator__slider {
	width:700px;

  }

  .storage-calculator--flex {
	height: auto;
	overflow: hidden;
  }

  .storage-calculator--flex .storage-calculator__content {
	padding-top: 20px;
	padding-bottom: 27px;
  }

  .storage-calculator--flex .storage-calculator__slider {
	max-width: 580px;
  }

  .storage-calculator--flex .storage-calculator__slider + .storage-calculator__slider {
	margin-top: 48px;
  }

  .storage-calculator--flex .storage-calculator__illustration {
	top: -58px;
	left: -7px;
	margin-top: 53px;
  }

  .storage-calculator--flex .storage-calculator__calc {
	margin-top: 48px;
	display: flex;
	flex-direction: column;
	font-size: 13px;
	line-height: 18px;
	color: #8a9099;
  }

  .storage-calculator--flex .storage-calculator__price {
	display: flex;
	align-items: flex-end;
  }

  .storage-calculator--flex .storage-calculator__price .value-price {
	font-size: 32px;
	font-weight: 500;
	line-height: 32px;
  }

  .storage-calculator--flex .storage-calculator__price .value + .value {
	font-size: 18px;
	line-height: 18px;
	font-weight: 300;
	color: #8a9099;
	margin-left: 8px;
	margin-bottom: 4px;
  }

  .storage-calculator--flex .range-slider__value.is-active {
	padding-top: 0;
  }

  .storage-calculator--flex .range-slider__value.is-active:before {
	display: none;
  }

  .storage-calculator--flex .range-slider__value:not(.is-active) {
	overflow: hidden;
	text-indent: -500px;
	width: 4px;
  }

  .bs-calculator__content {
    display: flex;
	background: #fff;
	height: 100px;
    box-shadow: 0 4px 32px 0 rgba(10,14,29,.02), 0 8px 64px 0 rgba(10,14,29,.08);
    padding: 24px;
    margin-top: 20px;
    border-radius: 4px;
    justify-content: space-between;
}

.tile--info--nohover {
	padding: 16px !important;
	margin: 25px 0px 0px 0px;
	justify-content: flex-start;
	border: none !important;
	min-height: 200px
}

.tile--category {
    padding: 40px 16px;
}

@media (max-width: 767px){
	.tile--info--nohover{
		margin: 0px;
	}
}

.tile--info--nohover:after {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	content: "";
	z-index: -1;
	transition: box-shadow .3s ease;
	box-shadow: 0 4px 32px 0 rgba(10, 14, 29, .02), 0 8px 64px 0 rgba(10, 14, 29, .08);
	border-radius: 3px
}

@media (max-width: 1011px) {
	.tile--info--nohover:after {
		box-shadow: 0 8px 16px 0 rgba(10, 14, 29, .02), 0 8px 40px 0 rgba(10, 14, 29, .06)
	}
}

.tile--info--nohover .tile__desc, .tile--info--nohover .tile__info, .tile--info--nohover .tile__title, .tile--info--nohover .tile__value {
	transition: transform .3s, opacity .3s
}

.tile--info--nohover .tile__value {
	margin-bottom: 0;
	margin-top: 29px;
	color: #007bfc
}

.tile--info--nohover .tile__title  {
	margin-bottom: 0;
	margin-top: -45px;
	vertical-align: top;
	flex: 1 0 auto
}

.tile--info--nohover .tile__info {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	display: flex;
	align-items: center;
	padding: 32px 16px;
	opacity: 0;
	margin-top: 0;
	transform: translateY(8px);
	text-align: center
}

.tile--info:hover .tile__info {
	opacity: 1;
	transform: translateY(0)
}

.resources__main-docs {
	position: relative;
	padding: 25px
}

.list {
	margin: 0;
	padding: 0;
}

.list--number {
	counter-reset: list-number-counter;
}

.list--boxed {
	background: #fff;
	box-shadow: 0 4px 32px 0 rgba(10, 14, 29, 0.02), 0 8px 64px 0 rgba(10, 14, 29, 0.08);
	padding: 4px 24px;
}

.list--lg li {
    font-size: 19px;
    line-height: 28px;
    padding: 4px 0 4px 32px;
}

.list .list__item {
    padding: 4px 0;
}

.list--number .list__item:before {
    content: counter(list-number-counter) ".";
    color: #007bfc;
    position: absolute;
    left: 24px;
}

.list--lg .list__item {
    margin-bottom: 13px;
}

.list--boxed .list__item {
    padding: 22px 24px;
    margin: 0;
}

.list--number .list__item {
    counter-increment: list-number-counter;
    position: relative;
    padding-left: 56px;
}

.list--boxed .list__item:not(:last-of-type) {
    border-bottom: 1px solid #edeef2;
}

.widget__media {
    flex: 1;
    position: relative;
    overflow: hidden;
    margin-bottom: -1px;
    background: #f3f4f7;
    text-align: center;
}

.widget__header, .widget__top, .widget__body, .widget__actions {
    border-width: 1px;
    border-style: solid;
}

.widget__header, .widget__top, .widget__body, .widget__actions, .widget__media {
    border-color: #e6e7eb;
}

.widget__content {
    flex-grow: 1;
    padding: 16px;
}

.widget--last-post .widget__body, .widget--last-post .widget__media {
    border: none;
}

.widget--last-post .widget__content {
    padding: 32px;
}

.widget--last-post .widget__media img {
    object-fit: cover;
    object-position: center center;
    width: 100%;
}

.widget__media > img {
    max-height: 100%;
    max-width: 100%;
}

.feature__icon-image-cont {
	height:220px !important;
}
.feature__icon-image,
.feature__icon-image svg {
	max-width:250px !important;
	max-height:200px !important;
}

/* API v2 announcement banner & search bar */
.top__content {
    flex-direction: column;
}

.resources__header .top__announcement {
    box-shadow: 0 4px 32px 0 rgba(10, 14, 29, 0.02), 0 8px 64px 0 rgba(10, 14, 29, 0.08);
    margin-top: 41px;
    padding: 17px 25px 15px 25px;
    border-left: 3px solid #007bfc;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.resources__header .top__announcement .announcement {
    margin: 0;
}

.resources__header .top__announcement .announcement__tag {
    font-weight: 500;
    color: #007bfc;
}

.resources__sidebar-search {
    margin-left: 0;
    width: 100%;
    border: 1px solid #e6e7eb;
    margin-bottom: 19px;
}

.resources__sidebar-search .input-group {
    border: 0;
    height: 40px;
    border-radius: 0;
}

.resources__sidebar-search .input-group,
.resources__sidebar-search .form-control,
.resources__sidebar-search .form-indicator {
    color: #525666;
    border: 1px solid #D3D6E2;
    background-color: #ffffff;
    box-shadow: none;
}

.resources__sidebar-search .input-group__icon {
    margin-left: 8px;
}

.resources__sidebar-search .input-group .form-control {
    padding-left: 8px;
    font-size: 14px;
}

.resources__sidebar-search .input-group .form-control::-webkit-input-placeholder,
.resources__sidebar-search .input-group .form-control::-moz-placeholder,
.resources__sidebar-search .input-group .form-control:-ms-input-placeholder,
.resources__sidebar-search .input-group .form-control:-moz-placeholder {
  font-size: 14px;
}

.resources__sidebar-search .resources__sidebar {
    border-right: 1px solid #e6e7eb;
    min-width: 320px;
    width: 320px;
    display: flex;
}

@media (max-width: 1231px) {
	.resources__sidebar-search .resources__sidebar {
	    min-width: 250px;
	    width: 250px;
	}
}


@media (min-width: 1012px)
{
	.resources__sidebar-scrollbar {
	    position: relative;
	    max-height: calc(100vh - 56px);
	    padding: 30px 26px 40px 56px;
	    margin-left: -56px;
	}

	.resources__sidebar + .resources__content > .resources__header--api {
	    padding-right: 0;
	}
}

.resources__sidebar-search .ps {
    overflow: hidden!important;
    overflow-anchor: none;
    -ms-overflow-style: none;
    touch-action: auto;
    -ms-touch-action: auto;
}

.resources__sidebar-sticky.is-sticky .resources__sidebar-search {
    margin-top: 19px;
}

/* New! v2 banner preview link */
.resources__navbar-link {
    display: flex;
    font-size: 15px;
    font-weight: 500;
    align-items: center;
    margin-left: auto;
    justify-content: flex-end;
}

.resources__navbar-link .link__label {
    position: relative;
    height: 22px;
    display: flex;
    align-items: center;
    font-size: 11px;
    padding: 7px 8px 6px 8px;
    color: #007bfc;
    background-color: rgba(0, 123, 252, 0.16);
    margin-right: 10px;
}

.resources__navbar-link .link__label::after {
    content: '';
    display: block;
    position: absolute;
    right: -6px;
    width: 0;
    top: 50%;
    height: 0;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    border-top: 4px solid rgba(0, 123, 252, 0.16);
    transform: translateY(-50%) rotate(-90deg);
}

.resources__navbar-link .link__link {
    display: flex;
    align-items: center;
}

@media (max-width: 775px){
	.resources__navbar-link {
	    padding-bottom: 10px;
	    float: left;
	}
}

@media (max-width: 375px){
	.resources__navbar-link {
	    float: right;
	    padding-bottom: 10px;
	   	padding-right: 15px;
	}
}

@media (max-width: 775px) and (min-width: 600px){
	.resources__navbar-link {
		position: absolute;
	    right: 48px;
	    top: 15px;
	}
}


/* API Integration dropdown on status.vultr.com*/
.box--api-integration {
    background-color: transparent;
    box-shadow: none;
}

.box--api-integration .box__content {
    padding: 40px 0 0;
}

.box--api-integration .api-integration {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box--api-integration .api-integration__button.collapsed {
    box-shadow: none !important;
}
.box--api-integration .api-integration__button {
    font-size: 15px;
    padding: 8px 24px;
    cursor: pointer;
    box-shadow: 0 4px 32px 0 rgba(10, 14, 29, 0.02), 0 8px 64px 0 rgba(10, 14, 29, 0.08);
    border-radius: 10px 10px 0 0;
    transition: linear 0.2s;
    font-weight: 500;
}

.box--api-integration .api-integration__arrow {
    margin-left: 10px;
    font-size: 26px;
}

.box--api-integration .api-integration__button.collapsed .api-integration__arrow i::before {
    transition: linear 0.2s;
    transform: rotate(0);
    position: relative;
    top: 3px;
}

.box--api-integration .api-integration__arrow i::before {
    position: relative;
    top: 5px;
    transition: linear 0.2s;
    transform: rotate(180deg);
}

.box--api-integration .box {
    width: 100%;
}

.box--api-integration .api-integration .box__content {
    padding: 20px 24px 8px;
}

.box--api-integration .api-integration .box__content .section {
    padding: 0;
    border: none;
}

.type-7 {
    font-size: 16px !important;
    font-weight: 500 !important;
    line-height: 36px !important;
}

.box--api-integration .api-integration .box__content .section .type-7 {
    margin-top: 14px;
    margin-bottom: 8px;
}

.box--api-integration .api-integration .box__content .section__text {
    border: 1px solid #EBEBEB;
    padding: 16px;
    margin-top: 10px;
    margin-bottom: 16px;
    background-color: #fff;
}

.box--api-integration .api-integration .box__content .section__code {
    background-color: #fff;
    color: #525666;
    font-size: 14px;
    line-height: 20px;
}

.box--api-integration .api-integration .box__content .section .input-group i svg path {
    fill: #8692B0;
}

[tabindex="0"]:focus{outline:0!important};

.application__title {
    margin-top: 15px;
}

span.application__hover {
    padding-top: 15px;
    padding-bottom: 20px;
}

.resources__sidebar-contact .btn {
    height: auto;
    text-decoration: none;
    padding-left: 8px;
    font-size: 15px;
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}

.site-navbar .nav--main-menu > .nav__item {
	margin-left: 11px;
}

@media (max-width: 1012px) {
	.site-navbar .nav--main-menu > .nav__item {
		margin-left: 0;
	}
}

.site-navbar .nav>.nav__item.has-dropdown .nav__dropdown:before {
    content: "";
    background: transparent;
    z-index: -1;
    position: absolute;
    top: -36px;
    height: 36px;
    width: 100%;
    display: block;
}

.nav > .nav__item--language .nav__dropdown > .nav__sub > .nav__item {
	min-height: unset;
	border-bottom: 0;
}
.nav > .nav__item--language .nav__dropdown > .nav__sub > .nav__item .nav__link {
	padding: 4px 22px;
}
.nav > .nav__item--language .nav__dropdown > .nav__sub > .nav__item .nav__link .nav__item-title {
	margin-bottom: 0;
	font-size: 15px;
	font-weight: 400;
}
.nav > .nav__item--language .nav__dropdown > .nav__sub > .nav__item .nav__link .nav__item-content {
	margin-left: 0;
}
.nav > .nav__item--language .nav__dropdown > .nav__sub > .nav__item .nav__link:hover .nav__item-title {
	color: #007bfc;
}
.nav > .nav__item--language .nav__dropdown > .nav__sub > .nav__item:not(:nth-last-of-type(1)) {
	margin-bottom: 8px;
}
.nav > .nav__item--language .nav__dropdown:after {
	right: 12px !important;
	left: unset !important;
}

.site-navbar .navbar__burger:after {
	bottom: -22px !important;
	right: 2px !important;
}

@media (min-width: 1232px) {
	.team-member__photo img {
		margin-top: unset;
	}

	.team-member__photo {
		flex-direction: unset;
	}
}

@media (min-width:1230px) {
	.is-hidden-lg-up-nav {
		display:none!important
	}
}

.storage-calculator__btn {
    white-space: pre-wrap;
}

.list-group--collapse .list-group__content p+.btn {
    white-space: pre-wrap;
}

@media (max-width: 751px){
	.feature--apps.mob-feature--icon-left .feature__icon {
		height: 80px !important;
	}

	.mob-feature--icon-left-marketplace {
		flex-direction: column;
	}
}

@media (min-width: 1012px) and (max-width: 1231px) {
	.site-navbar .nav>.nav__item {
		margin-left: 12px;
	}

	.site-navbar .nav>.nav__item>.nav__link {
		padding-left: 8px;
		padding-right: 8px;
	}
}

@media (min-width: 752px) and (max-width: 1231px) {
	.site-navbar .container {
		flex-flow: row nowrap!important;
	}
}

@media (max-width: 751px) {
	.feature__icon-marketplace {
		padding: 24px 0 24px 16px;
		min-width: unset;
		width: auto;
		height: auto;
		display: block!important;
	}

	.feature--apps.mob-feature--icon-left .feature__icon img {
		max-height: 85px!important;
		padding-top: 10px;
	}
}

.banner-marketplace {
	margin-bottom: -450px!important;
}

@media (max-width: 751px) {
	.banner-marketplace {
		margin-bottom: -256px!important;
	}
}
@media (max-width: 1011px){
	.banner-marketplace {
		margin-bottom: -232px!important;
	}
}

.marketplace_spacing {
	margin-bottom: 50px;
}

.partners-testimonials__comment .partner__quote:first-child svg {
    transform: rotate(180deg);
}

.banner__background>svg {
    bottom: -1px;
}
.footer__socials img {
	width: 27px;
    height: auto;
    opacity: .5;
    transition: opacity .3s ease;
}

.footer__socials a+a {
    margin-left: 22px;
}

.no-text-dec {
	text-decoration: none
}

.feature--vote {
	background-color: transparent;
	text-align: left
}

.feature--vote .feature__title {
	font-weight: 600;
	color: #142149;
	font-size: 15px
}

.feature--vote .feature__desc {
	color: #142149;
	font-weight: 400;
	font-size: 15px;
	line-height: 22px
}

.feature--vote .feature__actions {
	justify-content: flex-start;
	margin: 0 0 4px -16px
}

.feature--vote .feature__body {
	padding: 20px 24px 16px
}

.feature--vote .btn--vote {
	height: auto;
	padding: 8px 16px;
	color: #8692b0
}

.feature--vote .btn--vote i {
	font-size: 22px
}

.feature--vote:hover {
	border: 1px solid #e6e6eb
}

input.checkboxtoggleyesno {
	display: none
}

input.checkboxtoggleyesno+label {
	position: relative;
	bottom: 1px;
	width: 110px;
	height: 24px;
	line-height: 22px;
	padding: 2px 14px;
	border-radius: 12px;
	margin: 8px 0;
	cursor: pointer;
	font-size: 10px;
	text-align: right;
	color: hsla(0, 0%, 100%, .48);
	background-color: #007bfc;
	transition: all .3s ease
}

input.checkboxtoggleyesno+label:before {
	content: "DARK";
	color: #fff;
	font-weight: 700
}

input.checkboxtoggleyesno+label:after {
	width: 50px;
	content: "LIGHT";
	font-weight: 700;
	text-align: center;
	color: #000;
	display: block;
	position: absolute;
	left: 3px;
	top: 3px;
	height: 18px;
	border-radius: 9px;
	background-color: hsla(0, 0%, 100%, .9);
	transition: all .3s ease
}

input.checkboxtoggleyesno:checked+label {
	background-color: #000;
	color: #fff;
	text-align: left
}

input.checkboxtoggleyesno:checked+label:after {
	background-color: #525666
}

input.checkboxtoggleyesno:checked+label:before {
	content: "LIGHT";
	font-weight: 700
}

input.checkboxtoggleyesno:checked+label:after {
	left: 57px;
	width: 50px;
	content: "DARK";
	text-align: center;
	font-weight: 700;
	color: #fff
}

@media (max-width: 1011px) {
	.search_mobile {
		width: auto;
		border-width: 1px;
		margin-top: 20px;
		margin-right: 25px;
		display: block;
		border: 1px solid #e6e7eb;
		margin: 20px !important
	}
}

@media (min-width: 1012px) {
	.search_mobile {
		display: none;
	}
}

.search_mobile .input-group__icon svg:last-child {
	display: none;
}

.search_mobile .input-group {
	border: 0;
	border-radius: 0;
}

@media (max-width: 1011px) {
	.search_nonmobile {
		display: none;
	}
}

@media(min-width: 1012px) {
	.search_nonmobile {
		display: block;
	}
}

.feature--vote .feature__content .feature__comment {
	border-color: #44464a;
}

.feature--vote .feature__content .feature__comment textarea {
	background: transparent;
	color: #142149;
}

.feature--vote .feature__content .feature__actions {
	border-color: #44464a;
}

.feature--vote {
	background-color: transparent;
	text-align: left;
}

.feature--vote .feature__title {
	padding: 0 24px;
	font-weight: 600;
	color: #142149;
	font-size: 15px;
}

.feature--vote .feature__body .feature__content {
	display: none;
}

.feature--vote .feature__body .feature__content--vote {
	display: block;
	padding-bottom: 16px;
}

.feature--vote .feature__body .feature__content--vote .feature__actions {
	border: 0;
	padding-left: 24px;
	padding: 12px 0 13px 24px;
	margin: 0 0 0 -16px;
}

.feature--vote .feature__body .feature__content--vote .feature__actions .btn {
	height: auto;
	padding: 0px 16px;
	color: #8692b0;
}

.feature--vote .feature__body .feature__content--vote .feature__actions .btn:hover,
.feature--vote .feature__body .feature__content--vote .feature__actions .btn:focus,
.feature--vote .feature__body .feature__content--vote .feature__actions .btn:active {
	color: #007bfc;
}

.feature--vote .feature__body .feature__content--comment-vote.is-active>.feature__desc,
.feature--vote .feature__body .feature__content--comment-send.is-active>.feature__desc {
	padding: 12px 0 13px 24px;
}

.feature--vote .feature__body .feature__content--comment-vote.is-active>.feature__desc>.text-succes,
.feature--vote .feature__body .feature__content--comment-send.is-active>.feature__desc>.text-succes {
	margin-bottom: 0;
}

.feature--vote .feature__body .feature__content--comment-send .feature__actions {
	padding: 10px 24px;
}

.feature--vote .feature__body .feature__content--comment-send .feature__actions>p {
	font-size: 14px;
	justify-content: space-between;
	width: 100%;
}

.feature--vote .feature__desc {
	color: #142149;
	font-weight: 400;
	font-size: 15px;
	line-height: 22px;
	padding: 0 24px;
	margin-bottom: 0;
}

.feature--vote .feature__actions {
	justify-content: flex-start;
	padding: 0 24px;
}

.feature--vote .feature__body {
	padding: 20px 0 0px;
}

.feature--vote .btn--vote {
	height: auto;
	padding: 8px 16px;
	color: #8692b0;
}

.feature--vote .btn--vote.active {
	color: #007bfc;
}

.feature--vote i {
	font-size: 22px;
}

.feature--vote:hover {
	border: 1px solid #e6e6eb;
}

@media only screen and (min-width: 1231px) {
	.feature--vote .feature__content p {
		display: flex;
		align-items: center;
	}
}

@media only screen and (max-width: 1231px) {
	.feature--vote .feature__content p {
		display: block;
		align-items: center;
	}
}

.feature--vote .feature__content p i {
	margin-right: 8px;
}

.feature--vote .feature__content .feature__comment {
	border-top: 1px solid #e6e6eb;
	width: 100%;
	display: flex;
	flex-direction: column;
	height: 48px;
	overflow: hidden;
}

.feature--vote .feature__content .feature__comment textarea {
	display: flex;
	min-height: 49px;
	flex-grow: 1;
	padding: 8px 24px 0;
}

.feature--vote .feature__content .feature__comment.active {
	max-height: 168px;
}

.feature--vote .feature__content .feature__comment.active textarea {
	height: 168px;
}

.feature--vote .feature__content .feature__actions {
	padding: 0 24px;
	border-top: 1px solid #e6e6eb;
	margin: 0;
}

.feature--vote .feature__content .feature__actions .btn {
	padding: 0;
	font-size: 14px;
}

.feature--vote .feature__content.feature--vote-submit .feature__actions {
	padding: 10px 24px;
}

.feature--vote .feature__content.feature--vote-submit .feature__actions p {
	font-size: 14px;
	justify-content: space-between;
	width: 100%;
}

textarea {
	border: 0;
	outline: 0;
	resize: none;
	width: 100%;
	overflow: hidden;
}

textarea:focus,
textarea:active {
	outline: 0;
}

textarea::-webkit-input-placeholder {
	font-size: 14px;
	font-weight: 400;
}

textarea:-moz-placeholder {
	font-size: 14px;
	font-weight: 400;
}

textarea::-moz-placeholder {
	font-size: 14px;
	font-weight: 400;
}

textarea:-ms-input-placeholder {
	font-size: 14px;
	font-weight: 400;
}

textarea::placeholder {
	font-size: 14px;
	font-weight: 400;
}

@media (min-width:400px) {
	table.faq-cpanel-pricing-table {
		font-size: 14px;
		border: 1px solid #e6e8eb;
		border-spacing: 0;
		border-collapse: collapse;
		width: 100%;
		word-wrap: break-word
	}

	td.faq-cpanel-pricing-table {
		padding: 8px 16px;
		border: 1px solid #e6e8eb;
		color: #2b3033;
		font-size: 15px
	}

	td.faq-cpanel-pricing-table-header {
		padding: 8px 16px;
		border: 1px solid #e6e8eb;
		color: #2b3033;
		font-weight: 700;
		font-size: 15px
	}
}

@media (max-width:400px) {
	table.faq-cpanel-pricing-table {
		transform: scale(.7);
		margin-left: -50px;
		font-size: 14px;
		border: 1px solid #e6e8eb;
		border-spacing: 0;
		border-collapse: collapse;
		width: 100%;
		word-wrap: break-word
	}

	td.faq-cpanel-pricing-table {
		padding: 8px 16px;
		border: 1px solid #e6e8eb;
		color: #2b3033;
		font-size: 15px
	}

	td.faq-cpanel-pricing-table-header {
		padding: 8px 16px;
		border: 1px solid #e6e8eb;
		color: #2b3033;
		font-weight: 700;
		font-size: 15px
	}
}

.resources__navbar.is-sticky .resources__navbar-search .input-group,
.search_nonmobile .input-group {
	border: none
}

.resources__navbar-search,
.search_nonmobile {
	margin-left: auto;
	width: 380px;
	border: 1px solid #e6e7eb;
	border-width: 0 1px
}

.resources__navbar-search .input-group,
.search_nonmobile .input-group {
	border: 0;
	border-radius: 0
}

.resources__navbar-search .input-group:hover,
.search_nonmobile .input-group:hover {
	border: 0
}

.resources__navbar-search .input-group__icon svg:last-child,
.search_nonmobile .input-group svg:last-child {
	display: none
}

@media (max-width:1011px) {
	.resources__navbar-search .input-group__icon,
	.search_nonmobile .input-group__icon {
		margin-left: auto;
		margin-right: 0;
		color: #8692b0
	}
}

@media (max-width: 1011px){
.resources__sidebar_faqs {
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    width: 100%;
    height: 100%;
    z-index: 100;
    background: #fff;
    border-right: 0;
    box-shadow: none;
    transition: transform .3s;
	}
}

@media (max-width: 1230px) {
	.btn--outline.btn--light-overlay {
		color: #007bfc !important;
		border-color: #007bfc !important;
	}

	.btn--outline.btn--light-overlay:hover {
		background: #51b9ff;
	}
}

.site-navbar .navbar__top .navbar__msg-text {
    font-size: 14px;
}

.nav_marketplace {
	padding-top: 116px;
	background: var(--docs-navbar);
}

@media (max-width:1011px) {
	.nav_marketplace {
		padding-top: 130px;
	}
}

@media (max-width:751px) {
	.nav_marketplace {
		padding-top: 150px;
	}
}

@media (max-width:333px) {
	.nav_marketplace {
		padding-top: 170px;
	}
}

/* MARKETPLACE CATEGORIES: BEGIN */

/* BREADCRUBS: BEGIN */
.site-sub-navbar {
	z-index: 99;
	top: 120px;
	min-height: 56px;
	border: 1px solid rgba(233, 236, 245, 0.16);
	display: flex;
	align-items: center;
	position: relative;
}
.site-sub-navbar > .container {
	display: flex;
	justify-content: space-between;
	height: 54px;
}
.site-sub-navbar.is-sticky .marketplace__navbar-inner {
	box-shadow: 0 2px 15px -1px rgba(30, 45, 70, 0.15);
	z-index: 100;
	position: fixed;
	top: 0;
}
.site-sub-navbar.is-sticky .marketplace__brand {
	width: 152px;
	transform: translateX(0);
	display: flex;
	margin-right: 28px;
}
.site-sub-navbar.is-sticky .marketplace__navbar-search {
	display: block !important;
}
.site-sub-navbar.is-sticky .marketplace__navbar-search .input-group {
	border: none;
}
.site-sub-navbar.is-sticky .marketplace__navbar-search .input-group::placeholder {
	line-height: 56px;
}
.site-sub-navbar__links {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-left: auto;
}
.site-sub-navbar__links ul {
	margin-bottom: 0;
	display: flex;
	flex-direction: row;
}
.site-sub-navbar__links ul li {
	display: inline-flex;
	margin-right: 42px;
}
.site-sub-navbar__links ul li:last-child {
	margin-right: 0;
}
.site-sub-navbar__links ul li a {
	color: #e5ebff;
	font-weight: 500;
	font-size: 15px;
}
.site-sub-navbar__links ul li a:hover {
	color: #007bfc;
}
.site-sub-navbar__switcher {
	display: flex;
	align-items: center;
	margin-left: auto;
}
.site-sub-navbar__switcher label {
	margin-bottom: 0;
}
.site-sub-navbar .breadcrumb__link {
	display: flex;
	align-items: center;
}
.site-sub-navbar .breadcrumb__link:not(:hover) {
	color: #525666;
}
.site-sub-navbar .breadcrumb__caret {
	margin-left: 8px;
}
.site-sub-navbar .breadcrumb__item {
	display: inline-flex;
	align-items: stretch;
	height: 100%;
}
.site-sub-navbar .breadcrumb__item a {
	opacity: 1;
}
.site-sub-navbar .breadcrumb__item.is-active .breadcrumb__link {
	color: #e5ebff;
}
.site-sub-navbar .breadcrumb__item:not(.is-active) .breadcrumb__link:not(:hover) {
	color: rgba(229, 235, 255, 0.56);
}
.site-sub-navbar .breadcrumb__item:before {
	display: none;
}
.site-sub-navbar .breadcrumb__item.is-active {
	font-weight: 500;
}
.site-sub-navbar .breadcrumb__item.is-active a.breadcrumb__link.drop-enabled,
.site-sub-navbar .breadcrumb__item.is-active a.breadcrumb__link:hover {
	color: #007bfc;
}
.site-sub-navbar .breadcrumb__item.is-active a.breadcrumb__link.drop-enabled .stroke {
	stroke: #007bfc;
}
.site-sub-navbar .breadcrumb__icon {
	display: inline-flex;
	align-items: center;
	margin: 0 8px;
}
.site-sub-navbar__search {
	width: 313px;
	margin-left: 0;
	border: transparent;
}
.site-sub-navbar__search .input-group {
	border-radius: 0;
	border: 1px solid rgba(233, 236, 245, 0.16);
	border-top: transparent;
	border-bottom: transparent;
	background: transparent;
}
.site-sub-navbar__search .input-group .form-control {
	color: #fff;
}
.site-sub-navbar__search .input-group .form-control::placeholder {
	color: rgba(229, 235, 255, 0.48);
	opacity: 1;
	font-size: 15px;
	line-height: 56px;
	font-weight: 400;
}
.site-sub-navbar__search .input-group i {
	color: #fff;
}
.site-sub-navbar__search .input-group svg circle,
.site-sub-navbar__search .input-group svg path {
	stroke: #fff;
}
.site-sub-navbar__search .input-group:hover {
	border-color: rgba(233, 236, 245, 0.16);
	border-top: 0;
	border-bottom: 0;
}
.site-sub-navbar__search .input-group.is-focus .input-group__icon svg:first-of-type,
.site-sub-navbar__search .input-group:not(.is-focus) .input-group__icon svg:last-of-type {
	display: none;
}
.site-sub-navbar i.breadcrumb__icon {
	display: inline-flex;
	align-items: center;
}
.site-sub-navbar i.breadcrumb__icon path {
	fill: rgba(229, 235, 255, 0.32);
}
.site-sub-navbar:not(.subnavbar--static-search) .subnavbar-search {
	display: none;
}
@media (max-width: 1011px) {
	.site-sub-navbar__search .input-group {
		border-left: 0 !important;
		border-right: 0 !important;
	}
	.site-sub-navbar__search .input-group__icon svg:first-child {
		display: block !important;
	}
	.site-sub-navbar__search .input-group__icon svg:last-child {
		display: none !important;
	}
	.site-sub-navbar__search input {
		display: none;
	}
	.site-sub-navbar__search i {
		margin-left: auto;
	}
	.site-sub-navbar.search-is-open .site-sub-navbar__nav {
		display: none;
	}
	.site-sub-navbar.search-is-open .site-sub-navbar__search {
		width: 100%;
	}
	.site-sub-navbar.search-is-open .site-sub-navbar__search .input-group {
		border-left: 1px solid rgba(233, 236, 245, 0.16) !important;
		border-right: 1px solid rgba(233, 236, 245, 0.16) !important;
	}
	.site-sub-navbar.search-is-open .site-sub-navbar__search .input-group__icon svg:first-child {
		display: none !important;
	}
	.site-sub-navbar.search-is-open .site-sub-navbar__search .input-group__icon svg:last-child {
		display: block !important;
	}
	.site-sub-navbar.search-is-open .site-sub-navbar__search input {
		display: block;
	}
	.site-sub-navbar.search-is-open .site-sub-navbar__search i {
		margin-left: 0;
	}
}
@media (max-width: 751px) {
	.site-sub-navbar {
		top: 135px;
	}
}
/* BREADCRUBS: END */

/* HEADER: BEGIN */
.banner.banner--marketplace {
	z-index: 0;
}
.banner.banner--marketplace .banner__background {
	top: -25px;
	z-index: -1;
}
.banner.banner--marketplace .banner__content .product-features {
	max-width: 800px;
	margin: 46px auto auto;
}
.banner.banner--marketplace .banner__content .product-features__list {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.banner.banner--marketplace .banner__content .product-features__list-item {
	color: #c8cee8;
	position: relative;
	margin: auto;
}
.banner.banner--marketplace .banner__content .product-features__list-item:first-child {
	margin-left: 0;
}
.banner.banner--marketplace .banner__content .product-features__list-item:last-child {
	margin-right: 0;
}
.banner.banner--marketplace .banner__content .product-features__list-item span {
	color: #fff;
}
.banner--marketplace-categories .banner__background {
	top: 0;
}
.product-features__list-item-separator {
	color: hsla(0, 0%, 100%, 0.24) !important;
	font-size: 26px !important;
}

@media (min-width: 1012px) {
	.banner.banner--marketplace .banner__background {
		top: -23px;
	}
	.banner.banner--marketplace .banner__actions .btn {
		min-width: 230px;
	}
	.banner.banner--marketplace:not(.banner--marketplace-categories) {
		margin-bottom: -436px;
	}
	.banner.banner--marketplace-categories {
		margin-bottom: -475px;
	}
}

@media (max-width: 751px) {
	.banner.banner--marketplace .banner__content .product-features__list {
		flex-direction: row;
		flex-wrap: wrap;
	}
	.banner.banner--marketplace .banner__content .product-features__list-item {
		margin: 0;
		display: block;
		width: 100%;
		padding-right: 0px;
		text-align: left;
	}
	.banner.banner--marketplace .banner__content .product-features__list-item:after {
		display: none;
	}
	.banner.banner--marketplace .banner__content .product-features__list-item:nth-child(2n) {
		padding-left: 0px;
	}
	.banner.banner--marketplace .banner__content .product-features__list-item:nth-child(2n):after {
		display: block;
		left: 0;
		top: 0;
		height: 24px;
	}
	.product-features__list-item-separator {
		display: none !important;
	}
}
/* HEADER: END */

/* PARENT CONTAINER: BEGIN */
.marketplace .tab-pane {
	padding-top: 120px;
	max-width: 750px;
	margin: 0 auto;
}

.marketplace + .section {
	border: none;
	border-top: 1px solid #edeef2;
}

@media (min-width: 1012px) {
	.marketplace .marketplace__categories-dropdown,
	.marketplace__burger {
		display: none;
	}
}

@media (max-width: 1011px) {
	.marketplace > .container {
		flex-direction: column;
	}
}

@media (max-width: 751px) {
	.marketplace .tab-pane {
		padding-top: 80px;
	}
}
/* PARENT CONTAINER: END */


/* MAIN CONTAINER: BEGIN */
.marketplace__main {
	display: flex;
}

@media (max-width: 1011px) {
	.marketplace__main {
		position: relative;
	}
}
/* MAIN CONTAINER: END */


/* CATEGORIES MOBILE DROPDOWN CONTAINER: BEGIN */
.marketplace__categories-dropdown {
	display: flex;
	flex-direction: column;
	align-content: center;
	text-align: center;
	z-index: 99;
	background: #fff;
	border-radius: 4px;
	margin-bottom: 24px;
	padding: 16px 16px 16px 50px;
	position: relative;
	cursor: pointer;
}
.marketplace__categories-dropdown:before {
	content: "";
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	box-shadow: 0 4px 32px 0 rgba(10, 14, 29, 0.02), 0 8px 64px 0 rgba(10, 14, 29, 0.08);
	z-index: -1;
}
.marketplace__categories-dropdown i.zmdi-apps {
	position: absolute;
	color: #007bfc;
	font-size: 24px;
	left: 16px;
}
.marketplace__categories-dropdown .dropdown-toggle {
	color: #192936 !important;
	font-weight: 500;
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.marketplace__categories-dropdown .dropdown-toggle i svg {
	margin-left: auto;
	padding-top: 4px;
}
/* CATEGORIES MOBILE DROPDOWN CONTAINER: END */


/* CATEGORIES MOBILE DROPDOWN MENU: BEGIN */
.dropdown.dropdown--marketplace {
	display: flex;
	flex-direction: row;
	position: absolute;
	top: 16px;
	width: 100vw;
}
.dropdown.dropdown--marketplace .dropdown__content {
	text-align: left;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	max-height: 400px;
	overflow-y: scroll;
	padding-top: 8px;
	padding-bottom: 8px;
	margin-bottom: 0;
	background: #fff;
	border-radius: 4px;
	width: 100%;
}
.dropdown.dropdown--marketplace .dropdown__content .dropdown__item {
	min-height: 38px;
}
.dropdown.dropdown--marketplace .dropdown__content .dropdown__item.active {
	background: rgba(0, 123, 252, 0.16);
}
.dropdown.dropdown--marketplace .dropdown__content .dropdown__item.active .dropdown__link {
	color: #007bfc;
}
.dropdown.dropdown--marketplace .dropdown__content li {
	width: 100%;
}
/* CATEGORIES MOBILE DROPDOWN MENU: END */


/* SIDEBAR CONTAINER: BEGIN */
.marketplace__sidebar {
	margin-bottom: 88px;
	min-width: 320px;
	width: 320px;
	display: flex;
}

.marketplace__sidebar .nav__item {
	min-height: 40px;
}

@media (max-width: 1231px) {
	.marketplace__sidebar {
		min-width: 250px;
		width: 250px;
	}
}

@media (max-width: 1011px) {
	.marketplace__sidebar {
		padding: 0;
		position: fixed;
		top: 0;
		left: 0;
		transform: translateX(-100%);
		width: 100%;
		height: 100%;
		z-index: 100;
		background: #fff;
		border-right: 0;
		box-shadow: none;
		transition: transform 0.3s;
	}
	 .marketplace__sidebar .inner-wrapper-sticky {
		position: relative !important;
		transform: none !important;
		top: auto !important;
		left: auto !important;
		width: auto !important;
	}
	.marketplace__sidebar .nav.is-sticky {
		position: fixed;
	}
	 .marketplace__sidebar > :first-child {
		padding-left: 0 !important;
	}
}
/* SIDEBAR CONTAINER: END */


/* SIDEBAR INNER CONTAINER: BEGIN */
.marketplace__sidebar-inner {
	width: 100%;
	z-index: 99;
}
.marketplace__sidebar-inner .marketplace__sidebar-nav {
	background: #fff;
	border-radius: 4px;
	padding: 30px;
}

@media (max-width: 1011px) {
	.marketplace__sidebar-inner {
		padding: 0;
		overflow: auto;
		margin-top: 0;
		margin-bottom: 0;
	}
}
/* SIDEBAR INNER CONTAINER: END */


/* SIDEBAR STICKY CONTAINER: BEGIN */
@media (max-width: 1011px) {
	.marketplace__sidebar-sticky {
		width: 100%;
		height: auto;
		position: static !important;
		padding: 0 24px 40px;
	}
}
/* SIDEBAR STICKY CONTAINER: END */


/* SIDEBAR SCROLL CONTAINER: BEGIN */
.marketplace__sidebar-scrollbar {
	padding-right: 12px;
	border-radius: 4px;
	overflow: visible !important;
	padding-top: 0;
	padding-bottom: 24px;
}

.marketplace__sidebar-scrollbar .btn--link {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	display: inline-block;
}

@media (min-width: 1012px) {
	.marketplace__sidebar-scrollbar {
		position: relative;
		padding: 0 12px 24px 56px;
		margin-left: -56px;
	}
	.marketplace__sidebar-scrollbar .nav.nav--boxed {
		overflow: visible !important;
	}
	.marketplace__sidebar-scrollbar--author {
		min-width: 319px;
		position: sticky;
		top: 0;
		margin-left: 0;
	}
}

@media (max-width: 1011px) {
	.marketplace__sidebar-scrollbar {
		overflow: visible !important;
	}
}
/* SIDEBAR SCROLL CONTAINER: END */


/* SIDEBAR NAV: BEGIN */
.marketplace__sidebar-nav {
	background-color: #fff;
	border-radius: 4px;
	padding: 30px;
	position: relative;
}
.marketplace__sidebar-nav:before {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	content: "";
	z-index: -1;
	box-shadow: 0 4px 32px 0 rgba(10, 14, 29, 0.02), 0 8px 64px 0 rgba(10, 14, 29, 0.08);
}
.marketplace__sidebar-nav .nav__item {
	transition: background 0.24s ease, padding 0.24s ease;
}
.marketplace__sidebar-nav .nav__item.active {
	padding-left: 16px;
	background: rgba(0, 123, 252, 0.16);
}
.marketplace__sidebar-nav .nav__item.active .nav__link {
	color: #007bfc;
}
.marketplace__sidebar-nav .nav__item:hover {
	color: #007bfc;
	padding-left: 16px;
}
.marketplace__sidebar-nav .nav__item .nav__link {
	font-weight: 400;
	padding-left: 0;
	padding-right: 0;
}
/* SIDEBAR NAV: END */


/* APPS CONATINER: BEGIN */
.marketplace__content {
	flex: 1 1 auto;
	position: relative;
	max-width: calc(100% - 320px);
	padding-left: 12px;
	margin: 0 auto 88px;
	z-index: 2;
}

@media (max-width: 1231px) {
	.marketplace__content {
		max-width: calc(100% - 250px);
	}
}

@media (max-width: 1011px) {
	.marketplace__content {
		padding-left: 0;
		max-width: 100%;
	}
	.marketplace__content > .marketplace__header,
	.marketplace__content > .marketplace__section {
		padding-left: 0;
	}
}
/* APPS CONATINER: END */


/* BECOME A VENDOR SECTION: BEGIN */
.section--became-vendor {
    padding: 85px 0 95px;
}
.section--became-vendor .section__desc {
    margin-bottom: 40px;
    font-size: 21px;
    line-height: 32px;
}
.section--became-vendor .section__actions {
    margin-top: 32px;
}
/* BECOME A VENDOR SECTION: END */

/* MARKETPLACE CATEGORIES: END */


/* MARKETPLACE APP: BEGIN */

/* HERO SHOT: BEGIN */
.section--marketplace-img {
	padding-bottom: 102px;
}
.section--marketplace-img .dv__item.dv__item--lg {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	padding: 40px 0;
	text-align: center;
	width: 280px;
	min-height: 280px;
}
.section--marketplace-img .dv__item.dv__item--lg .dv__item--icon {
	margin: auto;
	padding-bottom: 20px;
}
.section--marketplace-img .dv__item.dv__item--lg .dv__item--text {
	font-size: 17px;
	font-weight: 500;
}
.section--marketplace-img .dv__item.dv__item--sm {
	display: flex;
	flex-direction: column;
	padding: 40px 0;
	text-align: center;
	width: 200px;
}
.section--marketplace-img .dv__item.dv__item--sm .dv__item--icon {
	margin: auto;
	padding-bottom: 20px;
}
.section--marketplace-img .dv__item.dv__item--sm .dv__item--icon svg {
	width: 56px;
	height: 56px;
}
.section--marketplace-img .dv__item.dv__item--sm .dv__item--text {
	font-size: 15px;
	font-weight: 300;
}

@media (max-width: 751px) {
	.section--marketplace-img .dv__item:not(.dv__item--center) {
		display: none;
	}
}

.marketplace-app__thumb {
	padding-left: 24px;
	padding-right: 24px;
}

.banner.banner--marketplace .banner__content .product-features__list-item:not(:first-child):after {
	width: 0px;
	position:relative;
	left:0;
	height:100%;
}
/* HERO SHOT: END */

/* APP INFO NAV: BEGIN */
.scroll-up .section__nav--sticky-marketplace.is-sticky .inner-wrapper-sticky:not(.is-static) {
	top: 80px !important;
	transition: top 0.3s;
	margin-bottom: -200px;
}
.section__nav--sticky-marketplace {
	justify-content: center;
	background: #fff;
}
.section__nav--sticky-marketplace:not(.is-sticky) {
	margin-bottom: 0 !important;
}
.section__nav--sticky-marketplace .inner-wrapper-sticky {
	display: flex;
}
.section__nav--sticky-marketplace.is-sticky {
	margin-bottom: 120px;
}
.section__nav--sticky-marketplace.is-sticky .inner-wrapper-sticky {
	margin-bottom: -120px;
	background: #fff;
	border-bottom: 1px solid #edeef2;
}
.section__nav--sticky-marketplace.is-sticky .inner-wrapper-sticky .nav__link {
	padding: 16px 24px;
}

@media (max-width: 1011px) {
	.scroll-up .section__nav--sticky-marketplace.is-sticky .inner-wrapper-sticky:not(.is-static) {
		top: 60px !important;
		margin-bottom: -140px;
	}
}

@media (max-width: 751px) {
	.section__nav--sticky-marketplace.is-sticky {
		margin-bottom: 80px;
	}
	.section__nav--sticky-marketplace.is-sticky .inner-wrapper-sticky {
		margin-bottom: -80px;
	}
}

@media (max-width: 513px) {
	.section__nav--sticky-marketplace .inner-wrapper-sticky .content-slider__item .nav__link {
		padding: 8px 16px;
		font-size: 15px;
	}
}
/* APP INFO NAV: END */

/* APP INFO TABS CONTAINER: BEGIN */
@media (min-width: 1012px) {
	.marketplace .marketplace__categories-dropdown,
	.marketplace__burger {
		display: none;
	}
}

@media (max-width: 1011px) {
	.marketplace > .container {
		flex-direction: column;
	}
}

@media (max-width: 751px) {
	.marketplace .tab-pane {
		padding-top: 80px;
	}
}
/* APP INFO TABS CONTAINER: END */

/* APP GALLERY: BEGIN */
.marketplace__gallery {
	margin-top: 60px;
}
.marketplace__gallery .swiper-container .swiper-wrapper {
	display: inline-flex;
	margin: 0;
}
.marketplace__gallery .swiper-container .swiper-wrapper .slider__screen {
	width: auto;
}
.marketplace__gallery .swiper-container .swiper-wrapper .slider__screen .slider__content {
	position: relative;
	display: flex;
	justify-content: center;
	max-width: 752px;
	height: 100%;
	max-height: 60vw;
	margin: auto;
}
.marketplace__gallery .swiper-container .swiper-wrapper .slider__screen .slider__content:after {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	min-height: 100%;
	left: 0;
	top: 0;
	box-shadow: 0 4px 32px 0 rgba(10, 14, 29, 0.02), 0 8px 64px 0 rgba(10, 14, 29, 0.08);
}
.marketplace__gallery .swiper-container .swiper-wrapper .slider__screen img {
	width: 100%;
	height: auto;
	max-height: 526px;
	margin: auto;
}
/* APP GALLERY: END */


/* APP INFO TAB - SUPPORT TAB: BEGIN */
.tile--support {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	padding: 16px 16px 16px 26px;
	margin-top: -1px;
	position: relative;
}
.tile--support:after {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	border: 1px solid #007bfc;
	z-index: 99;
	opacity: 0;
	transition: opacity 0.24s ease;
	border-radius: 3px;
}
.tile--support:hover {
	border: 1px solid transparent;
}
.tile--support:hover:after {
	opacity: 1;
}
.tile--support .tile__content {
	margin-left: 30px;
}
.tile--support .tile__content .tile__title {
	margin-top: 0;
	font-size: 17px;
	line-height: 28px;
	font-weight: 500;
}
.tile--support .tile__content .tile__link {
	font-size: 15px;
	line-height: 24px;
	font-weight: 300;
}
@media (max-width: 751px) {
	.tile.tile--support .tile__content .tile__title {
		margin-top: 0;
		margin-bottom: 0;
	}
	.tile.tile--support .tile__content .tile__link {
		word-break: break-all;
	}
}
@media (max-width: 1011px) {
	.tile--support {
		margin-top: -1px;
	}
}
@media (min-width: 1012px) {
	.marketplace__support h4 {
		margin-top: 64px;
	}
	.marketplace__support p + .btn {
		margin-top: 40px;
	}
}
/* APP INFO TAB - SUPPORT TAB: END */


/* APP ACTIONS: BEGIN */
.marketplace__actions {
	margin-top: 64px;
	text-align: center;
}
/* APP ACTIONS: END */

/* MARKETPLACE APP: END */


.integration-container {
  height: 100%;
}

.integration-slider .btn .stroke {
	stroke: rgb(142 142 142 / 90%);
}

.integration-slider .full-width-slider__nav-actions .btn.btn--link:active .stroke,
.integration-slider .full-width-slider__nav-actions .btn.btn--link:focus .stroke,
.integration-slider .full-width-slider__nav-actions .btn.btn--link:hover .stroke
{
	stroke: rgb(142 142 142 / 60%) !important;
}

.scroll-up .site-navbar {
    background: #fff !important;
}

.remove_filter {
	filter: none!important;
}

.col-md-30 {
	flex:0 0 20%;
	max-width:20%;
	position:relative;
	width:100%;
	min-height:1px;
	padding-right:12px;
	padding-left:12px
}

@media (max-width: 767px) {
	.col-md-30 {
		flex: none;
		max-width: unset;
	}
}

.swiper-container--promo .swiper-navigation .swiper-button-prev {
    top: -7px;
}

.swiper-container--promo .swiper-navigation .swiper-button-next {
    top: -7px;
}

@media (min-width: 1012px) and (max-width: 1231px) {
	.site-navbar .navbar__top .navbar__msg, .site-navbar .navbar__top .navbar__promotion {
		justify-content: start;
	}

	.site-navbar .navbar__top .navbar__promotion {
		padding: 8px 140px;
	}

}

@media (max-width: 1011px) {
.package--boxed:not(.package--non-responsive) .package__header.has-divider .package__title:after {
	display: none;
	}
}

.cookie-bar__action-deny, .cookie-bar__action-deny:active, .cookie-bar__action-deny:focus, .cookie-bar__action-deny:hover {
    background: #fff;
    color: #142149;
}

.cookie-bar__action-deny {
    text-transform: uppercase;
    font-weight: 700;
}


/* Class for different language overflow */
.mobile-overflow {
	overflow: hidden;
	text-overflow: ellipsis;
}

.banner--promo-page .banner__title span {
    color: #FFFFFF;
    text-decoration: none;
}

.banner--promo-page .banner__title span::before {
   display: none;

}

@media (max-width: 1012px) {

.application__title-text {
	font-size: 14px;
    display: flex;
    justify-content: center;
	}
}

@media (min-width: 1012px) and (max-width: 1231px) {
	.site-navbar .nav > .nav__item.is-open .nav__dropdown {
		display: block !important;
	}
}

.pt__actions {
	justify-content: flex-end;
}


@media (max-width: 1012px) {
	.scroll-up .site-navbar .nav > .nav__item > .nav__link {
		color: #142149;
	}
}

.section--faq {
	padding: 100px 0;
}

/* prevents horizontal scrolling in safari */
html, body {
	position:relative;
	overflow-x:hidden;
}

.site-navbar .nav--main-menu .nav__sub--container .nav__sub {
    display: flex !important;
}

.site-navbar .nav--main-menu .nav__sub--container .nav__item--large .nav__item-list {
    display: block !important;
}

@media (max-width: 751px){

	.feature--medium-icon {
		text-align: center;
	}

}

.banner.banner--shape:not(.banner--illustration):not(.banner--trial):not(.banner--shape-sm)+.section, .banner.banner--shape:not(.banner--shape-sm):not(.banner--trial):not(.banner--shape-sm)+.section {
    padding-top: 120px;
}

.section--homepage-packages {
    padding-top: 0 !important;
}

@media (min-width: 1012px) {
  .site-navbar .nav--main-menu>.nav__item.has-dropdown>.nav__link {
    z-index: -1;
  }
}


@media (max-width: 1012px) {
  .nav__link .sf-with-ul {
    z-index: 1;
  }
}

.banner--resources-sub {
	padding: 50px;
	margin-top: -40px;
}
