<%- include('./json-path.ejs') %>
<script>
  if (!window.template) {
    window.template = (function () {
      var templateHtmlsByIds = {};
      function setTemplateHtml(id, html) {
        templateHtmlsByIds[id] = html;
      }
      function getTemplateHtml(id) {
        return templateHtmlsByIds[id];
      }
      function render(id, uuid, data, index) {
        if (typeof uuid === 'undefined') {
          uuid = '';
        }
        var templateId = id + uuid;
        var tmpl = getTemplateHtml(templateId);
        if (!tmpl) {
          var templateDom = document.getElementById(templateId);
          if (templateDom) {
            tmpl = templateDom.innerHTML;
            setTemplateHtml(templateId, tmpl);
          } else {
            throw new Error('template ' + templateId + ' is not available!');
          }
        }
        var evaluateExp = /(&lt;|<)%=( |)([^%]+)( |)%(>|&gt;)/g;
        var segmentExp = /(&lt;|<)%=( |)([^%]+)( |)%(>|&gt;)/;
        if (typeof data !== 'object' || !evaluateExp.test(tmpl)) {
          return tmpl;
        }
        tmpl.match(evaluateExp).forEach(function (match) {
          var matches = segmentExp.exec(match);
          if (!matches[3]) {
            return;
          }
          var path = matches[3].trim();
          var res = jsonPath(data, '$.' + path);
          if (typeof res[0] === 'string' || typeof res[0] === 'number') {
            tmpl = tmpl.replace(match, res[0]);
          } else if (typeof res[0] !== 'undefined') {
            var indexString =
              ((index || index === 0) && index.toString()) || '-';
            if (!window.template.__template__) {
              window.template.__template__ = {};
            }
            if (!window.template.__template__[uuid]) {
              window.template.__template__[uuid] = {};
            }
            if (!window.template.__template__[uuid][path]) {
              window.template.__template__[uuid][path] = {};
            }
            window.template.__template__[uuid][path][indexString] = res[0];

            tmpl = tmpl.replace(
              match,
              'template.resolveValue:' +
                uuid +
                ':' +
                path +
                ':' +
                indexString +
                ':'
            );
          }
        });
        // tmpl = tmpl.replace(
        //   /<([^\/>]+)>/g,
        //   '<$1 data-rendered-from="' + templateId + '">'
        // );
        return tmpl;
      }
      function isFunction(functionToCheck) {
        return (
          functionToCheck &&
          {}.toString.call(functionToCheck) === '[object Function]'
        );
      }
      function dataDOMRegex(context, regex) {
        const output = [];
        for (var el of context.querySelectorAll('*')) {
          if (
            Object.keys(el.dataset).some(function (attr) {
              return regex.test(attr);
            })
          ) {
            output.push(el);
          }
        }
        return output;
      }
      function renderChildren(
        container,
        id,
        uuid,
        data,
        handlers,
        overriddenHandlers
      ) {
        if (!container) {
          throw new Error('Container is not available!');
          return;
        }
        var renderTemplate = function (templateId, replace, mOpen, mClose) {
          container.innerHTML = container.innerHTML.replace(
            replace,
            mOpen +
              data
                .map(function (dataItem, index) {
                  return render(templateId, uuid, dataItem, index);
                })
                .join('') +
              mClose
          );
        };
        function markTemplates(target, finishScanned) {
          var templates = target.getElementsByTagName('template');
          for (var i = 0; i < templates.length; i++) {
            var templateDom = templates[i];
            var mOpen = '<!--:' + templateDom.id + '-->';
            var mClose = '<!--' + templateDom.id + ':-->';
            if (!getTemplateHtml(templateDom.id)) {
              setTemplateHtml(templateDom.id, templateDom.innerHTML);
            }
            templateDom.outerHTML = mOpen + templateDom.outerHTML + mClose;
            if (templateDom.innerHTML.indexOf('</template>') !== -1) {
              var ghostDom = document.createElement('div');
              ghostDom.innerHTML = templateDom.innerHTML;
              markTemplates(ghostDom);
              ghostDom.remove();
            }
          }
          if (
            !finishScanned &&
            target.tagName !== 'template' &&
            target.innerHTML.indexOf('</template>') !== -1
          ) {
            markTemplates(target, true);
          }
        }

        markTemplates(container);
        var templateId = id + uuid;
        var markerOpen = '<!--:' + templateId + '-->';
        var markerClose = '<!--' + templateId + ':-->';
        var toReplace = new RegExp(
          markerOpen.replace('!', '\\!') +
            '(.*)' +
            markerClose.replace('!', '\\!'),
          'gs'
        );
        renderTemplate(id, toReplace, markerOpen, markerClose);
        bindHandlers(uuid, container, handlers, overriddenHandlers);
      }
      function bindHandlers(uuid, container, handlers, overriddenHandlers) {
        var bindingDataTest = /^on([a-zA-Z][a-zA-Z0-9]*)$/;
        var eventArgTest = /^\$e( |)(,|$)/;
        var argsExtractor = /^([a-zA-Z_$][a-zA-Z0-9_$]*)\(([^)]+)\)$/;
        var bindingItems = dataDOMRegex(container, bindingDataTest);
        bindingItems.forEach(function (item) {
          var dataBindings = Object.keys(item.dataset);
          dataBindings.forEach(function (binding) {
            if (!bindingDataTest.test(binding)) {
              return;
            }
            var segments = argsExtractor.exec([item.dataset[binding]]);
            if (!segments || !segments[1]) {
              throw new Error(
                '[' +
                  uuid +
                  '] Invalid binding ' +
                  '"' +
                  binding +
                  '" on ' +
                  item.tagName +
                  '.' +
                  item.className
              );
            }
            var name = segments[1];
            var handler =
              (overriddenHandlers[uuid] && overriddenHandlers[uuid][name]) ||
              handlers[name];

            var args = segments[2];
            if (args) {
              function parseArgs(args) {
                var parsedArgs = args;
                var resolved = {};
                if (parsedArgs.indexOf('template.resolveValue:') !== -1) {
                  parsedArgs = parsedArgs.replace(
                    /template\.resolveValue:([^:]+):([^:]+):([^:]+):/g,
                    function (_, uuid, path, index) {
                      var resolvePlaceholder =
                        '$' + (index === '-' ? '0' : index);
                      resolved[resolvePlaceholder] = resolveValue(
                        uuid,
                        path,
                        index
                      );
                      return "'" + resolvePlaceholder + "'";
                    }
                  );
                }
                try {
                  parsedArgs = JSON.parse(
                    '[' +
                      parsedArgs.replace(/"/g, '\\"').replace(/'/g, '"') +
                      ']'
                  );
                  for (var i = 0; i < parsedArgs.length; i++) {
                    if (/^\$\d+$/.test(parsedArgs[i])) {
                      parsedArgs[i] = resolved[parsedArgs[i]];
                    }
                  }
                  return parsedArgs;
                } catch (e) {
                  throw new Error(
                    '[' +
                      uuid +
                      '] Invalid binding ' +
                      '"' +
                      binding +
                      '" on ' +
                      item.tagName +
                      '.' +
                      item.className
                  );
                  return;
                }
              }

              var overriddenHandler = handler;
              if (eventArgTest.test(args)) {
                args = args.replace(eventArgTest, '');
                var parsedArgs = parseArgs(args);
                handler = function (e) {
                  overriddenHandler.apply(null, [e].concat(parsedArgs));
                };
              } else {
                var parsedArgs = parseArgs(args);
                handler = function () {
                  overriddenHandler.apply(null, parsedArgs);
                };
              }
            }

            var bindingName = binding.toLowerCase().replace(/^on/, '');
            item.removeEventListener(bindingName, handler);
            item.addEventListener(bindingName, handler);
          });
        });
      }
      function createHandler(uuid, fn, overriddenHandlers, overriddenName) {
        return function () {
          if (overriddenHandlers && overriddenHandlers[overriddenName]) {
            var handler = overriddenHandlers[overriddenName].fn;
            if (!overriddenHandlers[overriddenName].isPreventDefault) {
              fn.apply(null, arguments);
            }
            handler.apply(null, arguments);
            return;
          }
          fn.apply(null, arguments);
        };
      }
      function registerHandler(uuid, handlers, newHandlers) {
        return Object.keys(newHandlers).reduce(function (composed, name) {
          return Object.assign({}, composed, {
            [name]: createHandler(uuid, handlers[name], newHandlers, name),
          });
        }, {});
      }
      function resolveValue(uuid, path, index) {
        return window.template.__template__[uuid][path][index];
      }
      function waitForDom(dom, fn) {
        if (!dom) {
          function reRender() {
            fn();
            this.removeEventListener('DOMContentLoaded', reRender);
          }
          window.addEventListener('DOMContentLoaded', reRender);
          return;
        }
        fn();
      }
      return {
        render: render,
        renderChildren: renderChildren,
        setTemplateHtml: setTemplateHtml,
        getTemplateHtml: getTemplateHtml,
        waitForDom: waitForDom,
        createHandler: createHandler,
        registerHandler: registerHandler,
        bindHandlers: bindHandlers,
        resolveValue: resolveValue,
      };
    })();
  }
</script>
