.productcontainer {
    height: 345.5px;
    inline-size: 1440px;
    letter-spacing: 0.1px;
    perspective-origin: 720px 172.75px;
    text-decoration: none solid #eee;
    transform-origin: 720px 172.75px;
    width: 100%;
    display: flex;
}

.productItem {
    box-sizing: border-box;
    display: flex;
    height: 300px;
    justify-content: space-between;
    text-align: center;
    text-size-adjust: 100%;
    transform-origin: 177.977px 172.25px;
    border: 1.5px solid #eee;
    flex-flow: column nowrap;
    font: 300 14px/20px Arial, sans-serif;
    padding: 20px 6.5px 20px;
}


/*#productItem*/


/*#productItem:before*/

.productImage {
    align-items: center;
    block-size: 120px;
    box-sizing: border-box;
    display: flex;
    height: 100px;
    justify-content: center;
    text-align: center;
}


/*#productImage, #DIV_24*/


/*#productImage:before, #DIV_24:before*/

.productImage img {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 120px;
    max-block-size: 100%;
    max-height: 100%;
    max-inline-size: 100%;
    max-width: 100%;
}


/*#IMG_6, #IMG_16, #IMG_26*/


/*#DIV_7, #DIV_27*/


/*#DIV_7:before, #DIV_27:before*/

.productTitle a {
    color: rgb(0, 0, 0);
    text-align: center;
    text-decoration: none solid rgb(0, 0, 0);
    text-size-adjust: 100%;
    text-transform: uppercase;
    transform-origin: 0px 0px;
    font: 2vh;
}

.productTitle {
    height: 80px;
}

.btnSeemore a {
    block-size: 37px;
    color: rgb(255, 255, 255);
    display: inline-block;
    height: 37px;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-transform: uppercase;
    transform-origin: 83.7734px 18.5px;
    vertical-align: middle;
    background-color: black;
    border: 1px solid rgb(0, 0, 0);
    font-size: 1.5vh;
    padding: 10px 30px;
}

.btnSeemore a:hover {
    color: white;
    background-color: #e32646;
    border: 1px solid #e32646;
}