<div class="ai-makeup__result-checkContainer">
  <label class="ai-makeup__result-checkbox">
    <span class="ai-makeup__result-checkbox-input">
      <input
        type="checkbox"
        id="myCheckSpot"
        onclick="resultModule.toggleSpot()"
      />
      <span class="ai-makeup__result-checkmark">
        <span></span>
      </span>
    </span>
    <span class="ai-makeup__result-checkbox-label">Đốm tàn nhan</span>
  </label>
  <label class="ai-makeup__result-checkbox">
    <span class="ai-makeup__result-checkbox-input">
      <input
        type="checkbox"
        id="myCheckAcne"
        onclick="resultModule.toggleAcne()"
      />
      <span class="ai-makeup__result-checkmark">
        <span></span>
      </span>
    </span>
    <span class="ai-makeup__result-checkbox-label">Mụn</span>
  </label>
  <label class="ai-makeup__result-checkbox">
    <span class="ai-makeup__result-checkbox-input">
      <input
        type="checkbox"
        id="myCheckPimple"
        onclick="resultModule.togglePimple()"
      />
      <span class="ai-makeup__result-checkmark">
        <span></span>
      </span>
    </span>
    <span class="ai-makeup__result-checkbox-label">Mụn nhọt</span>
  </label>
  <label class="ai-makeup__result-checkbox">
    <span class="ai-makeup__result-checkbox-input">
      <input
        type="checkbox"
        id="myCheckBlackhead"
        onclick="resultModule.toggleBlackhead()"
      />
      <span class="ai-makeup__result-checkmark">
        <span></span>
      </span>
    </span>
    <span class="ai-makeup__result-checkbox-label">Mụn đầu đen</span>
  </label>
  <label class="ai-makeup__result-checkbox">
    <span class="ai-makeup__result-checkbox-input">
      <input
        type="checkbox"
        id="myCheckMole"
        onclick="resultModule.toggleMole()"
      />
      <span class="ai-makeup__result-checkmark">
        <span></span>
      </span>
    </span>
    <span class="ai-makeup__result-checkbox-label">Nốt ruồi</span>
  </label>
</div>
