<div class="ai-makeup__header">
    <!-- <%- include('./banners/black-friday') %> -->
    <!-- <div class="ai-makeup__separator-group">
    <div class="ai-makeup__separator-circle"></div>
    <div class="ai-makeup__separator-circle"></div>
    <div class="ai-makeup__separator-circle"></div>
    <div class="ai-makeup__separator-ellipse"></div>
    <div class="ai-makeup__separator-circle"></div>
  </div> -->
</div>