<% if (typeof uuid === 'undefined') { var [t, tt] = process.hrtime(); var uuid =
t * 1000000000 + tt; }; var navigatorId = 'aiMakeupNavigator'; var
navigatorTemplateId = 'aiMakeupNavigatorTemplate'; if (typeof title ===
'undefined') {var title = ''}%>
<div class="ai-makeup__navigator" id="<%=navigatorId%><%=uuid%>">
  <template id="<%=navigatorTemplateId%><%=uuid%>">
    <div class="ai-makeup__navigator-inner">
      <a data-on-click="goBack('<%=uuid%>')">
        <img src="contain/img/icons/back.svg" />
      </a>
      <span id="ai-makeup__navigator__title"><%%=title%></span>
     
      <a
        data-on-click="openLibrary('<%=uuid%>')"
        class="<%%=libraryButtonVisibilityClass%>"
      >
        <img src="contain/img/icons/folder.svg" />
      </a>
    </div>
  </template>
</div>
<script>
  if (!window.navigatorModule) {
    window.navigatorModule = (function () {
      var navigatorId = '<%=navigatorId%>';
      var navigatorTemplateId = '<%=navigatorTemplateId%>';
      var titles = {};
      var shareButtonVisibilities = {};
      var libraryButtonVisibilities = {};
      var overriddenHandlers = {};
      var handlers = {
        goBack: function () {
          window.history.back();
        },
        share: function () {
          window.navigateTo('/share');
        },
        openLibrary: function () {
          window.navigateTo('/');
        },
      };
      function getTitle(uuid) {
        return titles[uuid];
      }
      function setTitle(uuid, title) {
        titles[uuid] = title;
        render(uuid);
      }
      function getShareButtonVisibility(uuid) {
        return shareButtonVisibilities[uuid];
      }
      function setShareButtonVisibility(uuid, visibility) {
        shareButtonVisibilities[uuid] = visibility;
        render(uuid);
      }
      function getLibraryButtonVisibility(uuid) {
        return libraryButtonVisibilities[uuid];
      }
      function setLibraryButtonVisibility(uuid, visibility) {
        libraryButtonVisibilities[uuid] = visibility;
        render(uuid);
      }
      function startup(uuid) {
        if (!uuid) {
          uuid = '<%= uuid %>';
        }
        render(uuid);
      }
      function registerHandlers(uuid, newHandlers) {
        overriddenHandlers[uuid] = template.registerHandler(
          uuid,
          handlers,
          newHandlers
        );
      }
      function render(uuid) {
        if (!uuid) {
          uuid = '<%= uuid %>';
        }
        var container = document.getElementById(navigatorId + uuid);
        if (!container) {
          return;
        }
        template.renderChildren(
          container,
          navigatorTemplateId,
          uuid,
          [
            {
              title: getTitle(uuid),
              shareButtonVisibilityClass: '',
              libraryButtonVisibilityClass: '',
            },
          ],
          handlers,
          overriddenHandlers
        );
      }
      startup();
      return {
        startup: startup,
        render: render,
        registerHandlers: registerHandlers,
        getTitle: getTitle,
        setTitle: setTitle,
        getShareButtonVisibility: getShareButtonVisibility,
        setShareButtonVisibility: setShareButtonVisibility,
        getLibraryButtonVisibility: getLibraryButtonVisibility,
        setLibraryButtonVisibility: setLibraryButtonVisibility,
      };
    })();
  } else {
    navigatorModule.startup('<%=uuid%>');
  }
  navigatorModule.setTitle('<%=uuid%>', '<%=title%>');
</script>
