<% var contentData = {}; if (typeof data !== 'undefined') { contentData = data;
} %>
<div class="ai-makeup__section__header" style ="display:none">
  <h3 class="ai-makeup__section__title"><%= title %></h3>
  <a href="#" class="ai-makeup__section__more"
    >Thêm &nbsp;
    <svg
      width="4"
      height="8"
      viewBox="0 0 4 8"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M3.7292 3.33732L0.527574 0.091756C0.407036 -0.0304158 0.211449 -0.0306033 0.0907103 0.0913028C-0.0300589 0.213209 -0.0302597 0.411068 0.090247 0.53324L3.29211 3.77903C3.41255 3.90088 3.41255 4.09913 3.29188 4.22121L0.090247 7.46677C-0.0302597 7.58894 -0.0300589 7.7868 0.0907103 7.9087C0.150995 7.96958 0.229968 8 0.30891 8C0.388069 8 0.467228 7.96941 0.527574 7.90824L3.72897 4.66291C4.0903 4.29738 4.0903 3.70261 3.7292 3.33732Z"
        fill="#888CFF"
      />
    </svg>
  </a>
</div>
<div class="ai-makeup__section__body" style ="display:none"><%- include(content, contentData) %></div>
