.body-wrap,
body,
html {
    width: 100%;
    height: 100%;
    -webkit-overflow-scrolling: touch;
    overflow: hidden;
    position: relative
}

.is-desktop {
    display: none !important;
}

@media only screen and (min-width: 992px) {
    .is-desktop {
        display: block !important;
    }
}

.hide {
    display: none!important
}

.com-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.com-elli {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.no-ani {
    -webkit-transition: none!important;
    transition: none!important
}

.is-pc.body-wrap {
    padding-bottom: 40px;
    overflow-y: hidden;
    overflow-x: auto
}

.is-pc.body-wrap,
.is-pc .header {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.is-pc .header {
    width: 100%;
    min-width: 1020px;
    border-bottom: 1px solid #e5e5e5;
    position: relative;
    z-index: 1005;
    background-color: #fff
}

.is-pc .header-con {
    width: 1020px;
    height: 80px;
    position: relative;
    margin: 0 auto
}

.is-pc .header-car,
.is-pc .header-cate {
    height: 22px;
    position: absolute;
    top: 29px;
    cursor: pointer
}

.is-pc .header-cate {
    left: 0;
    padding-left: 5px;
    z-index: 1002
}

.is-pc .header-cate .icon {
    margin-right: 8px
}

.is-pc .header-logo {
    width: 97px;
    height: 28px
}

.is-pc .header-car {
    width: 60px;
    right: 0
}

.is-pc .header-car .icon {
    margin-right: 14px
}

.is-pc .header-car .car-num {
    font-size: 12px;
    width: 18px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    opacity: 0
}

.is-pc .header-car .car-num.show {
    opacity: 1
}

.is-pc .category {
    width: 100%;
    height: calc(100vh - 80px);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: auto;
    background-color: #fff;
    position: absolute;
    top: 80px;
    left: 0;
    color: #000;
    z-index: 1001;
    -webkit-transition: all .3s ease-in;
    transition: all .3s ease-in;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%)
}

.is-pc .category.show {
    -webkit-transform: translate(0);
    transform: translate(0)
}

.is-pc .category-con {
    width: 1020px;
    margin: 0 auto;
    padding-top: 30px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.is-pc .category-tit {
    text-align: center;
    margin-bottom: 20px
}

.is-pc .category-tit .tit {
    font-size: 26px;
    line-height: 36px;
    margin-bottom: 8px
}

.is-pc .category-tit .des {
    font-size: 14px;
    line-height: 20px;
    color: rgba(0, 0, 0, .46)
}

.is-pc .category-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    background-color: #fff
}

.is-pc .category-item {
    width: 180px;
    height: 225px;
    margin-right: 20px;
    margin-bottom: 20px;
    text-align: center;
    cursor: pointer
}

.is-pc .category-item .img-wrap {
    width: 100%;
    height: 181px;
    position: relative;
    overflow: hidden
}

.is-pc .category-item .img {
    position: relative;
    z-index: 2
}

.is-pc .category-item .img,
.is-pc .category-item .img-hover {
    -webkit-transition: all .3s;
    transition: all .3s;
    display: block
}

.is-pc .category-item .img-hover {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    z-index: 1
}

.is-pc .category-item .tit {
    line-height: 24px;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 2px
}

.is-pc .category-item .des {
    line-height: 18px;
    font-size: 13px;
    color: rgba(0, 0, 0, .46)
}

.is-pc .category-item.category-makeup .nor-wrap {
    width: 88px;
    height: 130px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #969696;
    outline: 2px solid #fff;
    overflow: hidden;
    position: relative;
    z-index: 2
}

.is-pc .category-item.category-makeup .img {
    width: 100%;
    height: 100%
}

.is-pc .category-item.category-makeup .img-hover {
    width: 130px;
    height: 152px;
    top: 17px;
    left: 12px
}

.is-pc .category-item.category-makeup .mask-wrap {
    width: 45px;
    height: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    -webkit-transition: all .3s;
    transition: all .3s
}

.is-pc .category-item.category-makeup .img-mask {
    width: 45px;
    height: 128px
}

.is-pc .category-item.category-makeup.active .img,
.is-pc .category-item.category-makeup:hover .img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1)
}

.is-pc .category-item.category-makeup.active .mask-wrap,
.is-pc .category-item.category-makeup:hover .mask-wrap {
    height: 128px
}

.is-pc .category-item.category-makeup.active .img-hover,
.is-pc .category-item.category-makeup:hover .img-hover {
    visibility: visible;
    opacity: 1
}

.is-pc .category-item.category-com.active .img,
.is-pc .category-item.category-com.active .img-hover,
.is-pc .category-item.category-com:hover .img,
.is-pc .category-item.category-com:hover .img-hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1)
}

.is-pc .category-item.category-com.active .img-hover,
.is-pc .category-item.category-com:hover .img-hover {
    visibility: visible;
    opacity: 1
}

.is-pc .category-item.category-lip .img {
    // width: 37px;
    // height: 139px
    width: 98px;
    height: 108px;
}

.is-pc .category-item.category-lip .img-hover {
    width: 154px;
    height: 148px;
    top: 22px;
    left: 23px
}

.is-pc .category-item.category-eye_shadow .img {
    width: 98px;
    height: 108px
}

.is-pc .category-item.category-eye_shadow .img-hover {
    width: 182px;
    height: 157px;
    top: 10px;
    left: 0
}

.is-pc .category-item.category-blusher .img {
    width: 84px;
    height: 105px
}

.is-pc .category-item.category-blusher .img-hover {
    width: 186px;
    height: 160px;
    top: 8px;
    left: -4px
}

.is-pc .category-item.category-bronzer .img {
    width: 84px;
    height: 106px
}

.is-pc .category-item.category-bronzer .img-hover {
    width: 168px;
    height: 191px;
    top: 19px;
    left: 5px
}

.is-pc .category-item.category-foundation .img {
    width: 55px;
    height: 133px
}

.is-pc .category-item.category-foundation .img-hover {
    width: 177px;
    height: 153px;
    top: 15px;
    left: 2px
}

.is-pc .category-item.category-eye_liner .img {
    width: 11px;
    height: 138px
}

.is-pc .category-item.category-eye_liner .img-hover {
    width: 177px;
    height: 153px;
    top: 15px;
    left: 2px
}

.is-pc .category-item.category-eye_lash .img {
    width: 28px;
    height: 148px
}

.is-pc .category-item.category-eye_lash .img-hover {
    width: 180px;
    height: 155px;
    top: 15px;
    left: 0
}

.is-pc .category-item.category-eye_brow .img {
    width: 10px;
    height: 137px
}

.is-pc .category-item.category-eye_brow .img-hover {
    width: 183px;
    height: 158px;
    top: 12px;
    left: -2px
}

.is-pc .category-item.category-eye_pupil .img {
    width: 46px;
    height: 150px
}

.is-pc .category-item.category-eye_pupil .img-hover {
    width: 46px;
    height: 149px;
    top: 20px;
    left: 62px
}

.is-pc .category-item.category-glasses .img-wrap {
    top: 10px
}

.is-pc .category-item.category-glasses .img {
    width: 127px;
    height: 43px
}

.is-pc .category-item.category-glasses .img-hover {
    width: 134px;
    height: 50px;
    top: 66px;
    left: 21px
}

.is-pc .box-wrap {
    width: 100%;
    height: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 40px 0 100px;
    overflow: auto
}

.is-pc #box {
    margin: 0 auto
}

.menu-icon-mobile {
    position: relative;
    display: inline-block;
    -webkit-tap-highlight-color: transparent;
    width: 42px;
    height: 42px;
    overflow: hidden;
    cursor: pointer
}

.menu-icon-mobile i {
    position: absolute;
    width: 18px;
    height: 1px;
    background: #000;
    left: 16px;
    top: 24px;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    -webkit-transform: scaleY(1.5);
    transform: scaleY(1.5)
}

.menu-icon-mobile .i-1 {
    top: 17px
}

.menu-icon-mobile .i-3 {
    top: 31px
}

.menu-icon-mobile.is-expanded .i-1 {
    -webkit-transform: rotate(45deg) translate(5px, 5px);
    transform: rotate(45deg) translate(5px, 5px)
}

.menu-icon-mobile.is-expanded .i-2 {
    opacity: 0
}

.menu-icon-mobile.is-expanded .i-3 {
    -webkit-transform: rotate(-45deg) translate(5px, -5px);
    transform: rotate(-45deg) translate(5px, -5px)
}

#toast {
    pointer-events: none;
    position: fixed;
    z-index: 10000;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -30%);
    transform: translate(-50%, -30%);
    max-width: 80%;
    padding: 10px 20px;
    font-size: 14px;
    word-break: break-word;
    word-wrap: break-word;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, .7);
    color: #fff;
    z-index: 99999;
    opacity: 0;
    -webkit-transition: all .5s;
    transition: all .5s
}

#toast.show {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.loading {
    z-index: 10000;
    background: rgba(0, 0, 0, .5);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all .3s;
    transition: all .3s
}

.loading.show {
    visibility: visible;
    opacity: 1
}

.loading .lds-eclipse {
    position: relative;
    width: 60px;
    height: 60px
}

.loading .lds-eclipse div {
    -webkit-animation: lds-eclipse 1.5s linear infinite;
    animation: lds-eclipse 1.5s linear infinite;
    width: 60px;
    height: 60px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    -webkit-box-shadow: 0 2px 0 0 #fff;
    box-shadow: 0 2px 0 0 #fff
}

@-webkit-keyframes lds-eclipse {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

@keyframes lds-eclipse {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

.is-mobile .header,
.is-pc .category-mobile,
.is-pc .header-mobile {
    display: none
}

.test-img {
    width: 100px;
    height: 100px
}

.btn-test {
    font-size: 12px;
    display: inline-block;
    padding: 2px 10px;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px;
    background-color: #333;
    color: #fff;
    position: relative
}

.btn-test .btn-file {
    z-index: 1;
    opacity: .01;
    cursor: pointer
}

.btn-test .btn-file,
.demo-wrap {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0
}

.demo-wrap {
    z-index: 10001;
    background-color: rgba(90, 43, 43, .6);
    visibility: hidden;
    opacity: 0;
    padding: 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.demo-wrap.mtar__show {
    visibility: visible;
    opacity: 1
}

.btn-open-demo {
    position: absolute;
    top: 100px;
    left: 10px;
    z-index: 10000;
    display: none
}

.btn-open-demo.show {
    display: block
}

#mtar-custom-wrap #mtar-custom-switch-page {
    visibility: visible;
    opacity: 1
}

#mtar-custom-wrap #mtar-custom-switch-page.hidden {
    visibility: hidden;
    opacity: 0
}

.dg.ac {
    z-index: 10000
}

.body-wrap,
.box-wrap,
.category-mobile,
body,
html {
    width: 100%;
    height: 100%;
    overflow: hidden
}

.is-mobile {
    -webkit-tap-highlight-color: transparent
}

.is-mobile .box-wrap,
.is-mobile .category-mobile {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-overflow-scrolling: touch
}

.is-mobile .header-cate-mobile {
    margin-bottom: 2.66667vw
}

.is-mobile .category-mobile {
    position: fixed;
    z-index: 1001;
    background-color: #fff;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.is-mobile .category-mobile.show {
    -webkit-transform: translate(0);
    transform: translate(0)
}

.is-mobile .category-wrap {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    text-align: center
}

.is-mobile .category-tit-mobile {
    margin-bottom: 8vw
}

.is-mobile .category-tit-mobile .tit {
    font-size: 6.93333vw;
    line-height: 9.86667vw;
    color: #000;
    font-weight: 500;
    padding: 5.33333vw 0 2.13333vw
}

.is-mobile .category-tit-mobile .des {
    font-size: 3.73333vw;
    line-height: 5.33333vw;
    color: rgba(0, 0, 0, .46)
}

.is-mobile .category-list-mobile {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0 20vw
}

.is-mobile .category-item-mobile,
.is-mobile .category-list-mobile {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer
}

.is-mobile .category-item-mobile {
    position: relative;
    width: 21.86667vw;
    height: 21.86667vw;
    border: 0.26667vw solid #ccc;
    margin-bottom: 5.33333vw
}

.is-mobile .category-item-mobile .img {
    width: 21.33333vw;
    height: 21.33333vw;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.is-mobile .category-item-mobile .des {
    width: 21.33333vw;
    height: 5.33333vw;
    font-size: 2.93333vw;
    font-weight: 400;
    position: absolute;
    left: 0;
    bottom: 0;
    color: #fff;
    background-color: rgba(0, 0, 0, .6);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.is-mobile .category-item-mobile .icon {
    width: 4.8vw;
    height: 4.8vw;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 1.06667vw;
    right: 1.06667vw
}

.is-mobile .category-item-mobile:nth-child(odd) {
    margin-right: 16vw
}

.is-mobile .category-item-mobile:active {
    opacity: .6
}

.hair-wrap {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10000
}

.titleHeader {
    font-weight: bolder;
    font-size: 3vh;
}