* {
    margin: 0;
}

html,
body {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    color: #5c6abb;
}

.nav-bar-menu {
    .nav-bar {
        font-size: 50px;
        cursor: pointer;
    }
    font-size: 2rem;
    a.active {
        color: #4285f4;
        border-bottom: 2px solid #4285f4;
    }
    a {
        color: #818181;
        font-weight: bold;
    }
    .menuItem {
        margin-right: 20px;
        padding: 12px 16px;
    }
}

//  mobile 
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    color: #70757a;
    display: block;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    flex: 0 0 auto;
    font-size: 12px;
    font-weight: 600;
    line-height: 48px;
    margin-right: 8px;
    padding: 0 8px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

@media only screen and (max-width: 768px) {
    .top-bar {
        display: none !important;
    }
}

.column-left {
    float: left;
}

.column-right {
    float: right;
    display: flex;
    .tiem-image {
        padding: 12px 16px;
    }
}

.nav-bar-menu {
    height: 48px;
    width: 100%;
}

body {
    padding: 20px;
}

.content {
    position: absolute;
    top: 50%;
    width: 100%;
    #myInput {
        background-image: url('/css/searchicon.png');
        background-position: 10px 12px;
        background-repeat: no-repeat;
        width: 100%;
        font-size: 16px;
        padding: 12px 20px 12px 40px;
        border: 1px solid #ddd;
        margin-bottom: 12px;
        margin: auto;
    }
}