.content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bar-left {
    display: flex;
    align-items: center;
}

.bar-right {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
}

.menu a {
    color: #2d2d2d;
    text-decoration: none;
    margin-right: 15px;
}

.menu a:hover {
    text-decoration: underline;
}

.app-toggle {
    margin-right: 15px;
    text-decoration: none;
    color: #2d2d2d;
    font-size: 25px;
}

.profile-trigger img {
    width: 40px;
    border-radius: 100%;
}

.search-wrapper {
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-logo img {
    width: 400px;
}

.search-bar {
    margin: 30px 0;
    position: relative;
    width: 100%;
}

.search-bar input {
    height: 50px;
    width: 100%;
    border: 1px solid #d0d0d0;
    border-radius: 100px;
    padding: 0 50px;
    outline: 0;
    box-shadow: 0 0 0 0 rgba(136, 136, 136, 0);
    font-size: 18px;
    transition: box-shadow .3s;
}

.search-bar input:focus {
    box-shadow: 0 0 10px -4px #888888;
}

.search-bar .search-icon {
    position: absolute;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    top: 0;
    display: flex;
    font-size: 20px;
    color: #888888;
}

.search-bar .search-icon.right {
    right: 0;
}

.search-info {
    font-size: 15px;
}

.search-info a {
    color: #3f50b5;
    text-decoration: none;
}

.search-info a:hover {
    text-decoration: underline;
}

.search-buttons {
    display: flex;
    margin-bottom: 30px;
}

.search-buttons a {
    text-decoration: none;
    margin-right: 15px;
    background-color: #ececec;
    color: black;
    padding: 10px 15px;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0);
}

.search-buttons a:last-child {
    margin-right: 0;
}

.search-buttons a:hover {
    border: 1px solid #8c8c8c;
}

.bottom-bar {
    display: flex;
    align-items: center;
    padding: 20px 30px;
    background-color: #ececec;
    border-top: 1px solid #d4d4d4;
}

.area-select-desktop {
    display: flex;
    position: relative;
    .title {
        padding-bottom: 10px;
        font-size: 16px;
    }
    .image {
        margin: auto;
        max-width: 120px;
        height: 100px;
        border: solid #5c6abb 2px;
        border-radius: 10px;
    }
    .select-item {
        width: 200px;
        text-align: center;
    }
    .image:hover {
        background-color: #5c6abb;
    }
}

.area-select-mobile {
    position: relative;
    .title {
        padding-bottom: 10px;
        font-size: 16px;
    }
    .image {
        margin: auto;
        max-width: 120px;
        height: 120px;
        border: solid #5c6abb 2px;
        border-radius: 10px;
    }
    .select-item {
        width: 200px;
        text-align: center;
    }
}

.tiptext {
    display: flex;
    font-size: 11px;
    width: 100%;
    padding-top: 10px;
    a {
        text-align: center;
        max-width: 205px;
        padding: 10px;
        margin: auto;
        margin-top: 2rem;
        margin-right: 10px;
        background-color: #ececec;
        color: #3f50b5;
        border-radius: 10px;
    }
    margin: auto;
}

.btnSingup a {
    padding-left: 10px;
    padding-right: 10px;
    background: #3f50b5;
    border: 1px solid transparent;
    color: white;
    padding: 10px;
    border-radius: 2px;
}

.typeDisplay {
    color: #3f50b5;
}

.area-select-mobile {
    display: none;
}

.image {
    border: unset !important;
    img {
        width: 100%;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
    }
}

.image img:hover {
    transform: scale(1.1);
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
    /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.search_bottom-footer {
    text-align: center;
    color: #5c6abb;
    padding-bottom: 10px;
    .section-1 {
        margin-bottom: 20px;
        margin-top: 20px;
        display: block;
        span {
            color: #000;
        }
        .title1 {
            color: #000;
            font-weight: 700;
        }
        .title2 {
            color: red;
            font-weight: 700;
        }
        .title3 {
            font-weight: 700 !important;
            color: #000 !important;
        }
    }
}

//  mobile 
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

@media only screen and (max-width: 768px) {
    .top-bar {
        display: none !important;
    }
}

.header-nav-mobile {
    display: none;
}

.area-select-desktop {
    display: flex;
}

.search-logo {
    display: flex;
}

.mobile-nav {
    display: none;
}

@media only screen and (max-width: 992px) {
    .heder-nav {
        display: none !important;
    }
    .header-nav-mobile {
        width: 100%;
        display: flex !important;
        .openMenu {}
    }
    .search-logo {
        display: none;
    }
    .content {
        height: unset !important;
        justify-content: unset !important;
    }
    .area-select-desktop {
        display: none !important;
    }
    .mobile-nav {
        display: flex;
    }
    .search-wrapper {
        width: 100%;
        display: flex;
        margin-top: 10px;
        margin-bottom: 20px;
        margin-top: 40px;
        .item {
            text-align: center;
            width: 33%;
            .title {
                font-size: 12px;
                color: #000;
            }
        }
        .tiptext {
            display: none !important;
        }
    }
}