.#{$root}{
  $checkBoxSize: 16px;

  &__result-checkContainer {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-row-gap: 14px;
    margin-top: 20px;
    margin-bottom: 20px;

    :nth-child(3n) {
      display: flex;
      justify-content: flex-end;
    }
  }

  &__result-checkbox {
    display: grid;
    grid-template-columns: min-content auto;
    grid-gap: 5px;
    font-family: SF UI Text;
    font-style: normal;
    font-weight: 500;
    font-size: size(22);
    color: #000000;
  }

  &__result-checkbox-input {
    display: grid;
    grid-template-areas: "checkbox";
    align-items: center;

    > * {
      grid-area: checkbox;
    }

    input {
      opacity: 0;
      margin: 0;
      width: $checkBoxSize;
      height: $checkBoxSize;
      cursor: pointer;
    }
  }

  &__result-checkmark {
    display: inline-grid;
    width: $checkBoxSize;
    height: $checkBoxSize;
    border: 1px solid #000000;
    border-radius: 15px;
    background: #ffffff;

    > span {
      border-radius: 15px;
      background: #ffffff;
      margin: 1;
    }
  }

  &__result-checkbox-input input[id="myCheckSpot"]:checked + &__result-checkmark > span {
    background: #FEA500;
  }

  &__result-checkbox-input input[id="myCheckAcne"]:checked + &__result-checkmark > span {
    background: #FFFF00;
  }

  &__result-checkbox-input input[id="myCheckPimple"]:checked + &__result-checkmark > span {
    background: #00A853;
  }

  &__result-checkbox-input input[id="myCheckBlackhead"]:checked + &__result-checkmark > span {
    background: #FF50AF;
  }

  &__result-checkbox-input input[id="myCheckMole"]:checked + &__result-checkmark > span {
    background: #FE0000;
  }
}
