%cell {
  display: block;
  border: 1px solid #e0e0e0;
  margin: -0.5px;
}
%cell-active {
  position: relative;
  &::after {
    content: '';
    display: block;
    position: absolute;
    left: -0.5px;
    top: -0.5px;
    right: 0.5px;
    bottom: 0.5px;
    border: solid 1px #888cff;
    pointer-events: none;
  }
}
