%tab-item {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    flex: 1;
    text-align: center;
    position: relative;
    padding: 10px;
}

%tab-item-active-indicator {
    content: '';
    width: 98px;
    max-width: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    border-bottom: 1.5px solid #fda0ba;
}

%tab-sub-item-active-indicator {
    content: '';
    display: inline-block;
    width: 8px;
    height: 8px;
    background: #fda0ba;
    border-radius: 50%;
}

.#{$root} {
    &__products {
        $products: &;
        &__tab,
        &__sub-tab {
            &__container {
                display: none;
                border-bottom: 1px solid #e0e0e0;
                &--visible {
                    display: flex;
                }
            }
            &__item {
                @extend %tab-item;
                &--active {
                    &::after {
                        @extend %tab-item-active-indicator;
                    }
                }
            }
        }
        &__tab {
            display: none;
            &--visible {
                display: block;
            }
            &__wrapper {
                display: block;
            }
            &__content {
                display: flex;
                flex: 0 0 25%;
                padding: 7.5px;
                $sub-item: #{$products}__sub-item;
                &__container {
                    display: flex;
                    overflow-x: auto;
                    overflow-y: hidden;
                    padding: 7.5px;
                }
                #{$products}__item {
                    &__image {
                        background-color: #ffffff;
                        border: 1px solid #e0e0e0;
                    }
                }
                #{$products}__sub-item {
                    @extend .ai-makeup__products__item;
                    overflow: hidden;
                    flex: 0 0 25%;
                    padding: 7.5px;
                    &__container {
                        display: none;
                        width: 100%;
                    }
                    &__name {
                        text-align: center;
                    }
                    &:not(#{$sub-item}--is-product) {
                        #{$sub-item}__name {
                            font-size: 0;
                        }
                    }
                    &--active {
                        #{$sub-item}__image {
                            border: 3px solid #fda0ba;
                        }
                        #{$sub-item}__container {
                            display: flex;
                        }
                        #{$sub-item}__name {
                            &::after {
                                @extend %tab-sub-item-active-indicator;
                            }
                        }
                    }
                    &--is-product {
                        #{$sub-item}__image {
                            position: relative;
                            &::after {
                                content: '';
                                display: block;
                                width: 100%;
                                height: 100%;
                                position: absolute;
                                left: 0;
                                top: 0;
                                background: {
                                    color: rgba(237, 30, 36, 0.6);
                                    image: url('../img/icons/back-circle.svg');
                                    repeat: no-repeat;
                                    position: center center;
                                    size: 35px auto;
                                }
                            }
                        }
                    }
                    &__image {
                        @extend .ai-makeup__products__item__image;
                    }
                    &__name {
                        @extend .ai-makeup__products__item__name;
                    }
                }
                &--invisible {
                    display: none;
                }
                &--expanded {
                    flex-basis: 100%;
                    #{$products}__item {
                        display: none;
                    }
                    #{$sub-item}__container {
                        display: flex;
                    }
                }
            }
        }
    }
}