@import './grid';
%shadow-bottom {
    box-shadow: 0 5px 3px rgba(224, 224, 224, 0.5);
}

.#{$root} {
    &__products {
        &__filter {
            @extend %shadow-bottom;
            display: flex;
            flex-wrap: wrap;
            position: relative;
            z-index: 2;
            border: {
                top: 1px solid #e0e0e0;
            }
            &__wrapper {
                position: relative;
            }
            &__item {
                $item: &;
                flex: 1 0 33.3%;
                text-align: center;
                border: {
                    top: 1px solid #e0e0e0;
                    bottom: 1px solid #e0e0e0;
                }
                &__title {
                    display: inline-block;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 20px;
                    line-height: 24px;
                    align-items: center;
                    text-align: center;
                }
                &__caret {
                    display: inline;
                    &--active {
                        display: none;
                    }
                }
                &--active {
                    #{$item}__title {
                        color: #888cff;
                        font-weight: 600;
                    }
                    #{$item}__caret {
                        display: none;
                        &--active {
                            display: inline;
                        }
                    }
                }
            }
        }
        &__grid {
            &__container {
                display: flex;
                flex-wrap: wrap;
                border: {
                    top: 1px solid #e0e0e0;
                    bottom: 1px solid #e0e0e0;
                }
                .#{$loading} {
                    display: none;
                }
                &--loading {
                    display: block;
                    text-align: center;
                    height: 80px;
                    .#{$loading} {
                        display: inline-block;
                    }
                    >*:not(.#{$loading}) {
                        display: none;
                    }
                }
            }
            &__cell {
                @extend %cell;
                flex: 0 0 calc(50% + 0.5px);
                padding: 15px;
                min-height: 207px;
                &--active {
                    @extend %cell-active;
                }
            }
        }
        &__item {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            &__image {
                width: 100%;
                height: 90px;
                background-position: center center;
                background-size: auto 100%;
                background-repeat: no-repeat;
            }
            &__name {
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 20px;
                text-align: center;
                color: #565656;
                margin: 10px auto;
            }
            &__try {
                width: 129.49px;
                display: block;
                background: #fda0ba;
                border-radius: 30px;
                line-height: 30px;
                border: none;
                text-align: center;
                margin: auto auto 0;
                color: white;
            }
        }
    }
    &__sub-type {
        &__grid {
            display: none;
            $mt: 80px;
            position: absolute;
            z-index: 1;
            right: -0.5px;
            left: -0.5px;
            top: 80px;
            $grid: &;
            @for $i from 2 through 3 {
                &#{$grid}--mt-#{$i} {
                    top: $mt * $i;
                }
            }
            border: {
                width: 1px;
                style: solid;
                color: #e0e0e0;
                top-color: transparent;
                bottom-color: transparent;
            }
            background-color: white;
            &--visbible {
                display: block;
            }
            &__container {
                @extend %shadow-bottom;
                display: flex;
                flex-wrap: wrap;
                margin: -0.5px;
            }
            &__cell {
                @extend %cell;
                flex: 0 0 calc(50% + 0.5px);
                padding: 15px;
                height: 60px;
                &--active {
                    @extend %cell-active;
                }
            }
        }
    }
}