.#{$root} {
  &__product {
    width: 100%;
    min-height: 89px;
    &__container {
      display: none;
      &--visible {
        display: flex;
      }
      width: 100%;
      padding: 15px;
      align-items: center;
    }
    &__image {
      background: {
        color: #ffffff;
        repeat: no-repeat;
        size: contain;
        position: center center;
      }
      box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
      width: 59px;
      height: 59px;
      flex: 0 0 59px;
    }
    &__detail {
      display: flex;
      overflow: hidden;
      flex: 1;
      align-items: center;
      padding: 0 7px;
      &__cta {
        flex: 0 0 85px;
      }
      &__attributes {
        flex: 1;
        overflow: hidden;
      }
      &__name,
      &__color {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 18px;
        margin: 0;
        color: #000000;
      }
      &__price {
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        /* identical to box height, or 125% */

        /* #000000 */
        color: #000000;
      }
    }
  }
}
