.ai-makeup__section {
    &__header {
        padding: 24px;
        display: flex;
        justify-content: space-between;
    }
    &__title {
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        color: #fda0ba;
        margin: 0;
    }
    &__more {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        align-items: center;
        text-align: center;
        text-decoration: none;
        /* #888CFF */
        color: #888cff;
    }
}