.#{$root} {
  &__welcome {
    display: flex;
    flex-direction: column;
  }

  &__welcome-top {
    margin-top: size(80);
  }

  &__welcome-body {
    position: relative;
    margin-top: size(35);
  }

  &__welcome-body__button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
  }
}
