 


<div  class ="resultHeader" id ="colorTitle">
    <h4>
       Đa dạng màu cho bạn lựa chọn
    </h4>
</div> 
 
<div class="colorContainer owl-carousel" id="colorange">

</div>

  <!--:aiMakeupProductGridContainerTemplate64195697818461-->
  

<div  class ="resultHeader">
    <h4>
        Sản phẩm phù hợp
    </h4>
</div> 

<div class=" " id="recomend-product">
      
</div>


<div  class ="resultHeader">
    <h4>
       Thương hiệu
    </h4>
</div> 
<div class="" id="makeup-brand">
 

</div>