<div id="tips" class="ai-makeup__tips">
    <div class="ai-makeup__tips__content">
        <span class="ai-makeup__tips__content-header">Thông báo</span>
        <div class="ai-makeup__tips__content-body">
            Vui lòng chụp bức ảnh chân dung trước khi thử sản phẩm.
        </div>
        <div class="
        ai-makeup__button ai-makeup__tips__button ai-makeup__button--shadow
      ">
            <button type="button" onclick="hideTips()">TÔI ĐÃ HIỂU</button>
        </div>
    </div>
</div>