<html lang="en">

<body>
    <%- include('./partials/packages/template.ejs') %>
        <div class="ai-makeup__container">
            <%- include('./partials/navigator.ejs'); %>
                <%-
      include('./partials/header.ejs'); %>
                    <%-
      include('./partials/pages/products.ejs'); %>
        </div>

        <script>
            $(document).ready(function() {

                loadAllCategory();



            });

            function loadAllCategory() {
                $.ajax({
                    url: "https://api-soida.applamdep.com/types/610390339df3645ca45dfeb3",
                    type: "get",
                    data: {

                    },
                    success: function(response) {
                        loadCategory(response.data);


                    },
                    error: function(jqXHR, textStatus, errorThrown) {

                    }
                });
            }

            function loadCategory(data) {
                $("#listCategoryMobile").empty();

                for (let i = 0; i < data.length; i++) {
                    var productItem = data[i];
                    console.log(productItem);
                    var htmlAppend = '<div class="category-item-mobile" data-key="' + productItem._id + '" data-id="' + productItem._id + '">\
<img src="' + productItem.image + '"  alt="" class="img">\
<div onclick ="openMakeup(' + "'" + productItem.type_id + "'" + ')" class="des"> ' + productItem.name + ' </div>\
<svg class="icon" width="18" height="18" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg"><g transform="translate(-1 -1)" fill="none" fill-rule="evenodd"><circle stroke="#000" fill="#000" cx="10" cy="10" r="8"></circle><path stroke="#FFF" d="M5.75 10.5l3 2.5 5.5-6.5"></path></g></svg>\
</div>\
';
                    $("#listCategoryMobile").append(htmlAppend);
                }
            }

            function openMakeup(typeId) {
                window.sessionStorage.setItem("typeId", typeId);
                 window.navigateTo('/makeup');
            }
        </script>
</body>

</html>