<%if (typeof uuid === 'undefined') { var [t, tt] = process.hrtime(); var uuid =
t * 1000000000 + tt;var shareImageId = 'aiMakeupShareImage'; var
shareImageTemplateId= 'aiMakeupShareImageTemplate'; var shareButtonsId =
'aiMakeupShareButtons'; var shareButtonsTemplateId =
'aiMakeupShareButtonsTemplate'} %>
<html lang="en">
  <body>
    <div class="ai-makeup__container">
      <%- include('./partials/navigator.ejs', {uuid, title: 'Chia sẻ'}); %>
      <div id="<%=shareImageId%><%=uuid%>">
        <template id="<%=shareImageTemplateId%><%=uuid%>"
          ><div
            class="ai-makeup__share__image"
            style="background-image: url('<%%=imageSrc%>')"
          ></div
        ></template>
      </div>
      <div id="<%=shareButtonsId%><%=uuid%>">
        <template id="<%=shareButtonsTemplateId%><%=uuid%>">
          <button
            type="button"
            class="ai-makeup__share__button ai-makeup__share__button--download"
            data-on-click="download('<%=uuid%>')"
          >
            LƯU VỀ MÁY</button
          ><button
            type="button"
            class="ai-makeup__share__button ai-makeup__share__button-facebook"
            data-on-click="shareToFacebook('<%=uuid%>')"
          >
            Chia sẻ lên facebook</button
          ><button
            type="button"
            class="ai-makeup__share__button ai-makeup__share__button--google"
            data-on-click="shareToGoogle('<%=uuid%>')"
          >
            Chia sẻ lên Google
          </button>
        </template>
      </div>
    </div>
    <%- include('./partials/packages/template.ejs') %>
    <script>
      if (!window.shareModule) {
        window.shareModule = (function () {
          var shareImageId = '<%=shareImageId%>';
          var shareImageTemplateId = '<%=shareImageTemplateId%>';
          var shareButtonsId = '<%=shareButtonsId%>';
          var shareButtonsTemplateId = '<%=shareButtonsTemplateId%>';
          var imageSrcs = {};
          var overriddenHandlers = {};
          var handlers = {
            download: function (uuid) {
              downloadURI(getImgSrc(uuid))
            },
            shareToFacebook: function () {
              window.open(
                'https://facebook.com/sharer/sharer.php?u=' +
                  encodeURIComponent(window.location.href)
              );
            },
            shareToGoogle: function () {},
          };
          var store;
          function getImgSrc(uuid) {
            return imageSrcs[uuid];
          }
          function setImgSrc(uuid, src) {
            imageSrcs[uuid] = src;
            render(uuid);
          }
          function downloadURI(uri, name) {
            var link = document.createElement("a");
            link.download = name;
            link.href = uri;
            document.body.appendChild(link);
            link.click();
            document.body.removeChild(link);
            delete link;
          }
          function startup(uuid) {
            if (!uuid) {
              uuid = '<%= uuid %>';
            }
            if (makeupModule) {
              setImgSrc(uuid, makeupModule.selectSharedImage());
            }
            render(uuid);
          }
          function renderImage(uuid) {
            var container = document.getElementById(shareImageId + uuid);
            if (!container) {
              return;
            }
            template.renderChildren(
              container,
              shareImageTemplateId,
              uuid,
              [{ imageSrc: getImgSrc(uuid) }],
              handlers,
              overriddenHandlers
            );
          }
          function renderButtons(uuid) {
            var container = document.getElementById(shareButtonsId + uuid);
            if (!container) {
              return;
            }
            template.renderChildren(
              container,
              shareButtonsTemplateId,
              uuid,
              [{}],
              handlers,
              overriddenHandlers
            );
          }
          function render(uuid) {
            if (!uuid) {
              uuid = '<%= uuid %>';
            }
            renderImage(uuid);
            renderButtons(uuid);
          }
          startup();
        })();
      } else {
        window.shareModule.startup('<%=uuid%>');
      }
    </script>
  </body>
</html>
