<div class="cd-popup contact" role="alert">
    <form name="contactform" id="contactform" class="contact-form">
        <div class="cd-popup-container" style="">
            <p style="">
                <a href="" class="cd-popup-close cd-close-button">
                    <i class="fa fa-times" style="pointer-events:none;"></i>
                </a>
            </p>
            <div class="name">
                <label for="name">Họ và Tên</label>
                <input type="text" id="name" name="name" />
            </div>
            <div class="email">
                <label for="email">Email</label>
                <input type="text" id="email" name="email" />
            </div>
            <div class="address">
                <label for="address">Địa chỉ</label>
                <input type="text" id="address" name="address" />
            </div>
            <div class="phone">
                <label for="phone">Số điện thoại</label>
                <input type="text" id="phone" name="phone" />
            </div>
            <div class="message">
                <label for="message">Thông tin yêu cầu tư vấn giải đáp</label>
                <textarea name="message" id="message" name="message"></textarea>
            </div>
            <br>
            <div style="text-align:left">
                <input type="checkbox" id="human" name="human" />
                <label for="human">Tôi không phải là robot.</label>
            </div>
            <br>
            <div class="submit">
                <p class="user-message" id="contactblurb"> Tất cả các câu hỏi, đề xuất và thông tin cần giải đáp chúng
                    tôi sẽ tiếp nhận và phản hồi sớm nhất.
                </p>
                <input type="submit" name="submit" id="submit" value="Gửi thông tin" />
            </div>
        </div>
    </form>
</div>

<div class="cd-popup notification" role="alert">
    <div class="cd-popup-container">
        <a href="" class="cd-popup-close cd-close-button"><i class="fa fa-times" style="pointer-events:none;"></i></a>
        <p>
        <h3 id="notification-text">Cám ơn bạn đã liên hệ chúng tôi!</h3>
        </p>
    </div>
</div>