<!-- FOOTER -->

<div class="footer-container-common">
    <div class="container">
        <div class="row mx-0 footer-flex-common">
            <div class="col-3 p-0 d-none d-md-block">
                <img src="../../assets/images/logo_white.png" alt="" />
                <div class="footer-introduce-text">Công ty TNHH Công Nghệ TIKITECH
                    Mã số thuế: 03116352946
                    Địa chỉ: 91 Đường N1, Khu dân cư Hiệp Thành, P. Hiệp Thành, Q. 12, TP. Hồ Chí Minh</div>
            </div>

            <div class="col-auto p-0 d-none d-sm-block">
                <div class="footer-title-common">Thông tin chúng tôi</div>
                <div>Trang chủ</div>
                <div>Giới thiệu</div>
                <div>Dịch vụ</div>
                <div>Đội ngũ</div>
                <div>Blog</div>
            </div>

            <div class="col-auto p-0">
                <div class="footer-title-common">Thông tin công ty</div>
                <div>Về Công ty</div>
                <div>Tin mới nhất</div>
                <div>Sứ mệnh chúng tôi</div>
            </div>

            <div class="col-auto p-0">
                <div class="footer-title-common">Dịch vụ chúng tôi</div>
                <div>App Development</div>
                <div>Web Development</div>
                <div>Graphic Design</div>
                <div>Web Solution</div>
                <div>App Design</div>
            </div>

        </div>
    </div>
    <div class="row footer-copyright-common mx-0">
        @ Copyright 2021 TikiTech. All rights reserved.
    </div>
</div>