<div class="header-bg">
  <div class="row mx-0">
    <div class="header-navbar">
      <div class="col-6 col-sm-3 col-md-4 header-logo mr-auto ">
        <img src="../../assets/images/logo_head.png" alt="">
      </div>
    </div>
  </div>

  <div class="row mx-0 header-content">
    <div class="col-6 header-col px-0">
      <div class="header-title">Phân tích da bằng </div>
      <div class="header-title">trí tuệ nhân tạo<span> AI </span> </div>
      <div class="header-text">Đánh giá chi tiết 48 thông số về làn da của bạn.
        <span class="d-block">Đưa ra liệu trình chăm sóc phù hợp</span>
        <span class="d-block">Xem lại lịch sử cải thiện làn da mỗi ngày</span>
      </div>
    </div>
  </div>

  <div class="row pb-4 pb-md-5 mx-0">
    <div class="col-12 btn-box-common">
      <div class="btn-border-common btn-border-white">
        <img src="../../assets/images/down_arrow_black.png" alt="">
      </div>
    </div>
  </div>
</div>