<div class="ai-skin__navigator">
    <div class="ai-skin__navigator-inner">
        <a href="javascript:history.back()">
            <img data-src="contain/img/icons/back.svg">
        </a>
        <span>SOI DA ONLINE AI</span>
        <a onclick="navigateTo('/')">
            <img data-src="contain/img/icons/home.svg">
        </a>
    </div>
</div>