<% if (typeof uuid === 'undefined') { var [t, tt] = process.hrtime(); var uuid =
t * 1000000000 + tt; } var filterTemplateId = 'aiMakeupProductGridFilter'; var
filterWrapperId='aiMakeupProductGridFilterWrapper'; var cellTemplateId=
'aiMakeupProductGridCell';var
filterContainerId='aiMakeupProductFilterContainer'; var gridContainerId =
'aiMakeupProductGridContainer'; var subTypeGridTemplateId =
'aiMakeupSubTypeGrid';var subTypeGridContainerId =
'aiMakeupSubTypeGridContainer' ; var subTypeCellTemplateId =
'aiMakeupSubTypeGridCell'; var gridContainerTemplateId =
'aiMakeupProductGridContainerTemplate'; var gridId = 'aiMakeupProductGrid';%>
<div
  class="ai-makeup__products__filter__wrapper"
  id="<%=filterWrapperId%><%=uuid%>"
>
  <div
    class="ai-makeup__products__filter"
    id="<%=filterContainerId%><%= uuid %>"
  >
    <template id="<%=filterTemplateId%><%=uuid%>">
      <div
        class="ai-makeup__products__filter__item <%%=categoryItemActiveClass%>"
        data-id="<%%=category._id%>"
        data-on-click="toggleActiveCategoryId('<%%=category._id%>', '<%= uuid %>')"
      >
        <h4 class="ai-makeup__products__filter__item__title">
          <%%=category.name%>
        </h4>
        <span class="ai-makeup__products__filter__item__caret"
          >&nbsp;<svg
            width="13"
            height="7"
            viewBox="0 0 13 7"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M7.57686 6.05995L12.8509 0.857308C13.0494 0.661434 13.0497 0.343604 12.8516 0.147404C12.6535 -0.0488458 12.332 -0.0491721 12.1335 0.146651L6.85907 5.34967C6.66107 5.5454 6.33892 5.5454 6.14054 5.3493L0.866505 0.146651C0.667975 -0.0491726 0.346454 -0.0488463 0.148355 0.147404C0.0494337 0.245366 -1.63349e-08 0.373697 -2.19422e-08 0.501979C-2.75649e-08 0.630612 0.0497131 0.759245 0.149117 0.857307L5.42277 6.05958C6.01676 6.64675 6.98325 6.64675 7.57686 6.05995Z"
              fill="black"
            />
          </svg>
        </span>
        <span class="ai-makeup__products__filter__item__caret--active"
          >&nbsp;<svg
            width="13"
            height="7"
            viewBox="0 0 13 7"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M5.42314 0.940046L0.149103 6.14269C-0.0494257 6.33857 -0.0497304 6.6564 0.148367 6.8526C0.346465 7.04885 0.667986 7.04917 0.866515 6.85335L6.14093 1.65033C6.33893 1.4546 6.66108 1.4546 6.85946 1.6507L12.1335 6.85335C12.332 7.04917 12.6535 7.04885 12.8516 6.8526C12.9506 6.75463 13 6.6263 13 6.49802C13 6.36939 12.9503 6.24075 12.8509 6.14269L7.57723 0.940424C6.98324 0.353254 6.01675 0.353254 5.42314 0.940046Z"
              fill="#888CFF"
            />
          </svg>
        </span>
      </div>
    </template>
  </div>
  <template id="<%=subTypeGridTemplateId%><%=uuid%>">
    <div
      class="
        ai-makeup__sub-type__grid ai-makeup__sub-type__grid--mt-<%%=top%>
        <%%=visibilityClass%>
      "
    >
      <div
        class="ai-makeup__sub-type__grid__container"
        id="<%=subTypeGridContainerId%><%= uuid %>"
      >
        <template id="<%=subTypeCellTemplateId%><%= uuid %>">
          <div
            class="ai-makeup__sub-type__grid__cell <%%=subTypeCellActiveClass%>"
          >
            <div
              class="ai-makeup__sub-type__item <%%=subTypeItemActiveClass%>"
              data-on-click="toggleActiveSubTypeId('<%%=subType._id%>', '<%= uuid %>')"
            >
              <%%=subType.name%>
            </div>
          </div>
        </template>
      </div>
    </div>
  </template>
</div>
<div class="ai-makeup__products__grid" id="<%=gridId%><%=uuid%>">
  <template id="<%=gridContainerTemplateId%><%=uuid%>">
    <div
      class="ai-makeup__products__grid__container <%%=containerLoadingClass%>"
      id="<%=gridContainerId%><%= uuid %>"
    >
      <%- include('../loading.ejs') %>
      <template id="<%=cellTemplateId%><%= uuid %>">
        <div class="ai-makeup__products__grid__cell">
          <div class="ai-makeup__products__item">
            <div
              class="ai-makeup__products__item__image"
              title="<%%=product.name%>"
              style="background-image: url('<%%=product.image%>')"
            ></div>
            <h5 class="ai-makeup__products__item__name"><%%=product.name%></h5>
            <button
              class="ai-makeup__products__item__try"
              type="button"
              data-on-click="tryProduct(<%%=product%>, '<%= uuid %>')"
            >
              Try
            </button>
          </div>
        </div>
      </template>
    </div>
  </template>
</div>
<%- include('../packages/make-request.ejs') %> <%-
include('../packages/data-store.ejs') %> <%- include('../packages/flat-map.ejs')
%>
<script>
  if (!window.productsGridModule) {
    window.productsGridModule = (function () {
      var apiEndpoint = 'https://csgvietnam.com/api';
      var filterWrapperId = '<%=filterWrapperId%>';
      var filterTemplateId = '<%=filterTemplateId%>';
      var filterContainerId = '<%=filterContainerId%>';
      var cellTemplateId = '<%=cellTemplateId%>';
      var gridContainerId = '<%=gridContainerId%>';
      var subTypeGridTemplateId = '<%=subTypeGridTemplateId%>';
      var subTypeGridContainerId = '<%=subTypeGridContainerId%>';
      var subTypeCellTemplateId = '<%=subTypeCellTemplateId%>';
      var gridContainerTemplateId = '<%=gridContainerTemplateId%>';
      var gridId = '<%=gridId%>';
      var cachedRequest = {};
      var cachedData = {};
      var activatedBrandIds = {};
      var activatedCategoryIds = {};
      var activatedSubTypeIds = {};
      var activatedBrandIds = {};
      var overriddenHandlers = {};
      var subTypeGridVisibilities = {};
      var categoriesItemsPerRow = 3;
      var tryingProducts = {};
      var gridLoadings = {};
      var allProducts = {};
      var allProductsByIds = {};
      var allCategories = {};
      var allSubTypes = {};
      var currentSubTypes = {};
      var handlers = {
        toggleActive: function (e, uuid) {
          e.preventDefault();
          e.stopPropagation();
          setActivatedBrandId(uuid, e.target.dataset.id);
          setActivatedCategoryId(uuid, null);
          setSubTypeGridVisibility(uuid, false);
          setActivatedSubTypeId(uuid, null);
          render(uuid);
        },
        toggleActiveCategoryId: function (id, uuid) {
          setActivatedCategoryId(uuid, id);
          setSubTypeGridVisibility(uuid, true);
          render(uuid);
        },
        toggleActiveSubTypeId: function (id, uuid) {
          setActivatedSubTypeId(uuid, id);
          setSubTypeGridVisibility(uuid, false);
          render(uuid);
        },
        tryProduct: function (product, uuid) {
          setTryingProduct(uuid, product);
          var tryingProduct = getTryingProduct(uuid);
          if (
            !tryingProduct ||
            !tryingProduct.color ||
            !tryingProduct.color[0]
          ) {
            return;
          }
          window.navigateTo('/salontoc/makeup');
        },
      };
      var store;

      function updateCurrentProductStore(state, currentProduct) {
        return dataStore.mutateState(state, {
          currentProduct: currentProduct,
        });
      }

      function selectCurrentProductStore(state) {
        return state.currentProduct;
      }

      function updateCurrentCategoriesStore(state, currentCategories) {
        return dataStore.mutateState(state, {
          currentCategories: currentCategories,
        });
      }

      function selectCurrentCategoriesStore(state) {
        return state.currentCategories;
      }

      function setGridLoading(uuid, gridLoading) {
        gridLoadings[uuid] = gridLoading;
        render(uuid);
      }
      function getGridLoading(uuid) {
        return gridLoadings[uuid];
      }

      function purgeCache() {
        cachedRequest = {};
        cachedData = {};
      }
      function startup(uuid) {
        if (!uuid) {
          uuid = '<%= uuid %>';
        }
        store = dataStore.registerStore('product');
        dataStore.createMutation(store, updateCurrentProductStore);
        dataStore.createSelector(store, selectCurrentProductStore);
        dataStore.createMutation(store, updateCurrentCategoriesStore);
        dataStore.createSelector(store, selectCurrentCategoriesStore);
      }
      function fetchProductsListByCategories(brandId) {
        if (!cachedRequest || !cachedRequest[brandId]) {
          cachedRequest[brandId] = makeRequest(
            apiEndpoint + '/sku-list?brand_id=' + brandId
          );
        }
      }
      function getProductsListByCategories(brandId) {
        if (cachedData && cachedData[brandId]) {
          return new Promise(function (resolve) {
            return resolve(cachedData[brandId]);
          });
        }
        return cachedRequest[brandId].then(function (data) {
          cachedData[brandId] = JSON.parse(data.responseText).data;
          return cachedData[brandId];
        });
      }
      function getActivatedBrandId(uuid) {
        return activatedBrandIds[uuid];
      }
      function setActivatedBrandId(uuid, id) {
        activatedBrandIds[uuid] = id;
        setActivatedCategoryId(uuid, undefined);
        if (!getGridLoading(uuid)) {
          setGridLoading(uuid, true);
        }
        fetchProductsListByCategories(id);
        getProductsListByCategories(id).then(function (categories) {
          setAllCategories(uuid, categories);
          if (getGridLoading(uuid)) {
            setGridLoading(uuid, false);
          }
        });
        render(uuid);
      }
      function getActivatedCategoryId(uuid) {
        return activatedCategoryIds[uuid];
      }
      function setActivatedCategoryId(uuid, id) {
        activatedCategoryIds[uuid] = id;
        render(uuid);
      }

      function getActivatedSubTypeId(uuid) {
        return activatedSubTypeIds[uuid];
      }
      function setActivatedSubTypeId(uuid, id) {
        activatedSubTypeIds[uuid] = id;
        render(uuid);
      }
      function getSubTypeGridVisibility(uuid) {
        return subTypeGridVisibilities[uuid];
      }
      function setSubTypeGridVisibility(uuid, visibility) {
        subTypeGridVisibilities[uuid] = visibility;
        render(uuid);
      }
      function getTryingProduct(uuid) {
        return tryingProducts[uuid];
      }
      function setTryingProduct(uuid, product) {
        tryingProducts[uuid] = product;
        store.mutate(updateCurrentProductStore, product);
      }
      function selectCurrentProduct() {
        return store.select(selectCurrentProductStore);
      }
      function selectCurrentCategories() {
        return store.select(selectCurrentCategoriesStore);
      }
      function getAllProducts(uuid) {
        return allProducts[uuid];
      }
      function setAllProducts(uuid, products) {
        allProducts[uuid] = products;
        render(uuid);
      }
      function getAllProductsByIds(uuid) {
        return allProductsByIds[uuid];
      }
      function setAllProductsByIds(uuid, products) {
        allProductsByIds[uuid] = products;
        render(uuid);
      }
      function setAllCategories(uuid, categories) {
        allCategories[uuid] = categories;
        store.mutate(updateCurrentCategoriesStore, categories);
        setAllProducts(
          uuid,
          flatMap(categories, function (cat) {
            return flatMap(cat.sub_type_makeup, function (sub) {
              return sub.product;
            });
          })
        );
        render(uuid);
      }
      function getAllCategories(uuid) {
        return allCategories[uuid];
      }
      function setAllSubTypes(uuid, subTypes) {
        allSubTypes[uuid] = subTypes;
        render(uuid);
      }
      function getAllSubTypes(uuid) {
        return allSubTypes[uuid];
      }
      function setCurrentSubType(uuid, subType) {
        currentSubTypes[uuid] = subType;
        render(uuid);
      }
      function getCurrentSubType(uuid) {
        return currentSubTypes[uuid];
      }
      function renderCategory(uuid, category, index) {
        var activatedCategoryId = getActivatedCategoryId(uuid);
        var subTypeContainer = document.getElementById(
          subTypeGridContainerId + uuid
        );
        var isActivatedCategory = activatedCategoryId === category._id;
        if (
          isActivatedCategory &&
          typeof category.sub_type_makeup !== 'undefined'
        ) {
          template.renderChildren(
            subTypeContainer,
            subTypeCellTemplateId,
            uuid,
            category.sub_type_makeup.map(function (subType) {
              return renderSubType(uuid, subType, index);
            }),
            handlers,
            overriddenHandlers
          );
        }
        return {
          category: category,
          categoryItemActiveClass: isActivatedCategory
            ? 'ai-makeup__products__filter__item--active'
            : '',
        };
      }
      function renderSubType(uuid, subType, index) {
        var activatedSubTypeId = getActivatedSubTypeId(uuid);
        var isActivatedSubType =
          Boolean(activatedSubTypeId) && activatedSubTypeId === subType._id;
        var currentSubType = getCurrentSubType(uuid);
        if (
          isActivatedSubType &&
          (!currentSubType || currentSubType._id !== subType._id)
        ) {
          setCurrentSubType(uuid, subType);
        }
        return {
          subType: subType,
          subTypeItemActiveClass: isActivatedSubType
            ? 'ai-makeup__sub-type__item--active'
            : '',
          subTypeCellActiveClass: isActivatedSubType
            ? 'ai-makeup__sub-type__grid__cell--active'
            : '',
        };
      }
      function renderProducts(uuid) {
        var gridContainer = document.getElementById(gridContainerId + uuid);
        var allProducts = getAllProducts(uuid);
        var activatedSubTypeId = getActivatedSubTypeId(uuid);
        var currentSubType = getCurrentSubType(uuid);
        var prods;
        if (!activatedSubTypeId) {
          prods = allProducts || [];
        } else if (
          currentSubType &&
          typeof currentSubType.product !== 'undefined'
        ) {
          prods = currentSubType.product;
        } else {
          return;
        }
        template.renderChildren(
          gridContainer,
          cellTemplateId,
          uuid,
          prods.map(function (product) {
            return { product: product };
          }),
          handlers,
          overriddenHandlers
        );
      }
      function renderGrid(uuid) {
        var grid = document.getElementById(gridId + uuid);
        if (!grid) {
          return;
        }
        template.renderChildren(
          grid,
          gridContainerTemplateId,
          uuid,
          [
            {
              containerLoadingClass: getGridLoading(uuid)
                ? 'ai-makeup__products__grid__container--loading'
                : '',
            },
          ],
          handlers,
          overriddenHandlers
        );
      }
      function registerHandlers(uuid, newHandlers) {
        overriddenHandlers[uuid] = template.registerHandler(
          uuid,
          handlers,
          newHandlers
        );
      }
      function render(uuid) {
        if (!uuid) {
          uuid = '<%= uuid %>';
        }
        renderGrid(uuid);
        var categories = getAllCategories(uuid);
        if (!categories || !categories.length) {
          return;
        }
        var filterWrapper = document.getElementById(filterWrapperId + uuid);
        template.renderChildren(
          filterWrapper,
          subTypeGridTemplateId,
          uuid,
          [
            {
              visibilityClass: getSubTypeGridVisibility(uuid)
                ? 'ai-makeup__sub-type__grid--visbible'
                : '',
              top: Math.ceil(categories.length / categoriesItemsPerRow),
            },
          ],
          handlers,
          overriddenHandlers
        );

        var filterContainer = document.getElementById(filterContainerId + uuid);
        template.renderChildren(
          filterContainer,
          filterTemplateId,
          uuid,
          categories.map(function (category, index) {
            return renderCategory(uuid, category, index);
          }),
          handlers,
          overriddenHandlers
        );
        renderProducts(uuid);
      }

      startup();
      return {
        startup: startup,
        render: render,
        registerHandlers: registerHandlers,
        setActivatedBrandId: setActivatedBrandId,
        getActivatedBrandId: getActivatedBrandId,
        setActivatedCategoryId: setActivatedCategoryId,
        getActivatedCategoryId: getActivatedCategoryId,
        setActivatedSubTypeId: setActivatedSubTypeId,
        selectCurrentProduct: selectCurrentProduct,
        selectCurrentCategories: selectCurrentCategories,
      };
    })();
  } else {
    window.productsGridModule.startup('<%=uuid%>');
  }
</script>
