<div class="ai-skin__result">
  <%- include('../navigator')%>
    <div>
      <div id="output">
        <div class="ai-skin__result-top">
          <div class="ai-skin__result-image ai-skin__image--cropped">
            <img data-src="contain/img/placeholders/skin1.png" id="imageResult">
            <div id="spotContainer" class="ai-skin__result-plot"> </div>
            <div id="blackHeadContainer" class="ai-skin__result-plot"> </div>
            <div id="pimpleContainer" class="ai-skin__result-plot"> </div>
            <div id="acneContainer" class="ai-skin__result-plot"> </div>
            <div id="moleContainer" class="ai-skin__result-plot"></div>
          </div>
          <%- include('../acne.ejs') %>
        </div>
        <div>
          <div class="ai-skin__result-body">
            <div class="ai-skin__result-analyze-section">
              <img data-src="contain/img/separator.svg">
              <span>Kết luận và tư vấn</span>
            </div>
            <div class="ai-skin__result-analyze-content">
              <p id="generalResult"></p>
              <hr />
              <p id="specialResult"></p>
              <hr />
              <p id="generalConclusion"></p>
              <hr />
              <p id="specialConclusion"></p>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="ai-skin__result-analyze-section">
          <img data-src="contain/img/separator.svg">
          <span>Sản phẩm gợi ý</span>
        </div>
        <%- include('../recommend.ejs') %>
      </div>
      <div class="ai-skin__result-bottom">
        <button type="button" class="ai-skin__result-option ai-skin__result-bottom__download" onClick="saveImage()">
          <span>
            Lưu về máy
            <img data-src="contain/img/icons/download.svg">
          </span>
        </button>
        <button type="button" class="ai-skin__result-option ai-skin__result-bottom__share" id="contact">
          <span>
            Liên hệ tư vấn
            <img data-src="contain/img/icons/share.svg">
          </span>
        </button>
      </div>
      <div id="share-buttons">

        <!-- Buffer -->
        <a href="https://bufferapp.com/add?url=https://ungdungsoida.netlify.app&amp;text=Ứng dụng soi da"
          target="_blank">
          <img src="https://simplesharebuttons.com/images/somacro/buffer.png" alt="Buffer" class="img-share" />
        </a>

        <!-- Digg -->
        <a href="http://www.digg.com/submit?url=https://ungdungsoida.netlify.app" target="_blank">
          <img src="https://simplesharebuttons.com/images/somacro/diggit.png" alt="Digg" class="img-share" />
        </a>

        <!-- Email -->
        <a
          href="mailto:?Subject=Ứng dụng soi da&amp;Body=I%20saw%20this%20and%20thought%20of%20you!%20 https://ungdungsoida.netlify.app">
          <img src="https://simplesharebuttons.com/images/somacro/email.png" alt="Email" class="img-share" />
        </a>

        <!-- Facebook -->
        <a href="http://www.facebook.com/sharer.php?u=https://ungdungsoida.netlify.app" target="_blank">
          <img src="https://simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" class="img-share" />
        </a>

        <!-- Google+ -->
        <a href="https://plus.google.com/share?url=https://ungdungsoida.netlify.app" target="_blank">
          <img src="https://simplesharebuttons.com/images/somacro/google.png" alt="Google" class="img-share" />
        </a>

        <!-- LinkedIn -->
        <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=https://ungdungsoida.netlify.app"
          target="_blank">
          <img src="https://simplesharebuttons.com/images/somacro/linkedin.png" alt="LinkedIn" class="img-share" />
        </a>

        <!-- Pinterest -->
        <a
          href="javascript:void((function()%7Bvar%20e=document.createElement('script');e.setAttribute('type','text/javascript');e.setAttribute('charset','UTF-8');e.setAttribute('src','http://assets.pinterest.com/js/pinmarklet.js?r='+Math.random()*99999999);document.body.appendChild(e)%7D)());">
          <img src="https://simplesharebuttons.com/images/somacro/pinterest.png" alt="Pinterest" class="img-share" />
        </a>

        <!-- Print -->
        <a href="javascript:;" onclick="window.print()">
          <img src="https://simplesharebuttons.com/images/somacro/print.png" alt="Print" class="img-share" />
        </a>

        <!-- Reddit -->
        <a href="http://reddit.com/submit?url=https://ungdungsoida.netlify.app&amp;title=Ứng dụng soi da"
          target="_blank">
          <img src="https://simplesharebuttons.com/images/somacro/reddit.png" alt="Reddit" class="img-share" />
        </a>

        <!-- StumbleUpon-->
        <a href="http://www.stumbleupon.com/submit?url=https://ungdungsoida.netlify.app&amp;title=Ứng dụng soi da"
          target="_blank">
          <img src="https://simplesharebuttons.com/images/somacro/stumbleupon.png" alt="StumbleUpon"
            class="img-share" />
        </a>

        <!-- Tumblr-->
        <a href="http://www.tumblr.com/share/link?url=https://ungdungsoida.netlify.app&amp;name=Ứng dụng soi da&hashtags=simplesharebuttons"
          target="_blank">
          <img src="https://simplesharebuttons.com/images/somacro/tumblr.png" alt="Tumblr" class="img-share" />
        </a>

        <!-- Twitter -->
        <a href="http://twitter.com/share?url=http://www.simplesharebuttons.com&text=Ứng dụng soi da&hashtags=simplesharebuttons"
          target="_blank">
          <img src="http://www.simplesharebuttons.com/images/somacro/twitter.png" alt="Twitter" class="img-share" />
        </a>

        <!-- VK -->
        <a href="http://vkontakte.ru/share.php?url=https://ungdungsoida.netlify.app" target="_blank">
          <img src="https://simplesharebuttons.com/images/somacro/vk.png" alt="VK" class="img-share" />
        </a>

        <!-- Yummly -->
        <a href="http://www.yummly.com/urb/verify?url=https://ungdungsoida.netlify.app&amp;title=Ứng dụng soi da&hashtags=simplesharebuttons"
          target="_blank">
          <img src="https://simplesharebuttons.com/images/somacro/yummly.png" alt="Yummly" class="img-share" />
        </a>

      </div>
    </div>
</div>