<div class="ai-skin__skin">
  <%- include('../navigator')%>
  
  <div class="ai-skin__skin-top">
    <button type="button" class="ai-skin__skin-option ai-skin__skin-top__choose-image" onclick="skinModule.chooseImage()">
      <span>
        Chọn ảnh
        <img data-src="contain/img/icons/photo.svg">
        <input type="file" name="file" id="localImageInput" accept="image/*" hidden />
      </span>
    </button>
    <button type="button" class="ai-skin__skin-option ai-skin__skin-top__use-camera" onclick="skinModule.openCamera()">
      <span>Chụp ảnh
        <img data-src="contain/img/icons/camera.svg">
        <input type="file" name="file" id="nativeCameraInput" accept="image/*" capture="user" hidden />
      </span>
    </button>
  </div>

  <div class="ai-skin-skin-body">
    <div class="ai-skin__skin-image ai-skin__skin-image--inactive" id="skinImage">
      <img class="ai-skin__skin-image__background" data-src="contain/img/placeholders/skin1.png">
      <div class="ai-skin__skin-video-player" id="videoPlayer">
        <video id="video" autoplay muted playsInline>No video available</video>
        <canvas id="canvas" hidden></canvas>
      </div>
      <div class="ai-skin__skin-image-show ai-skin__image--cropped">
        <img id="imageShow" />
      </div>
      <div class="ai-skin__skin-focus">
        <img data-src="contain/img/placeholders/corner-top-left.svg" class="ai-skin__skin-focus__tl">
        <img data-src="contain/img/placeholders/corner-top-right.svg" class="ai-skin__skin-focus__tr">
        <img data-src="contain/img/placeholders/corner-bottom-left.svg" class="ai-skin__skin-focus__bl">
        <img data-src="contain/img/placeholders/corner-bottom-right.svg" class="ai-skin__skin-focus__br">
      </div>
      <img id="output" hidden/>
    </div>

    <div class="ai-skin__button ai-skin__button--disabled ai-skin__skin-body__button" id="uploadBtn">
      <button type="button" onclick="skinModule.uploadImage()">
        Tải ảnh lên & phân tích
      </button>
    </div>

    <div
      class="ai-skin__button ai-skin__button--hidden ai-skin__skin-body__button"
      id="uploadingBtn">
      <button type="button">Tải lên ...</button>
    </div>

    <div class="ai-skin__button ai-skin__button--hidden ai-skin__skin-body__button" id="captureBtn">
      <button type="button">Chụp ảnh</button>
    </div>
  </div>
</div>
