<div class="container">
    <!-- TOP BRAND INTRODUCE -->
    <div class="row py-4 py-md-4 mx-0">
        <div class="col-12 text-center top-brand-introduce">
            Sang chảnh như các TOP BRAND chỉ với 1 cú click
        </div>
        <div class="col-xl-4 col-md-4 col-12 ">
            <div class="card card-top-brand">
                <div class="card-body">
                    <img src="../assets/images/skin_screening/card_1.png" alt="">
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-md-4 col-12 ">
            <div class="card card-top-brand">
                <div class="card-body">
                    <img src="../assets/images/skin_screening/card_2.png" alt="">
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-md-4 col-12 ">
            <div class="card card-top-brand">
                <div class="card-body">
                    <img src="../assets/images/skin_screening/card_3.png" alt="">
                </div>
            </div>
        </div>


    </div>

    <div class="row mx-0">
        <col-xl-4></col-xl-4>
    </div>

    <!-- SOI DA AI ONLINE -->

    <div class="service-introduce-common-2">SOI DA ONLINE AI</div>

    <div class="row justify-content-center mb-md-5 mb-3 mx-0">
        <div class="col-12 col-md-6 col-lg-4 text-center text-center">
            <div class="pb-md-5 pb-3">
                <img src="../assets/images/skin_screening/img_model.png" alt="">
            </div>
            <button class="btn-right-now-common" onclick="navigateTo('/skin')">
        Ngay bây giờ
      </button>
        </div>
    </div>

    <!-- INTRODUCE SOI DA AI -->

    <div class="row justify-content-center mx-0 " id="trigger-right">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="border-info-common">
                <div class="border-info-head">
                    <div class="info-head-title">Dựa trên nền tảng của </div>
                    <strong>
            &lt; Công Nghệ Trí Tuệ Nhân Tạo &gt;
          </strong>
                    <div class="info-head-text">
                        Giúp phát hiện các vấn đề về da phổ biến, như mụn trứng cá, quầng thâm và đốm trên mặt. (48 thông số)
                    </div>
                    <div class="info-head-text">
                        Giúp thiết kế một chu trình chăm sóc da dành riêng cho bạn.
                    </div>
                    <div class="info-head-text">
                        Đồng thời, tăng trải nghiệm mua sắm của bạn với các tính năng thử son, thử make up, book lịch hẹn và mua hàng online.
                    </div>
                </div>
                <div class="border-info-body">
                    <div class="info-body-box">
                        <div class="info-body-title">
                            ĐƯỢC XÂY DỰNG BỞI
                        </div>
                        <div class="info-service-name">
                            15 năm nghiên cứu chuyên sâu về da
                        </div>
                        <div class="info-body-text">
                            Cơ sở dữ liệu về lão hóa da lớn nhất - Shanghai Skin Disease Hospital
                        </div>
                        <div class="info-body-text">
                            Hàng triệu hình ảnh đã được phân loại với thời gian thực
                        </div>
                        <div class="info-body-text">
                            Hàng triệu máy soi da đa dạng được sử dụng
                        </div>

                        <div class="info-service-name">
                            Thuận toán phân tích da độc quyền
                        </div>
                        <div class="info-body-text">
                            Phát hiện và đánh giá mức độ 48 thông số về da & được chia làm 10 nhóm các vấn đề về da.
                        </div>
                        <div class="info-body-text">Xác định điểm mạnh và những vấn đề cần ưu tiên cho làn da của bạn.</div>
                        <div class="info-body-text">
                            So sánh với những lần soi da trước để cảm nhận sự thay đổi
                        </div>

                        <div class="info-service-name">
                            Được phát triển bởi các bác sĩ da liễu
                        </div>
                        <div class="info-body-text">
                            Dữ liệu càng nhiều % độ chính xác càng cao. Mô hình đánh giá da với độ chính xác cao và chu trình chăm sóc da riêng biệt dựa trên chuyên môn của các bác sĩ da liễu hàng đầu.
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>


    <!-- IMAGE MODEL 2 -->
    <div class="row justify-content-center my-md-4 my-3 mx-0">
        <div class="col-12 col-md-6 col-lg-7 text-center">
            <div class="my-2">
                <img src="../assets/images/skin_screening/model_2.png" alt="">
            </div>
        </div>
    </div>

    <!-- IMAGE MODEL 3 -->
    <div class="row justify-content-center my-xl-5 my-md-4 my-3 mx-0">
        <div class="col-12 col-md-6 col-lg-7 text-center">
            <div class="my-2">
                <img src="../assets/images/skin_screening/model_3.png" alt="">
            </div>
        </div>
    </div>

    <!-- RESULT TEXR -->
    <div class="row mx-0 justify-content-center my-xl-5 my-md-4 my-3">
        <div class="col-xl-6 col-lg-6 col-md-7">
            <div class="result-title">
                Phân tích kế quả soi da của bạn
            </div>
            <div class="result-descript">
                Khám phá kết quả da của bạn theo mức độ của từng dấu hiệu
            </div>
            <div class=""> - Các dấu hiệu lão hóa da </div>
            <div class=""> - Các dấu hiệu nhận diện mụn và mụn viêm </div>
            <div class=""> - Các dấu hiệu quầng thâm mắt </div>
            <div class=""> - Các dấu hiệu lỗ chân lông to;</div>
            <div class=""> - Số lượng đốm thâm nám và mụn </div>
            <div class="">
                - Xác định điểm mạnh của làn da bạn và thiết kế chu trình chăm sóc da dành riêng cho bạn
            </div>
        </div>
    </div>

    <!-- MULTI-STEP -->
    <div class="row justify-content-center mx-0 mb-xl-3">
        <div class="col-xl-8 col-lg-7 col-md-9 col-sm-12 col-12">
            <div class="border-info-common">
                <div class="border-info-head">
                    <div class="info-head-title">Chỉ với 3 bước đơn giản </div>
                    <div class="info-head-text">
                        Chụp một bức ảnh cận mặt
                    </div>
                    <div class="info-head-text">
                        Khám phá kết quả và phân tích da của bạn
                    </div>
                    <div class="info-head-text">
                        Gợi ý sản phẩm & dịch vụ tương tích với làn da của bạn
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- NOTE -->
    <div class="row justify-content-center text-center mx-0 mb-4">
        <div class="col-xl-7">
            <div>Được sử dụng trên cả Web và Mobile App</div>
            <div>Dựa trên Atlas da được tạo ra và chứng nhận bởi các bác sĩ da liễu.</div>
        </div>
    </div>

    <!-- CHART -->
    <div class="row mx-0 align-items-center justify-content-center mb-4">
        <div class="col-md-6 col-sm-12  d-flex justify-content-center" id="chart_image_ID">
            <img src="../assets/images/skin_screening/chart.png" alt="">
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="chart-title">Liệu pháp chăm sóc da phù hợp với bạn</div>
            <div class="chart-text">
                Nhận chu trình chăm sóc da được thiết kế dành riêng cho bạn, được thiết kế và kiểm duyệt bởi các chuyên gia da liễu
            </div>
        </div>
    </div>

    <!-- FORM CONTACT -->
    <div class="row mx-0 d-flex justify-content-center mb-5">
        <div class="card custom-card-contact">
            <div class="card-body">
                <div class="row mb-0 mb-md-3 mx-0">
                    <div class="col-12 text-center mb-2">
                        <h4>Xin vui lòng để lại thông tin để nhận quà</h4>
                    </div>
                    <div class="col-12 col-md-6 mb-3 mb-md-0">
                        <input type="text" placeholder="Họ và tên" class="form-input-contact" />
                        <div class="user-img-contact">
                            <img src="../assets/images/user.png" alt="">
                        </div>
                        </input>
                    </div>
                    <div class="col-12 col-md-6 mb-3 mb-md-0">
                        <input type="text" placeholder="Số điện thoại" class="form-input-contact" />
                        <div class="phone-img-contact">
                            <img src="../assets/images/number_phone_contact.png" alt="">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 text-center">
                        <button class="btn-countinue">Tiếp tục <i class="fas fa-chevron-right"></i></button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>