html {
    width: 100%;
    min-height: 100%;
    overflow-x: hidden;

    
}
body {
    min-height: 100%;
  
}
//list data


.header-menu{
    height: 56px;
    display: flex;
    -webkit-box-align: stretch;
    align-items: stretch;
    box-shadow: rgb(39 39 39 / 8%) 0px 1px 0px 0px;
    .container
    {
        display: flex;
        .nav-sub-menu-header
        {  
             margin-left: auto;
           
             display: flex;
            height: 100%;
            .nav-menu-header-item
            {
                height: 100%;
                display:inline-flex;
                position: relative;
                

                .dropdown-menu {
                    display: none;
                    position: absolute;
                    background-color: #f9f9f9;
                    min-width: 160px;
                    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
               
                    z-index: 1;
               }
              
                  

            }
            .nav-menu-header-item:hover .dropdown-menu  {
                    display: block;
                    margin-top: 0px;
                    /* border: none; */
                    border: none;
                    border-radius: 0px;
                    height: max-content;
                    a {
                        padding: 16px 8px;
                        min-width: 159px;
                        -webkit-box-align: center;
                        align-items: center;
                        color: rgb(78, 89, 93);
                        font-weight: 500;
                        font-size: 15px;
                        text-decoration: none;
                       
                    }
              }
            .cart-btn-menu{
                margin-left: 30px;
            }

            text-align: right;
            align-items: center;
            .btn::after{
                display: inline-block;
                width: 0px;
                height: 0px;
                margin-left: 0.3em;
                vertical-align: middle;
                content: "";
                border-top: 0.3em solid;
                border-right: 0.3em solid transparent;
                border-left: 0.3em solid transparent;
            }
            .btn  {
                button {
                    border:none;
                }
            }
         }
    }

    .logo {
        max-width:150px;
        height: 100%;
        display: flex;
        align-items: center;
        img {
            width: 100%;
            max-height: 100%;
        }

    }
}

.foooterSC
{
    .fw-bold {
        font-weight: bold;
        margin-top: 20px;
    }
    a {
        display:block;
        color: #4e595d;
    }
}


.footerColumn  {
    a {
        display: block;
        color: #000;
    }

  
}


.soc-likes a {
    background-image: url(https://tikitech.vn/resources/images/social/icon-fb.svg);
}


.nav-mobile {
    width: 100%;
    height: 50px;

    position: relative;
    display: flex;
    .navbar-open-menu {
        display: flex;
        align-items: center;
        padding: 0px 10px;
    }
    .navbar-cart {
        margin-left: auto;
        display: flex;
        align-items: center;
        padding: 0px 10px;
    }
    .navbar-mobile-logo {
        justify-content: center;
        display: flex;
        height: 100%;
        flex: 1 1 0%;
    }
}


.nav-mobile
{
    display : none;
}


@media screen and (max-width: 992px) {
    .header-menu
    {
       display: none;
        
    }

    .nav-mobile {

        display: flex;
    }
    
    .slide-banner-sale {
        width: 100%;
        height: calc(40vh - 80px);
    }
    .footer-cs {
        text-align: center;
        font-size: 14px;
    }
    .footerColumn 
    {
        margin-bottom: 10px;
        margin-top: 10px;
    }
    .upcommimg {
        text-align: center;
        .banner-item {
            img {
                width: 90%;
            }
        }
    }
}


.menu-mobile {
    .close-btn{
        position: absolute;
        right: 0px;
        top: 0px;
        display: flex;
        width: 48px;
        height: 48px;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
    }

    z-index: 1;
    background-color:#fff;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 0%;
    opacity: 1;
    position: fixed;
    height: 100%;
    overflow-x: hidden;

    .header-nav{
        width: auto;
        text-align: center;
        height: auto;
        img {
            width: 80%;
           

        }
        .welcome-text
        {
            padding: 8px 0px;
            width: 100%;
            text-align: center;
            box-shadow: rgb(78 89 93 / 15%) 0px -1px 0px 0px inset;
            font-size: 14px;
        }
    }
    .content-menu
    {
        height: 100%;
        width: 100%;
        a {
            color: rgb(78, 89, 93);
        }
        .item {
            height: 54px;
            width: 100%;
            display: flex;
            -webkit-box-pack: start;
            justify-content: flex-start;
            padding-left: 0.5rem;
            box-shadow: rgb(78 89 93 / 15%) 0px -1px 0px 0px inset;
            text-transform: uppercase;
            align-items: center;
            .menu-text {
                margin-left: .5rem!important;
            }
            
        }
        .bottom-mobile-menu
        {
            height: 60px;
            background-color: #000;
        }
     }
    
}



.frm-login
{
    max-width: 600px;
    margin: auto;
    input {
        height: 50px;

    }
    input:focus {
        outline: none !important;
        border:1px solid #16accf;
       
      }
    
    .title-form 
    {
        text-align: center;
        text-transform: uppercase;
        margin-top: 10vh;
        font-weight: bold;
    }
    .lable-password
    {
        width: 100%;
        justify-content: space-between;
        display:flex;
        label:last-child {
            color: #16accf;
         }
    }
    .btn-primary 
    {
        width: 100%;
        height: 50px;
        background-color: #16accf;  
        border: none;      
    }
    .tip-text 
    {
        text-align: right;
        strong {
            color : #16accf; 
        }
        padding: 10px 0px;
        

    }

    .frm-social
    {
        margin-top: 20px;
        
        button {
            width: 100%;
            border: none;
            height: 50px;
            background-color: #16accf;  
            color: #ffffff;
        }
    }
    .title-break {
        padding: 10px;
        text-align: center;
    }
}






